<div class="container-fluid p-1 m-0 scheduling-target-contact-details-container">
    <div class="p-2 detail-background">
        <div class="card mb-3 header-card shadow-sm">
            <div class="scheduling-target-contact-details-header">
                <div class="header-left">
                    <button class="btn btn-sm btn-light back-button me-2" (click)="goBack()" ngbTooltip="Go Back"  *ngIf="canGoBack()"><i class="fa-solid fa-arrow-left"></i></button>
                    <div>
                        <h3 class="page-title mb-0">Scheduling Target Contact</h3>
                        <small class="text-muted">{{ isEditMode ? 'Edit Scheduling Target Contact' : 'Add Scheduling Target Contact'}}</small>
                    </div>
                </div>
            </div>
        </div>

        <div class="card mb-3 header-card shadow-sm">
            <div class="row flex-grow-1" *ngIf="userIsSchedulerSchedulingTargetContactReader()">
                <div class="col m-2 scheduling-target-contact-details-body">
                    <div *showSpinner="isLoading$ | async">
                        <form [class.hidden]="isLoading$ | async" [formGroup]="schedulingTargetContactForm" (ngSubmit)="submitForm()" class="scheduling-target-contact-details-form">
                            <div class="form-group" *ngIf="!isFieldHidden('schedulingTargetId')">
                                <label for="SchedulingTargetContact-schedulingTargetId" id="label-SchedulingTargetContact-schedulingTargetId"><span class="text-danger">*</span>Scheduling Target</label>
                                <select id="SchedulingTargetContact-schedulingTargetId" formControlName="schedulingTargetId" class="form-select scheduling-target-contact-select" [disabled]="!userIsSchedulerSchedulingTargetContactWriter()">
                                    <option [ngValue]="null">Select Scheduling Target</option>
                                    <option *ngFor="let schedulingTarget of schedulingTargets$ | async" [ngValue]="schedulingTarget.id">{{[schedulingTarget.name] | filterAndJoin}}</option>
                                </select>
                                <div *ngIf="schedulingTargetContactForm.get('schedulingTargetId')?.invalid && schedulingTargetContactForm.get('schedulingTargetId')?.touched" class="text-danger">
                                    Scheduling Target is required
                                </div>
                            </div>
                            <div class="form-group" *ngIf="!isFieldHidden('contactId')">
                                <label for="SchedulingTargetContact-contactId" id="label-SchedulingTargetContact-contactId"><span class="text-danger">*</span>Contact</label>
                                <select id="SchedulingTargetContact-contactId" formControlName="contactId" class="form-select scheduling-target-contact-select" [disabled]="!userIsSchedulerSchedulingTargetContactWriter()">
                                    <option [ngValue]="null">Select Contact</option>
                                    <option *ngFor="let contact of contacts$ | async" [ngValue]="contact.id">{{contact.firstName}}</option>
                                </select>
                                <div *ngIf="schedulingTargetContactForm.get('contactId')?.invalid && schedulingTargetContactForm.get('contactId')?.touched" class="text-danger">
                                    Contact is required
                                </div>
                            </div>
                            <div class="form-check my-2" *ngIf="!isFieldHidden('isPrimary')">
                                <input type="checkbox" id="SchedulingTargetContact-isPrimary" formControlName="isPrimary" class="form-check-input" [disabled]="!userIsSchedulerSchedulingTargetContactWriter()" />
                                <label for="SchedulingTargetContact-isPrimary" class="form-check-label" id="label-SchedulingTargetContact-isPrimary"><span class="text-danger">*</span>Is Primary</label>
                            </div>
                            <div class="form-group" *ngIf="!isFieldHidden('relationshipTypeId')">
                                <label for="SchedulingTargetContact-relationshipTypeId" id="label-SchedulingTargetContact-relationshipTypeId"><span class="text-danger">*</span>Relationship Type</label>
                                <select id="SchedulingTargetContact-relationshipTypeId" formControlName="relationshipTypeId" class="form-select scheduling-target-contact-select" [disabled]="!userIsSchedulerSchedulingTargetContactWriter()">
                                    <option [ngValue]="null">Select Relationship Type</option>
                                    <option *ngFor="let relationshipType of relationshipTypes$ | async" [ngValue]="relationshipType.id">{{relationshipType.name}}</option>
                                </select>
                                <div *ngIf="schedulingTargetContactForm.get('relationshipTypeId')?.invalid && schedulingTargetContactForm.get('relationshipTypeId')?.touched" class="text-danger">
                                    Relationship Type is required
                                </div>
                            </div>
                            <div class="form-group"*ngIf="!isFieldHidden('{fc.camelCaseName}')" )>
                                <label for="SchedulingTargetContact-versionNumber" id="label-SchedulingTargetContact-versionNumber"><span class="text-danger">*</span>Version Number</label>
                                <input type="number" id="SchedulingTargetContact-versionNumber" formControlName="versionNumber" [disabled]="true" placeholder="Enter Version Number" class="form-control scheduling-target-contact-input" />
                            </div>
                            <div class="form-check my-2"*ngIf="!isFieldHidden('{fc.camelCaseName}')" )>
                                <input type="checkbox" id="SchedulingTargetContact-active" formControlName="active" class="form-check-input" [disabled]="!userIsSchedulerSchedulingTargetContactWriter()" />
                                <label for="SchedulingTargetContact-active" class="form-check-label" id="label-SchedulingTargetContact-active"><span class="text-danger">*</span>Active</label>
                            </div>
                            <div class="form-check my-2"*ngIf="!isFieldHidden('{fc.camelCaseName}')" )>
                                <input type="checkbox" id="SchedulingTargetContact-deleted" formControlName="deleted" class="form-check-input" [disabled]="!userIsSchedulerSchedulingTargetContactWriter()" />
                                <label for="SchedulingTargetContact-deleted" class="form-check-label" id="label-SchedulingTargetContact-deleted"><span class="text-danger">*</span>Deleted</label>
                            </div>
                            <div class="scheduling-target-contact-details-footer">
                                <button *ngIf="isEditMode" type="button" class="btn btm-sm btn-secondary" [disabled]="schedulingTargetContactForm.pristine" (click)="loadData(true)" ngbTooltip="Reload Scheduling Target Contact">Reset</button>
                                <button type="submit" class="btn btm-sm btn-primary" [disabled]="isSaving || !schedulingTargetContactForm.valid || !schedulingTargetContactForm.dirty || schedulingTargetContactForm.pristine || userIsSchedulerSchedulingTargetContactWriter() == false " ngbTooltip="Save Scheduling Target Contact">{{ isEditMode ? 'Save' : 'Create' }}</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-3 header-card shadow-sm" *ngIf="isEditMode && userIsSchedulerSchedulingTargetContactReader() && (isLoading$ | async) == false">
            <div class="row flex-grow-1">
                <div class="col m-2 scheduling-target-contact-details-body">

                    <ul ngbNav #nav="ngbNav" class="nav-tabs">
                      <li ngbNavItem *ngIf="schedulingTargetContactChangeHistoryService.userIsSchedulerSchedulingTargetContactChangeHistoryReader()">
                            <button ngbNavLink>Scheduling Target Contact Change Histories
                                <span class="badge bg-primary ms-2">
                                    {{ (schedulingTargetContactData?.SchedulingTargetContactChangeHistoriesCount$ | async) ?? '-' }}
                                </span>
                            </button>
                            <ng-template ngbNavContent>
                            <div class="d-flex flex-column gap-3 p-0">
                                <div class="flex-grow-1">
                                    <app-scheduling-target-contact-change-history-table [queryParams]="{ schedulingTargetContactId: schedulingTargetContactData?.id }"></app-scheduling-target-contact-change-history-table>
                                </div>
                                <div class="d-flex justify-content-end">
                                    <app-scheduling-target-contact-change-history-add-edit [preSeededData]="{ schedulingTargetContactId: schedulingTargetContactData?.id }" [hiddenFields]="['schedulingTargetContactId']"></app-scheduling-target-contact-change-history-add-edit>
                                </div>
                            </div>
                            </ng-template>
                        </li>
                    </ul>
                     <div [ngbNavOutlet]="nav"></div>
                </div>
            </div>
        </div>
    </div>
</div>

