<div class="add-notification-subscription" *ngIf="showAddButton == true">
    <button type="button"
        class="btn btn-sm btn-add-notification-subscription me-2"
        (click)="openModal()"
        ngbTooltip="Add Notification Subscription" 
        *ngIf="userIsSchedulerNotificationSubscriptionWriter() == true"
        placement="top"
        style="min-width: 75px;">Add</button>
</div>

<!-- ng-bootstrap modal -->
<ng-template #notificationSubscriptionModal let-modal>
   <div class="modal-header bg-dark text-light notification-subscription-modal-header">
      <h5 class="modal-title mb-0" id="notificationSubscriptionModalLabel" ngbTooltip="{{objectGuid}}">
      {{ isEditMode ? 'Edit Notification Subscription' : 'Add Notification Subscription' }}
      </h5>
      <button type="button"
              class="btn btn-sm btn-close btn-close-white"
              (click)="closeModal()">
       </button>
   </div>
   <div class="modal-body notification-subscription-modal-body">
      <form [formGroup]="notificationSubscriptionForm" (ngSubmit)="submitForm()">
            <div class="form-group" *ngIf="!isFieldHidden('resourceId')">
                <label for="NotificationSubscription-resourceId" id="label-NotificationSubscription-resourceId">Resource</label>
                <select id="NotificationSubscription-resourceId" formControlName="resourceId" class="form-select notification-subscription-select" [disabled]="!userIsSchedulerNotificationSubscriptionWriter()">
                    <option [ngValue]="null">Select Resource</option>
                    <option *ngFor="let resource of resources$ | async" [ngValue]="resource.id">{{[resource.name] | filterAndJoin}}</option>
                </select>
            </div>
            <div class="form-group" *ngIf="!isFieldHidden('contactId')">
                <label for="NotificationSubscription-contactId" id="label-NotificationSubscription-contactId">Contact</label>
                <select id="NotificationSubscription-contactId" formControlName="contactId" class="form-select notification-subscription-select" [disabled]="!userIsSchedulerNotificationSubscriptionWriter()">
                    <option [ngValue]="null">Select Contact</option>
                    <option *ngFor="let contact of contacts$ | async" [ngValue]="contact.id">{{contact.firstName}}</option>
                </select>
            </div>
            <div class="form-group" *ngIf="!isFieldHidden('notificationTypeId')">
                <label for="NotificationSubscription-notificationTypeId" id="label-NotificationSubscription-notificationTypeId"><span class="text-danger">*</span>Notification Type</label>
                <select id="NotificationSubscription-notificationTypeId" formControlName="notificationTypeId" class="form-select notification-subscription-select" [disabled]="!userIsSchedulerNotificationSubscriptionWriter()">
                    <option [ngValue]="null">Select Notification Type</option>
                    <option *ngFor="let notificationType of notificationTypes$ | async" [ngValue]="notificationType.id">{{notificationType.name}}</option>
                </select>
                <div *ngIf="notificationSubscriptionForm.get('notificationTypeId')?.invalid && notificationSubscriptionForm.get('notificationTypeId')?.touched" class="text-danger">
                    Notification Type is required
                </div>
            </div>
            <div class="form-group" *ngIf="!isFieldHidden('triggerEvents')">
                <label for="NotificationSubscription-triggerEvents" id="label-NotificationSubscription-triggerEvents"><span class="text-danger">*</span>Trigger Events</label>
                <input type="number" id="NotificationSubscription-triggerEvents" formControlName="triggerEvents" placeholder="Enter Trigger Events" class="form-control notification-subscription-input" [disabled]="!userIsSchedulerNotificationSubscriptionWriter()" aria-labelledby="label-triggerEvents" />
                <div *ngIf="notificationSubscriptionForm.get('triggerEvents')?.invalid && notificationSubscriptionForm.get('triggerEvents')?.touched" class="text-danger">
                    Trigger Events is required
                </div>
            </div>
            <div class="form-group" *ngIf="!isFieldHidden('recipientAddress')">
                <label for="NotificationSubscription-recipientAddress" id="label-NotificationSubscription-recipientAddress"><span class="text-danger">*</span>Recipient Address</label>
                <input type="text" id="NotificationSubscription-recipientAddress" formControlName="recipientAddress" placeholder="Enter Recipient Address" class="form-control notification-subscription-input" [disabled]="!userIsSchedulerNotificationSubscriptionWriter()" aria-labelledby="label-recipientAddress" />
                <div *ngIf="notificationSubscriptionForm.get('recipientAddress')?.invalid && notificationSubscriptionForm.get('recipientAddress')?.touched" class="text-danger">
                    Recipient Address is required
                </div>
            </div>
            <div class="form-group" *ngIf="isEditMode && !isFieldHidden('{fc.camelCaseName}')" )>
                <label for="NotificationSubscription-versionNumber" id="label-NotificationSubscription-versionNumber"><span class="text-danger">*</span>Version Number</label>
                <input type="number" id="NotificationSubscription-versionNumber" formControlName="versionNumber" [disabled]="true" placeholder="Enter Version Number" class="form-control notification-subscription-input" />
            </div>
            <div class="form-check my-2" *ngIf="isEditMode && !isFieldHidden('{fc.camelCaseName}')" )>
                <input type="checkbox" id="NotificationSubscription-active" formControlName="active" class="form-check-input" [disabled]="!userIsSchedulerNotificationSubscriptionWriter()" />
                <label for="NotificationSubscription-active" class="form-check-label" id="label-NotificationSubscription-active"><span class="text-danger">*</span>Active</label>
            </div>
            <div class="form-check my-2" *ngIf="isEditMode && !isFieldHidden('{fc.camelCaseName}')" )>
                <input type="checkbox" id="NotificationSubscription-deleted" formControlName="deleted" class="form-check-input" [disabled]="!userIsSchedulerNotificationSubscriptionWriter()" />
                <label for="NotificationSubscription-deleted" class="form-check-label" id="label-NotificationSubscription-deleted"><span class="text-danger">*</span>Deleted</label>
            </div>
         <div class="modal-footer notification-subscription-modal-footer">
            <button type="button" class="btn btn-sm btn-secondary" (click)="closeModal()" ngbTooltip="Cancel the Notification Subscription changes and Close">Cancel</button>
            <button type="submit" class="btn btn-sm btn-primary" [disabled]="isSaving || !notificationSubscriptionForm.valid || notificationSubscriptionForm.pristine || !userIsSchedulerNotificationSubscriptionWriter()" ngbTooltip="Save the Notification Subscription changes and Close">{{ isEditMode ? 'Save' : 'Create' }}</button>
         </div>
      </form>
   </div>
</ng-template>
