<div class="container-fluid p-1 m-0 export-format-details-container">
    <div class="p-2 detail-background">
        <div class="card mb-3 header-card shadow-sm">
            <div class="export-format-details-header">
                <div class="header-left">
                    <button class="btn btn-sm btn-light back-button me-2" (click)="goBack()" ngbTooltip="Go Back"  *ngIf="canGoBack()"><i class="fa-solid fa-arrow-left"></i></button>
                    <div>
                        <h3 class="page-title mb-0">Export Format</h3>
                        <small class="text-muted">{{ isEditMode ? 'Edit Export Format' : 'Add Export Format'}}</small>
                    </div>
                </div>
            </div>
        </div>

        <div class="card mb-3 header-card shadow-sm">
            <div class="row flex-grow-1" *ngIf="userIsBMCExportFormatReader()">
                <div class="col m-2 export-format-details-body">
                    <div *showSpinner="isLoading$ | async">
                        <form [class.hidden]="isLoading$ | async" [formGroup]="exportFormatForm" (ngSubmit)="submitForm()" class="export-format-details-form">
                            <div class="form-group" *ngIf="!isFieldHidden('name')">
                                <label for="ExportFormat-name" id="label-ExportFormat-name"><span class="text-danger">*</span>Name</label>
                                <input type="text" id="ExportFormat-name" formControlName="name" placeholder="Enter Name" class="form-control export-format-input" [disabled]="!userIsBMCExportFormatWriter()" aria-labelledby="label-name" />
                                <div *ngIf="exportFormatForm.get('name')?.invalid && exportFormatForm.get('name')?.touched" class="text-danger">
                                    Name is required
                                </div>
                            </div>
                            <div class="form-group" *ngIf="!isFieldHidden('description')">
                                <label for="ExportFormat-description" id="label-ExportFormat-description"><span class="text-danger">*</span>Description</label>
                                <textarea id="ExportFormat-description" formControlName="description" placeholder="Enter Description" class="form-control export-format-input" [disabled]="!userIsBMCExportFormatWriter()"></textarea>
                                <div *ngIf="exportFormatForm.get('description')?.invalid && exportFormatForm.get('description')?.touched" class="text-danger">
                                    Description is required
                                </div>
                            </div>
                            <div class="form-group" *ngIf="!isFieldHidden('fileExtension')">
                                <label for="ExportFormat-fileExtension" id="label-ExportFormat-fileExtension">File Extension</label>
                                <input type="text" id="ExportFormat-fileExtension" formControlName="fileExtension" placeholder="Enter File Extension" class="form-control export-format-input" [disabled]="!userIsBMCExportFormatWriter()" aria-labelledby="label-fileExtension" />
                            </div>
                            <div class="form-group" *ngIf="!isFieldHidden('sequence')">
                                <label for="ExportFormat-sequence" id="label-ExportFormat-sequence">Sequence</label>
                                <input type="number" id="ExportFormat-sequence" formControlName="sequence" placeholder="Enter Sequence" class="form-control export-format-input" [disabled]="!userIsBMCExportFormatWriter()" aria-labelledby="label-sequence" />
                            </div>
                            <div class="form-check my-2"*ngIf="!isFieldHidden('{fc.camelCaseName}')" )>
                                <input type="checkbox" id="ExportFormat-active" formControlName="active" class="form-check-input" [disabled]="!userIsBMCExportFormatWriter()" />
                                <label for="ExportFormat-active" class="form-check-label" id="label-ExportFormat-active"><span class="text-danger">*</span>Active</label>
                            </div>
                            <div class="form-check my-2"*ngIf="!isFieldHidden('{fc.camelCaseName}')" )>
                                <input type="checkbox" id="ExportFormat-deleted" formControlName="deleted" class="form-check-input" [disabled]="!userIsBMCExportFormatWriter()" />
                                <label for="ExportFormat-deleted" class="form-check-label" id="label-ExportFormat-deleted"><span class="text-danger">*</span>Deleted</label>
                            </div>
                            <div class="export-format-details-footer">
                                <button *ngIf="isEditMode" type="button" class="btn btm-sm btn-secondary" [disabled]="exportFormatForm.pristine" (click)="loadData(true)" ngbTooltip="Reload Export Format">Reset</button>
                                <button type="submit" class="btn btn-sm btn-primary" [disabled]="isSaving || !exportFormatForm.valid || !exportFormatForm.dirty || exportFormatForm.pristine  || userIsBMCExportFormatWriter() == false " ngbTooltip="Save the Export Format changes">
                                    <span *ngIf="isSaving">
                                        <span class="spinner-border spinner-border-sm me-1" role="status" aria-hidden="true"></span>
                                        Saving...
                                    </span>
                                    <span *ngIf="!isSaving">
                                        <i class="fa-solid fa-check me-1"></i>
                                        {{ isEditMode ? 'Save Changes' : 'Add Export Format' }}
                                    </span>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-3 header-card shadow-sm" *ngIf="isEditMode && userIsBMCExportFormatReader() && (isLoading$ | async) == false">
            <div class="row flex-grow-1">
                <div class="col m-2 export-format-details-body">

                    <ul ngbNav #nav="ngbNav" class="nav-tabs">
                      <li ngbNavItem *ngIf="projectExportService.userIsBMCProjectExportReader()">
                            <button ngbNavLink>Project Exports
                                <span class="badge bg-primary ms-2">
                                    {{ (exportFormatData?.ProjectExportsCount$ | async) ?? '-' }}
                                </span>
                            </button>
                            <ng-template ngbNavContent>
                            <div class="d-flex flex-column gap-3 p-0">
                                <div class="flex-grow-1">
                                    <app-project-export-table [queryParams]="{ exportFormatId: exportFormatData?.id }" [showAddButton]="true" [preSeededData]="{ exportFormatId: exportFormatData?.id }" [hiddenFields]="['exportFormatId']"></app-project-export-table>
                                </div>
                            </div>
                            </ng-template>
                        </li>
                    </ul>
                     <div [ngbNavOutlet]="nav"></div>
                </div>
            </div>
        </div>
    </div>
</div>

