<div class="container-fluid p-1 m-0 shift-pattern-day-details-container">
    <div class="p-2 detail-background">
        <div class="card mb-3 header-card shadow-sm">
            <div class="shift-pattern-day-details-header">
                <div class="header-left">
                    <button class="btn btn-sm btn-light back-button me-2" (click)="goBack()" ngbTooltip="Go Back"  *ngIf="canGoBack()"><i class="fa-solid fa-arrow-left"></i></button>
                    <div>
                        <h3 class="page-title mb-0">Shift Pattern Day</h3>
                        <small class="text-muted">{{ isEditMode ? 'Edit Shift Pattern Day' : 'Add Shift Pattern Day'}}</small>
                    </div>
                </div>
            </div>
        </div>

        <div class="card mb-3 header-card shadow-sm">
            <div class="row flex-grow-1" *ngIf="userIsSchedulerShiftPatternDayReader()">
                <div class="col m-2 shift-pattern-day-details-body">
                    <div *showSpinner="isLoading$ | async">
                        <form [class.hidden]="isLoading$ | async" [formGroup]="shiftPatternDayForm" (ngSubmit)="submitForm()" class="shift-pattern-day-details-form">
                            <div class="form-group" *ngIf="!isFieldHidden('shiftPatternId')">
                                <label for="ShiftPatternDay-shiftPatternId" id="label-ShiftPatternDay-shiftPatternId"><span class="text-danger">*</span>Shift Pattern</label>
                                <select id="ShiftPatternDay-shiftPatternId" formControlName="shiftPatternId" class="form-select shift-pattern-day-select" [disabled]="!userIsSchedulerShiftPatternDayWriter()">
                                    <option [ngValue]="null">Select Shift Pattern</option>
                                    <option *ngFor="let shiftPattern of shiftPatterns$ | async" [ngValue]="shiftPattern.id">{{shiftPattern.name}}</option>
                                </select>
                                <div *ngIf="shiftPatternDayForm.get('shiftPatternId')?.invalid && shiftPatternDayForm.get('shiftPatternId')?.touched" class="text-danger">
                                    Shift Pattern is required
                                </div>
                            </div>
                            <div class="form-group" *ngIf="!isFieldHidden('dayOfWeek')">
                                <label for="ShiftPatternDay-dayOfWeek" id="label-ShiftPatternDay-dayOfWeek"><span class="text-danger">*</span>Day Of Week</label>
                                <input type="number" id="ShiftPatternDay-dayOfWeek" formControlName="dayOfWeek" placeholder="Enter Day Of Week" class="form-control shift-pattern-day-input" [disabled]="!userIsSchedulerShiftPatternDayWriter()" aria-labelledby="label-dayOfWeek" />
                                <div *ngIf="shiftPatternDayForm.get('dayOfWeek')?.invalid && shiftPatternDayForm.get('dayOfWeek')?.touched" class="text-danger">
                                    Day Of Week is required
                                </div>
                            </div>
                            <div class="form-group" *ngIf="!isFieldHidden('startTime')">
                                <label for="ShiftPatternDay-startTime" id="label-ShiftPatternDay-startTime"><span class="text-danger">*</span>Start Time</label>
                                <input type="text" id="ShiftPatternDay-startTime" formControlName="startTime" placeholder="Enter Start Time" class="form-control shift-pattern-day-input" [disabled]="!userIsSchedulerShiftPatternDayWriter()" aria-labelledby="label-startTime" />
                                <div *ngIf="shiftPatternDayForm.get('startTime')?.invalid && shiftPatternDayForm.get('startTime')?.touched" class="text-danger">
                                    Start Time is required
                                </div>
                            </div>
                            <div class="form-group" *ngIf="!isFieldHidden('hours')">
                                <label for="ShiftPatternDay-hours" id="label-ShiftPatternDay-hours"><span class="text-danger">*</span>Hours</label>
                                <input type="number" id="ShiftPatternDay-hours" formControlName="hours" placeholder="Enter Hours" class="form-control shift-pattern-day-input" [disabled]="!userIsSchedulerShiftPatternDayWriter()" aria-labelledby="label-hours" />
                                <div *ngIf="shiftPatternDayForm.get('hours')?.invalid && shiftPatternDayForm.get('hours')?.touched" class="text-danger">
                                    Hours is required
                                </div>
                            </div>
                            <div class="form-group" *ngIf="!isFieldHidden('label')">
                                <label for="ShiftPatternDay-label" id="label-ShiftPatternDay-label">Label</label>
                                <input type="text" id="ShiftPatternDay-label" formControlName="label" placeholder="Enter Label" class="form-control shift-pattern-day-input" [disabled]="!userIsSchedulerShiftPatternDayWriter()" aria-labelledby="label-label" />
                            </div>
                            <div class="form-group"*ngIf="!isFieldHidden('{fc.camelCaseName}')" )>
                                <label for="ShiftPatternDay-versionNumber" id="label-ShiftPatternDay-versionNumber"><span class="text-danger">*</span>Version Number</label>
                                <input type="number" id="ShiftPatternDay-versionNumber" formControlName="versionNumber" [disabled]="true" placeholder="Enter Version Number" class="form-control shift-pattern-day-input" />
                            </div>
                            <div class="form-check my-2"*ngIf="!isFieldHidden('{fc.camelCaseName}')" )>
                                <input type="checkbox" id="ShiftPatternDay-active" formControlName="active" class="form-check-input" [disabled]="!userIsSchedulerShiftPatternDayWriter()" />
                                <label for="ShiftPatternDay-active" class="form-check-label" id="label-ShiftPatternDay-active"><span class="text-danger">*</span>Active</label>
                            </div>
                            <div class="form-check my-2"*ngIf="!isFieldHidden('{fc.camelCaseName}')" )>
                                <input type="checkbox" id="ShiftPatternDay-deleted" formControlName="deleted" class="form-check-input" [disabled]="!userIsSchedulerShiftPatternDayWriter()" />
                                <label for="ShiftPatternDay-deleted" class="form-check-label" id="label-ShiftPatternDay-deleted"><span class="text-danger">*</span>Deleted</label>
                            </div>
                            <div class="shift-pattern-day-details-footer">
                                <button *ngIf="isEditMode" type="button" class="btn btm-sm btn-secondary" [disabled]="shiftPatternDayForm.pristine" (click)="loadData(true)" ngbTooltip="Reload Shift Pattern Day">Reset</button>
                                <button type="submit" class="btn btn-sm btn-primary" [disabled]="isSaving || !shiftPatternDayForm.valid || !shiftPatternDayForm.dirty || shiftPatternDayForm.pristine  || userIsSchedulerShiftPatternDayWriter() == false " ngbTooltip="Save the Shift Pattern Day changes">
                                    <span *ngIf="isSaving">
                                        <span class="spinner-border spinner-border-sm me-1" role="status" aria-hidden="true"></span>
                                        Saving...
                                    </span>
                                    <span *ngIf="!isSaving">
                                        <i class="fa-solid fa-check me-1"></i>
                                        {{ isEditMode ? 'Save Changes' : 'Add Shift Pattern Day' }}
                                    </span>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-3 header-card shadow-sm" *ngIf="isEditMode && userIsSchedulerShiftPatternDayReader() && (isLoading$ | async) == false">
            <div class="row flex-grow-1">
                <div class="col m-2 shift-pattern-day-details-body">

                    <ul ngbNav #nav="ngbNav" class="nav-tabs">
                      <li ngbNavItem *ngIf="shiftPatternDayChangeHistoryService.userIsSchedulerShiftPatternDayChangeHistoryReader()">
                            <button ngbNavLink>Shift Pattern Day Change Histories
                                <span class="badge bg-primary ms-2">
                                    {{ (shiftPatternDayData?.ShiftPatternDayChangeHistoriesCount$ | async) ?? '-' }}
                                </span>
                            </button>
                            <ng-template ngbNavContent>
                            <div class="d-flex flex-column gap-3 p-0">
                                <div class="flex-grow-1">
                                    <app-shift-pattern-day-change-history-table [queryParams]="{ shiftPatternDayId: shiftPatternDayData?.id }" [showAddButton]="true" [preSeededData]="{ shiftPatternDayId: shiftPatternDayData?.id }" [hiddenFields]="['shiftPatternDayId']"></app-shift-pattern-day-change-history-table>
                                </div>
                            </div>
                            </ng-template>
                        </li>
                    </ul>
                     <div [ngbNavOutlet]="nav"></div>
                </div>
            </div>
        </div>
    </div>
</div>

