<div class="add-resource-change-history" *ngIf="showAddButton == true">
    <button type="button"
        class="btn btn-sm btn-add-resource-change-history me-2"
        (click)="openModal()"
        ngbTooltip="Add Resource Change History" 
        *ngIf="userIsSchedulerResourceChangeHistoryWriter() == true"
        placement="top"
        style="min-width: 75px;">Add</button>
</div>

<!-- ng-bootstrap modal -->
<ng-template #resourceChangeHistoryModal let-modal>
   <div class="modal-header bg-dark text-light resource-change-history-modal-header">
      <h5 class="modal-title mb-0" id="resourceChangeHistoryModalLabel" ngbTooltip="{{objectGuid}}">
      {{ isEditMode ? 'Edit Resource Change History' : 'Add Resource Change History' }}
      </h5>
      <button type="button"
              class="btn btn-sm btn-close btn-close-white"
              (click)="closeModal()">
       </button>
   </div>
   <div class="modal-body resource-change-history-modal-body">
      <form [formGroup]="resourceChangeHistoryForm" (ngSubmit)="submitForm()">
            <div class="form-group" *ngIf="!isFieldHidden('resourceId')">
                <label for="ResourceChangeHistory-resourceId" id="label-ResourceChangeHistory-resourceId"><span class="text-danger">*</span>Resource</label>
                <select id="ResourceChangeHistory-resourceId" formControlName="resourceId" class="form-select resource-change-history-select" [disabled]="!userIsSchedulerResourceChangeHistoryWriter()">
                    <option [ngValue]="null">Select Resource</option>
                    <option *ngFor="let resource of resources$ | async" [ngValue]="resource.id">{{[resource.name] | filterAndJoin}}</option>
                </select>
                <div *ngIf="resourceChangeHistoryForm.get('resourceId')?.invalid && resourceChangeHistoryForm.get('resourceId')?.touched" class="text-danger">
                    Resource is required
                </div>
            </div>
            <div class="form-group" *ngIf="isEditMode && !isFieldHidden('{fc.camelCaseName}')" )>
                <label for="ResourceChangeHistory-versionNumber" id="label-ResourceChangeHistory-versionNumber"><span class="text-danger">*</span>Version Number</label>
                <input type="number" id="ResourceChangeHistory-versionNumber" formControlName="versionNumber" [disabled]="true" placeholder="Enter Version Number" class="form-control resource-change-history-input" />
            </div>
            <div class="form-group" *ngIf="!isFieldHidden('timeStamp')">
                <label for="ResourceChangeHistory-timeStamp" id="label-ResourceChangeHistory-timeStamp"><span class="text-danger">*</span>Time Stamp</label>
                <input type="datetime-local" id="ResourceChangeHistory-timeStamp" formControlName="timeStamp" placeholder="Enter Time Stamp" class="form-control resource-change-history-input" [disabled]="!userIsSchedulerResourceChangeHistoryWriter()" aria-labelledby="label-timeStamp" />
                <div *ngIf="resourceChangeHistoryForm.get('timeStamp')?.invalid && resourceChangeHistoryForm.get('timeStamp')?.touched" class="text-danger">
                    Time Stamp is required
                </div>
            </div>
            <div class="form-group" *ngIf="!isFieldHidden('userId')">
                <label for="ResourceChangeHistory-userId" id="label-ResourceChangeHistory-userId"><span class="text-danger">*</span>User Id</label>
                <input type="number" id="ResourceChangeHistory-userId" formControlName="userId" placeholder="Enter User Id" class="form-control resource-change-history-input" [disabled]="!userIsSchedulerResourceChangeHistoryWriter()" aria-labelledby="label-userId" />
                <div *ngIf="resourceChangeHistoryForm.get('userId')?.invalid && resourceChangeHistoryForm.get('userId')?.touched" class="text-danger">
                    User Id is required
                </div>
            </div>
            <div class="form-group" *ngIf="!isFieldHidden('data')">
                <label for="ResourceChangeHistory-data" id="label-ResourceChangeHistory-data"><span class="text-danger">*</span>Data</label>
                <textarea id="ResourceChangeHistory-data" formControlName="data" placeholder="Enter Data" class="form-control resource-change-history-input" [disabled]="!userIsSchedulerResourceChangeHistoryWriter()"></textarea>
                <div *ngIf="resourceChangeHistoryForm.get('data')?.invalid && resourceChangeHistoryForm.get('data')?.touched" class="text-danger">
                    Data is required
                </div>
            </div>
         <div class="modal-footer resource-change-history-modal-footer">
            <button type="button" class="btn btn-sm btn-secondary" (click)="closeModal()" ngbTooltip="Cancel the Resource Change History changes and Close">Cancel</button>
            <button type="submit" class="btn btn-sm btn-primary" [disabled]="isSaving || !resourceChangeHistoryForm.valid || resourceChangeHistoryForm.pristine  || userIsSchedulerResourceChangeHistoryWriter() == false " ngbTooltip="Save the Resource Change History changes and Close">
                <span *ngIf="isSaving">
                    <span class="spinner-border spinner-border-sm me-1" role="status" aria-hidden="true"></span>
                    Saving...
                </span>
                <span *ngIf="!isSaving">
                    <i class="fa-solid fa-check me-1"></i>
                    {{ isEditMode ? 'Save Changes' : 'Add Resource Change History' }}
                </span>
            </button>
         </div>
      </form>
   </div>
</ng-template>
