<div class="add-constituent" *ngIf="showAddButton == true">
    <button type="button"
        class="btn btn-sm btn-add-constituent me-2"
        (click)="openModal()"
        ngbTooltip="Add Constituent" 
        *ngIf="userIsSchedulerConstituentWriter() == true"
        placement="top"
        style="min-width: 75px;">Add</button>
</div>

<!-- ng-bootstrap modal -->
<ng-template #constituentModal let-modal>
   <div class="modal-header constituent-modal-header">
      <h5 class="modal-title mb-0" id="constituentModalLabel" ngbTooltip="{{objectGuid}}">
      {{ isEditMode ? 'Edit Constituent' : 'Add Constituent' }}
      </h5>
      <button type="button" class="modal-close-btn" (click)="closeModal()" aria-label="Close">
        <i class="fa fa-xmark"></i>
      </button>
   </div>
   <div class="modal-body constituent-modal-body">
      <form [formGroup]="constituentForm" (ngSubmit)="submitForm()">
            <div class="form-group" *ngIf="!isFieldHidden('contactId')">
                <label for="Constituent-contactId" id="label-Constituent-contactId">Contact</label>
                <select id="Constituent-contactId" formControlName="contactId" class="form-select constituent-select" [disabled]="!userIsSchedulerConstituentWriter()">
                    <option [ngValue]="null">Select Contact</option>
                    <option *ngFor="let contact of contacts$ | async" [ngValue]="contact.id">{{contact.firstName}}</option>
                </select>
            </div>
            <div class="form-group" *ngIf="!isFieldHidden('clientId')">
                <label for="Constituent-clientId" id="label-Constituent-clientId">Client</label>
                <select id="Constituent-clientId" formControlName="clientId" class="form-select constituent-select" [disabled]="!userIsSchedulerConstituentWriter()">
                    <option [ngValue]="null">Select Client</option>
                    <option *ngFor="let client of clients$ | async" [ngValue]="client.id">{{client.name}}</option>
                </select>
            </div>
            <div class="form-group" *ngIf="!isFieldHidden('householdId')">
                <label for="Constituent-householdId" id="label-Constituent-householdId">Household</label>
                <select id="Constituent-householdId" formControlName="householdId" class="form-select constituent-select" [disabled]="!userIsSchedulerConstituentWriter()">
                    <option [ngValue]="null">Select Household</option>
                    <option *ngFor="let household of households$ | async" [ngValue]="household.id">{{household.name}}</option>
                </select>
            </div>
            <div class="form-group" *ngIf="!isFieldHidden('constituentNumber')">
                <label for="Constituent-constituentNumber" id="label-Constituent-constituentNumber"><span class="text-danger">*</span>Constituent Number</label>
                <input type="text" id="Constituent-constituentNumber" formControlName="constituentNumber" placeholder="Enter Constituent Number" class="form-control constituent-input" [disabled]="!userIsSchedulerConstituentWriter()" aria-labelledby="label-constituentNumber" />
                <div *ngIf="constituentForm.get('constituentNumber')?.invalid && constituentForm.get('constituentNumber')?.touched" class="text-danger">
                    Constituent Number is required
                </div>
            </div>
            <div class="form-check my-2" *ngIf="!isFieldHidden('doNotSolicit')">
                <input type="checkbox" id="Constituent-doNotSolicit" formControlName="doNotSolicit" class="form-check-input" [disabled]="!userIsSchedulerConstituentWriter()" />
                <label for="Constituent-doNotSolicit" class="form-check-label" id="label-Constituent-doNotSolicit"><span class="text-danger">*</span>Do Not Solicit</label>
            </div>
            <div class="form-check my-2" *ngIf="!isFieldHidden('doNotEmail')">
                <input type="checkbox" id="Constituent-doNotEmail" formControlName="doNotEmail" class="form-check-input" [disabled]="!userIsSchedulerConstituentWriter()" />
                <label for="Constituent-doNotEmail" class="form-check-label" id="label-Constituent-doNotEmail"><span class="text-danger">*</span>Do Not Email</label>
            </div>
            <div class="form-check my-2" *ngIf="!isFieldHidden('doNotMail')">
                <input type="checkbox" id="Constituent-doNotMail" formControlName="doNotMail" class="form-check-input" [disabled]="!userIsSchedulerConstituentWriter()" />
                <label for="Constituent-doNotMail" class="form-check-label" id="label-Constituent-doNotMail"><span class="text-danger">*</span>Do Not Mail</label>
            </div>
            <div class="form-group" *ngIf="!isFieldHidden('totalLifetimeGiving')">
                <label for="Constituent-totalLifetimeGiving" id="label-Constituent-totalLifetimeGiving"><span class="text-danger">*</span>Total Lifetime Giving</label>
                <input type="number" id="Constituent-totalLifetimeGiving" formControlName="totalLifetimeGiving" placeholder="Enter Total Lifetime Giving" class="form-control constituent-input" [disabled]="!userIsSchedulerConstituentWriter()" aria-labelledby="label-totalLifetimeGiving" />
                <div *ngIf="constituentForm.get('totalLifetimeGiving')?.invalid && constituentForm.get('totalLifetimeGiving')?.touched" class="text-danger">
                    Total Lifetime Giving is required
                </div>
            </div>
            <div class="form-group" *ngIf="!isFieldHidden('totalYTDGiving')">
                <label for="Constituent-totalYTDGiving" id="label-Constituent-totalYTDGiving"><span class="text-danger">*</span>Total Y T D Giving</label>
                <input type="number" id="Constituent-totalYTDGiving" formControlName="totalYTDGiving" placeholder="Enter Total Y T D Giving" class="form-control constituent-input" [disabled]="!userIsSchedulerConstituentWriter()" aria-labelledby="label-totalYTDGiving" />
                <div *ngIf="constituentForm.get('totalYTDGiving')?.invalid && constituentForm.get('totalYTDGiving')?.touched" class="text-danger">
                    Total Y T D Giving is required
                </div>
            </div>
            <div class="form-group" *ngIf="!isFieldHidden('lastGiftDate')">
                <label for="Constituent-lastGiftDate" id="label-Constituent-lastGiftDate">Last Gift Date</label>
                <input type="date" id="Constituent-lastGiftDate" formControlName="lastGiftDate" placeholder="Enter Last Gift Date" class="form-control constituent-input" [disabled]="!userIsSchedulerConstituentWriter()" aria-labelledby="label-lastGiftDate" />
            </div>
            <div class="form-group" *ngIf="!isFieldHidden('lastGiftAmount')">
                <label for="Constituent-lastGiftAmount" id="label-Constituent-lastGiftAmount">Last Gift Amount</label>
                <input type="number" id="Constituent-lastGiftAmount" formControlName="lastGiftAmount" placeholder="Enter Last Gift Amount" class="form-control constituent-input" [disabled]="!userIsSchedulerConstituentWriter()" aria-labelledby="label-lastGiftAmount" />
            </div>
            <div class="form-group" *ngIf="!isFieldHidden('largestGiftAmount')">
                <label for="Constituent-largestGiftAmount" id="label-Constituent-largestGiftAmount">Largest Gift Amount</label>
                <input type="number" id="Constituent-largestGiftAmount" formControlName="largestGiftAmount" placeholder="Enter Largest Gift Amount" class="form-control constituent-input" [disabled]="!userIsSchedulerConstituentWriter()" aria-labelledby="label-largestGiftAmount" />
            </div>
            <div class="form-group" *ngIf="!isFieldHidden('totalGiftCount')">
                <label for="Constituent-totalGiftCount" id="label-Constituent-totalGiftCount">Total Gift Count</label>
                <input type="number" id="Constituent-totalGiftCount" formControlName="totalGiftCount" placeholder="Enter Total Gift Count" class="form-control constituent-input" [disabled]="!userIsSchedulerConstituentWriter()" aria-labelledby="label-totalGiftCount" />
            </div>
            <div class="form-group" *ngIf="!isFieldHidden('externalId')">
                <label for="Constituent-externalId" id="label-Constituent-externalId">External Id</label>
                <input type="text" id="Constituent-externalId" formControlName="externalId" placeholder="Enter External Id" class="form-control constituent-input" [disabled]="!userIsSchedulerConstituentWriter()" aria-labelledby="label-externalId" />
            </div>
            <div class="form-group" *ngIf="!isFieldHidden('notes')">
                <label for="Constituent-notes" id="label-Constituent-notes">Notes</label>
                <textarea id="Constituent-notes" formControlName="notes" placeholder="Enter Notes" class="form-control constituent-input" [disabled]="!userIsSchedulerConstituentWriter()"></textarea>
            </div>
            <div class="form-group" *ngIf="!isFieldHidden('constituentJourneyStageId')">
                <label for="Constituent-constituentJourneyStageId" id="label-Constituent-constituentJourneyStageId">Constituent Journey Stage</label>
                <select id="Constituent-constituentJourneyStageId" formControlName="constituentJourneyStageId" class="form-select constituent-select" [disabled]="!userIsSchedulerConstituentWriter()">
                    <option [ngValue]="null">Select Constituent Journey Stage</option>
                    <option *ngFor="let constituentJourneyStage of constituentJourneyStages$ | async" [ngValue]="constituentJourneyStage.id">{{constituentJourneyStage.name}}</option>
                </select>
            </div>
            <div class="form-group" *ngIf="!isFieldHidden('dateEnteredCurrentStage')">
                <label for="Constituent-dateEnteredCurrentStage" id="label-Constituent-dateEnteredCurrentStage">Date Entered Current Stage</label>
                <input type="datetime-local" id="Constituent-dateEnteredCurrentStage" formControlName="dateEnteredCurrentStage" placeholder="Enter Date Entered Current Stage" class="form-control constituent-input" [disabled]="!userIsSchedulerConstituentWriter()" aria-labelledby="label-dateEnteredCurrentStage" />
            </div>
            <div class="form-group" *ngIf="!isFieldHidden('attributes')">
                <label for="Constituent-attributes" id="label-Constituent-attributes">Attributes</label>
                <textarea id="Constituent-attributes" formControlName="attributes" placeholder="Enter Attributes" class="form-control constituent-input" [disabled]="!userIsSchedulerConstituentWriter()"></textarea>
            </div>
            <div class="form-group" *ngIf="!isFieldHidden('iconId')">
                <label for="Constituent-iconId" id="label-Constituent-iconId">Icon</label>
                <select id="Constituent-iconId" formControlName="iconId" class="form-select constituent-select" [disabled]="!userIsSchedulerConstituentWriter()">
                    <option [ngValue]="null">Select Icon</option>
                    <option *ngFor="let icon of icons$ | async" [ngValue]="icon.id">{{icon.name}}</option>
                </select>
            </div>
            <div class="form-group" *ngIf="!isFieldHidden('color')">
                <label for="Constituent-color" id="label-Constituent-color">Color</label>
                <div class="d-flex align-items-center gap-3">
                    <!-- Native color picker input (type="color") -->
                    <input 
                        type="color" 
                        id="Constituent-color" 
                        formControlName="color" 
                        class="form-control form-control-color color-picker" 
                        [disabled]="!userIsSchedulerConstituentWriter()"
                        aria-labelledby="label-color"
                        title="Choose Color">
                    
                    <!-- Usually this isn't needed
                    <input 
                        type="text" 
                        [value]="constituentForm.get('color')?.value || '#000000'" 
                        readonly 
                        class="form-control input-color-display"
                        style="width: 120px;">-->
                </div>
            </div>
            <div class="form-group" *ngIf="!isFieldHidden('avatarFileName')">
                <label for="Constituent-avatarFileName" id="label-Constituent-avatarFileName">Avatar File Name</label>
                <input type="text" id="Constituent-avatarFileName" formControlName="avatarFileName" placeholder="Enter Avatar File Name" class="form-control constituent-input" [disabled]="!userIsSchedulerConstituentWriter()" aria-labelledby="label-avatarFileName" />
            </div>
            <div class="form-group" *ngIf="!isFieldHidden('avatarSize')">
                <label for="Constituent-avatarSize" id="label-Constituent-avatarSize">Avatar Size</label>
                <input type="number" id="Constituent-avatarSize" formControlName="avatarSize" placeholder="Enter Avatar Size" class="form-control constituent-input" [disabled]="!userIsSchedulerConstituentWriter()" aria-labelledby="label-avatarSize" />
            </div>
            <div class="form-group" *ngIf="!isFieldHidden('avatarData')">
                <label for="Constituent-avatarData" id="label-Constituent-avatarData">Avatar Data</label>
                <input type="text" id="Constituent-avatarData" formControlName="avatarData" placeholder="Enter Avatar Data" class="form-control constituent-input" [disabled]="!userIsSchedulerConstituentWriter()" aria-labelledby="label-avatarData" />
            </div>
            <div class="form-group" *ngIf="!isFieldHidden('avatarMimeType')">
                <label for="Constituent-avatarMimeType" id="label-Constituent-avatarMimeType">Avatar Mime Type</label>
                <input type="text" id="Constituent-avatarMimeType" formControlName="avatarMimeType" placeholder="Enter Avatar Mime Type" class="form-control constituent-input" [disabled]="!userIsSchedulerConstituentWriter()" aria-labelledby="label-avatarMimeType" />
            </div>
            <div class="form-group" *ngIf="isEditMode && !isFieldHidden('{fc.camelCaseName}')" )>
                <label for="Constituent-versionNumber" id="label-Constituent-versionNumber"><span class="text-danger">*</span>Version Number</label>
                <input type="number" id="Constituent-versionNumber" formControlName="versionNumber" [disabled]="true" placeholder="Enter Version Number" class="form-control constituent-input" />
            </div>
            <div class="form-check my-2" *ngIf="isEditMode && !isFieldHidden('{fc.camelCaseName}')" )>
                <input type="checkbox" id="Constituent-active" formControlName="active" class="form-check-input" [disabled]="!userIsSchedulerConstituentWriter()" />
                <label for="Constituent-active" class="form-check-label" id="label-Constituent-active"><span class="text-danger">*</span>Active</label>
            </div>
            <div class="form-check my-2" *ngIf="isEditMode && !isFieldHidden('{fc.camelCaseName}')" )>
                <input type="checkbox" id="Constituent-deleted" formControlName="deleted" class="form-check-input" [disabled]="!userIsSchedulerConstituentWriter()" />
                <label for="Constituent-deleted" class="form-check-label" id="label-Constituent-deleted"><span class="text-danger">*</span>Deleted</label>
            </div>
         <div class="modal-footer constituent-modal-footer">
            <button type="button" class="btn btn-sm btn-secondary" (click)="closeModal()" ngbTooltip="Cancel the Constituent changes and Close">Cancel</button>
            <button type="submit" class="btn btn-sm btn-primary" [disabled]="isSaving || !constituentForm.valid || constituentForm.pristine  || userIsSchedulerConstituentWriter() == false " ngbTooltip="Save the Constituent changes and Close">
                <span *ngIf="isSaving">
                    <span class="spinner-border spinner-border-sm me-1" role="status" aria-hidden="true"></span>
                    Saving...
                </span>
                <span *ngIf="!isSaving">
                    <i class="fa-solid fa-check me-1"></i>
                    {{ isEditMode ? 'Save Changes' : 'Add Constituent' }}
                </span>
            </button>
         </div>
      </form>
   </div>
</ng-template>
