<div class="container-fluid p-1 m-0 post-change-history-details-container">
    <div class="p-2 detail-background">
        <div class="card mb-3 header-card shadow-sm">
            <div class="post-change-history-details-header">
                <div class="header-left">
                    <button class="btn btn-sm btn-light back-button me-2" (click)="goBack()" ngbTooltip="Go Back"  *ngIf="canGoBack()"><i class="fa-solid fa-arrow-left"></i></button>
                    <div>
                        <h3 class="page-title mb-0">Post Change History</h3>
                        <small class="text-muted">{{ isEditMode ? 'Edit Post Change History' : 'Add Post Change History'}}</small>
                    </div>
                </div>
            </div>
        </div>

        <div class="card mb-3 header-card shadow-sm">
            <div class="row flex-grow-1" *ngIf="userIsCommunityPostChangeHistoryReader()">
                <div class="col m-2 post-change-history-details-body">
                    <div *showSpinner="isLoading$ | async">
                        <form [class.hidden]="isLoading$ | async" [formGroup]="postChangeHistoryForm" (ngSubmit)="submitForm()" class="post-change-history-details-form">
                            <div class="form-group" *ngIf="!isFieldHidden('postId')">
                                <label for="PostChangeHistory-postId" id="label-PostChangeHistory-postId"><span class="text-danger">*</span>Post</label>
                                <select id="PostChangeHistory-postId" formControlName="postId" class="form-select post-change-history-select" [disabled]="!userIsCommunityPostChangeHistoryWriter()">
                                    <option [ngValue]="null">Select Post</option>
                                    <option *ngFor="let post of posts$ | async" [ngValue]="post.id">{{post.title}}</option>
                                </select>
                                <div *ngIf="postChangeHistoryForm.get('postId')?.invalid && postChangeHistoryForm.get('postId')?.touched" class="text-danger">
                                    Post is required
                                </div>
                            </div>
                            <div class="form-group"*ngIf="!isFieldHidden('{fc.camelCaseName}')" )>
                                <label for="PostChangeHistory-versionNumber" id="label-PostChangeHistory-versionNumber"><span class="text-danger">*</span>Version Number</label>
                                <input type="number" id="PostChangeHistory-versionNumber" formControlName="versionNumber" [disabled]="true" placeholder="Enter Version Number" class="form-control post-change-history-input" />
                            </div>
                            <div class="form-group" *ngIf="!isFieldHidden('timeStamp')">
                                <label for="PostChangeHistory-timeStamp" id="label-PostChangeHistory-timeStamp"><span class="text-danger">*</span>Time Stamp</label>
                                <input type="datetime-local" id="PostChangeHistory-timeStamp" formControlName="timeStamp" placeholder="Enter Time Stamp" class="form-control post-change-history-input" [disabled]="!userIsCommunityPostChangeHistoryWriter()" aria-labelledby="label-timeStamp" />
                                <div *ngIf="postChangeHistoryForm.get('timeStamp')?.invalid && postChangeHistoryForm.get('timeStamp')?.touched" class="text-danger">
                                    Time Stamp is required
                                </div>
                            </div>
                            <div class="form-group" *ngIf="!isFieldHidden('userId')">
                                <label for="PostChangeHistory-userId" id="label-PostChangeHistory-userId"><span class="text-danger">*</span>User Id</label>
                                <input type="number" id="PostChangeHistory-userId" formControlName="userId" placeholder="Enter User Id" class="form-control post-change-history-input" [disabled]="!userIsCommunityPostChangeHistoryWriter()" aria-labelledby="label-userId" />
                                <div *ngIf="postChangeHistoryForm.get('userId')?.invalid && postChangeHistoryForm.get('userId')?.touched" class="text-danger">
                                    User Id is required
                                </div>
                            </div>
                            <div class="form-group" *ngIf="!isFieldHidden('data')">
                                <label for="PostChangeHistory-data" id="label-PostChangeHistory-data"><span class="text-danger">*</span>Data</label>
                                <textarea id="PostChangeHistory-data" formControlName="data" placeholder="Enter Data" class="form-control post-change-history-input" [disabled]="!userIsCommunityPostChangeHistoryWriter()"></textarea>
                                <div *ngIf="postChangeHistoryForm.get('data')?.invalid && postChangeHistoryForm.get('data')?.touched" class="text-danger">
                                    Data is required
                                </div>
                            </div>
                            <div class="post-change-history-details-footer">
                                <button *ngIf="isEditMode" type="button" class="btn btm-sm btn-secondary" [disabled]="postChangeHistoryForm.pristine" (click)="loadData(true)" ngbTooltip="Reload Post Change History">Reset</button>
                                <button type="submit" class="btn btn-sm btn-primary" [disabled]="isSaving || !postChangeHistoryForm.valid || !postChangeHistoryForm.dirty || postChangeHistoryForm.pristine  || userIsCommunityPostChangeHistoryWriter() == false " ngbTooltip="Save the Post Change History changes">
                                    <span *ngIf="isSaving">
                                        <span class="spinner-border spinner-border-sm me-1" role="status" aria-hidden="true"></span>
                                        Saving...
                                    </span>
                                    <span *ngIf="!isSaving">
                                        <i class="fa-solid fa-check me-1"></i>
                                        {{ isEditMode ? 'Save Changes' : 'Add Post Change History' }}
                                    </span>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

