<div class="container-fluid p-1 m-0 entity-data-token-details-container">
    <div class="p-2 detail-background">
        <div class="card mb-3 header-card shadow-sm">
            <div class="entity-data-token-details-header">
                <div class="header-left">
                    <button class="btn btn-sm btn-light back-button me-2" (click)="goBack()" ngbTooltip="Go Back"  *ngIf="canGoBack()"><i class="fa-solid fa-arrow-left"></i></button>
                    <div>
                        <h3 class="page-title mb-0">Entity Data Token</h3>
                        <small class="text-muted">{{ isEditMode ? 'Edit Entity Data Token' : 'Add Entity Data Token'}}</small>
                    </div>
                </div>
            </div>
        </div>

        <div class="card mb-3 header-card shadow-sm">
            <div class="row flex-grow-1" *ngIf="userIsSecurityEntityDataTokenReader()">
                <div class="col m-2 entity-data-token-details-body">
                    <div *showSpinner="isLoading$ | async">
                        <form [class.hidden]="isLoading$ | async" [formGroup]="entityDataTokenForm" (ngSubmit)="submitForm()" class="entity-data-token-details-form">
                            <div class="form-group">
                                <label for="securityUserId" id="label-securityUserId"><span class="text-danger">*</span>Security User</label>
                                <select id="securityUserId" formControlName="securityUserId" class="form-select entity-data-token-select" [disabled]="!userIsSecurityEntityDataTokenWriter()">
                                    <option [ngValue]="null">Select Security User</option>
                                    <option *ngFor="let securityUser of securityUsers$ | async" [ngValue]="securityUser.id">{{[securityUser.accountName] | filterAndJoin}}</option>
                                </select>
                                <div *ngIf="entityDataTokenForm.get('securityUserId')?.invalid && entityDataTokenForm.get('securityUserId')?.touched" class="text-danger">
                                    Security User is required
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="moduleId" id="label-moduleId"><span class="text-danger">*</span>Module</label>
                                <select id="moduleId" formControlName="moduleId" class="form-select entity-data-token-select" [disabled]="!userIsSecurityEntityDataTokenWriter()">
                                    <option [ngValue]="null">Select Module</option>
                                    <option *ngFor="let module of modules$ | async" [ngValue]="module.id">{{module.name}}</option>
                                </select>
                                <div *ngIf="entityDataTokenForm.get('moduleId')?.invalid && entityDataTokenForm.get('moduleId')?.touched" class="text-danger">
                                    Module is required
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="entity" id="label-entity"><span class="text-danger">*</span>Entity</label>
                                <input type="text" id="entity" formControlName="entity" placeholder="Enter Entity" class="form-control entity-data-token-input" [disabled]="!userIsSecurityEntityDataTokenWriter()" aria-labelledby="label-entity" />
                                <div *ngIf="entityDataTokenForm.get('entity')?.invalid && entityDataTokenForm.get('entity')?.touched" class="text-danger">
                                    Entity is required
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="sessionId" id="label-sessionId"><span class="text-danger">*</span>Session Id</label>
                                <input type="text" id="sessionId" formControlName="sessionId" placeholder="Enter Session Id" class="form-control entity-data-token-input" [disabled]="!userIsSecurityEntityDataTokenWriter()" aria-labelledby="label-sessionId" />
                                <div *ngIf="entityDataTokenForm.get('sessionId')?.invalid && entityDataTokenForm.get('sessionId')?.touched" class="text-danger">
                                    Session Id is required
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="authenticationToken" id="label-authenticationToken"><span class="text-danger">*</span>Authentication Token</label>
                                <input type="text" id="authenticationToken" formControlName="authenticationToken" placeholder="Enter Authentication Token" class="form-control entity-data-token-input" [disabled]="!userIsSecurityEntityDataTokenWriter()" aria-labelledby="label-authenticationToken" />
                                <div *ngIf="entityDataTokenForm.get('authenticationToken')?.invalid && entityDataTokenForm.get('authenticationToken')?.touched" class="text-danger">
                                    Authentication Token is required
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="token" id="label-token"><span class="text-danger">*</span>Token</label>
                                <input type="text" id="token" formControlName="token" placeholder="Enter Token" class="form-control entity-data-token-input" [disabled]="!userIsSecurityEntityDataTokenWriter()" aria-labelledby="label-token" />
                                <div *ngIf="entityDataTokenForm.get('token')?.invalid && entityDataTokenForm.get('token')?.touched" class="text-danger">
                                    Token is required
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="timeStamp" id="label-timeStamp"><span class="text-danger">*</span>Time Stamp</label>
                                <input type="datetime-local" id="timeStamp" formControlName="timeStamp" placeholder="Enter Time Stamp" class="form-control entity-data-token-input" [disabled]="!userIsSecurityEntityDataTokenWriter()" aria-labelledby="label-timeStamp" />
                                <div *ngIf="entityDataTokenForm.get('timeStamp')?.invalid && entityDataTokenForm.get('timeStamp')?.touched" class="text-danger">
                                    Time Stamp is required
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="comments" id="label-comments">Comments</label>
                                <textarea id="comments" formControlName="comments" placeholder="Enter Comments" class="form-control entity-data-token-input" [disabled]="!userIsSecurityEntityDataTokenWriter()"></textarea>
                            </div>
                            <div class="form-check my-2">
                                <input type="checkbox" id="active" formControlName="active" class="form-check-input" [disabled]="!userIsSecurityEntityDataTokenWriter()" />
                                <label for="active" class="form-check-label" id="label-active"><span class="text-danger">*</span>Active</label>
                            </div>
                            <div class="form-check my-2">
                                <input type="checkbox" id="deleted" formControlName="deleted" class="form-check-input" [disabled]="!userIsSecurityEntityDataTokenWriter()" />
                                <label for="deleted" class="form-check-label" id="label-deleted"><span class="text-danger">*</span>Deleted</label>
                            </div>
                            <div class="entity-data-token-details-footer">
                                <button *ngIf="isEditMode" type="button" class="btn btm-sm btn-secondary" [disabled]="entityDataTokenForm.pristine" (click)="loadData(true)" ngbTooltip="Reload Entity Data Token">Reset</button>
                                <button type="submit" class="btn btm-sm btn-primary" [disabled]="isSaving || !entityDataTokenForm.valid || !entityDataTokenForm.dirty || entityDataTokenForm.pristine || userIsSecurityEntityDataTokenWriter() == false " ngbTooltip="Save Entity Data Token">{{ isEditMode ? 'Save' : 'Create' }}</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-3 header-card shadow-sm" *ngIf="isEditMode && userIsSecurityEntityDataTokenReader() && (isLoading$ | async) == false">
            <div class="row flex-grow-1">
                <div class="col m-2 entity-data-token-details-body">

                    <ul ngbNav #nav="ngbNav" class="nav-tabs">
                      <li ngbNavItem *ngIf="entityDataTokenEventService.userIsSecurityEntityDataTokenEventReader()">
                            <button ngbNavLink>EntityDataTokenEvents
                                <span class="badge bg-primary ms-2">
                                    {{ (entityDataTokenData?.EntityDataTokenEventsCount$ | async) ?? '-' }}
                                </span>
                            </button>
                            <ng-template ngbNavContent>
                            <app-entity-data-token-event-table [queryParams]="GetQueryParameters()"></app-entity-data-token-event-table>
                            </ng-template>
                        </li>
                    </ul>
                     <div [ngbNavOutlet]="nav"></div>
                </div>
            </div>
        </div>
    </div>
</div>

