<div class="container-fluid p-1 m-0 assignment-status-details-container">
    <div class="p-2 detail-background">
        <div class="card mb-3 header-card gradient-header shadow-sm">
            <div class="assignment-status-details-header">
                <div class="header-left">
                    <button class="btn btn-sm btn-outline-light back-button me-2" (click)="goBack()" ngbTooltip="Go Back"  *ngIf="canGoBack()"><i class="fa-solid fa-arrow-left"></i></button>
                    <div>
                        <h3 class="page-title mb-0">Assignment Status</h3>
                        <small class="text-muted">{{ isEditMode ? 'Edit Assignment Status' : 'Add Assignment Status'}}</small>
                    </div>
                </div>
            </div>
        </div>

        <div class="card mb-3 header-card shadow-sm">
            <div class="row flex-grow-1" *ngIf="userIsSchedulerAssignmentStatusReader()">
                <div class="col m-2 assignment-status-details-body">
                    <div *showSpinner="isLoading$ | async">
                        <form [class.hidden]="isLoading$ | async" [formGroup]="assignmentStatusForm" (ngSubmit)="submitForm()" class="assignment-status-details-form">
                            <div class="form-group" *ngIf="!isFieldHidden('name')">
                                <label for="AssignmentStatus-name" id="label-AssignmentStatus-name"><span class="text-danger">*</span>Name</label>
                                <input type="text" id="AssignmentStatus-name" formControlName="name" placeholder="Enter Name" class="form-control assignment-status-input" [disabled]="!userIsSchedulerAssignmentStatusWriter()" aria-labelledby="label-name" />
                                <div *ngIf="assignmentStatusForm.get('name')?.invalid && assignmentStatusForm.get('name')?.touched" class="text-danger">
                                    Name is required
                                </div>
                            </div>
                            <div class="form-group" *ngIf="!isFieldHidden('description')">
                                <label for="AssignmentStatus-description" id="label-AssignmentStatus-description"><span class="text-danger">*</span>Description</label>
                                <textarea id="AssignmentStatus-description" formControlName="description" placeholder="Enter Description" class="form-control assignment-status-input" [disabled]="!userIsSchedulerAssignmentStatusWriter()"></textarea>
                                <div *ngIf="assignmentStatusForm.get('description')?.invalid && assignmentStatusForm.get('description')?.touched" class="text-danger">
                                    Description is required
                                </div>
                            </div>
                            <div class="form-group" *ngIf="!isFieldHidden('color')">
                                <label for="AssignmentStatus-color" id="label-AssignmentStatus-color">Color</label>
                                <div class="d-flex align-items-center gap-3">
                    <!-- Native color picker input (type="color") -->
                    <input 
                        type="color" 
                        id="AssignmentStatus-color" 
                        formControlName="color" 
                        class="form-control form-control-color color-picker" 
                        [disabled]="!userIsSchedulerAssignmentStatusWriter()"
                        aria-labelledby="label-color"
                        title="Choose Color">
                    
                    <!-- Usually this isn't needed
                    <input 
                        type="text" 
                        [value]="assignmentStatusForm.get('color')?.value || '#000000'" 
                        readonly 
                        class="form-control input-color-display"
                        style="width: 120px;">-->
                </div>
                            </div>
                            <div class="form-group" *ngIf="!isFieldHidden('sequence')">
                                <label for="AssignmentStatus-sequence" id="label-AssignmentStatus-sequence">Sequence</label>
                                <input type="number" id="AssignmentStatus-sequence" formControlName="sequence" placeholder="Enter Sequence" class="form-control assignment-status-input" [disabled]="!userIsSchedulerAssignmentStatusWriter()" aria-labelledby="label-sequence" />
                            </div>
                            <div class="form-check my-2"*ngIf="!isFieldHidden('{fc.camelCaseName}')" )>
                                <input type="checkbox" id="AssignmentStatus-active" formControlName="active" class="form-check-input" [disabled]="!userIsSchedulerAssignmentStatusWriter()" />
                                <label for="AssignmentStatus-active" class="form-check-label" id="label-AssignmentStatus-active"><span class="text-danger">*</span>Active</label>
                            </div>
                            <div class="form-check my-2"*ngIf="!isFieldHidden('{fc.camelCaseName}')" )>
                                <input type="checkbox" id="AssignmentStatus-deleted" formControlName="deleted" class="form-check-input" [disabled]="!userIsSchedulerAssignmentStatusWriter()" />
                                <label for="AssignmentStatus-deleted" class="form-check-label" id="label-AssignmentStatus-deleted"><span class="text-danger">*</span>Deleted</label>
                            </div>
                            <div class="assignment-status-details-footer">
                                <button *ngIf="isEditMode" type="button" class="btn btm-sm btn-secondary" [disabled]="assignmentStatusForm.pristine" (click)="loadData(true)" ngbTooltip="Reload Assignment Status">Reset</button>
                                <button type="submit" class="btn btn-sm btn-primary" [disabled]="isSaving || !assignmentStatusForm.valid || !assignmentStatusForm.dirty || assignmentStatusForm.pristine  || userIsSchedulerAssignmentStatusWriter() == false " ngbTooltip="Save the Assignment Status changes">
                                    <span *ngIf="isSaving">
                                        <span class="spinner-border spinner-border-sm me-1" role="status" aria-hidden="true"></span>
                                        Saving...
                                    </span>
                                    <span *ngIf="!isSaving">
                                        <i class="fa-solid fa-check me-1"></i>
                                        {{ isEditMode ? 'Save Changes' : 'Add Assignment Status' }}
                                    </span>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-3 header-card shadow-sm" *ngIf="isEditMode && userIsSchedulerAssignmentStatusReader() && (isLoading$ | async) == false">
            <div class="row flex-grow-1">
                <div class="col m-2 assignment-status-details-body">

                    <ul ngbNav #nav="ngbNav" class="nav-tabs">
                      <li ngbNavItem *ngIf="eventResourceAssignmentService.userIsSchedulerEventResourceAssignmentReader()">
                            <button ngbNavLink>Event Resource Assignments
                                <span class="badge bg-primary ms-2">
                                    {{ (assignmentStatusData?.EventResourceAssignmentsCount$ | async) ?? '-' }}
                                </span>
                            </button>
                            <ng-template ngbNavContent>
                            <div class="d-flex flex-column gap-3 p-0">
                                <div class="flex-grow-1">
                                    <app-event-resource-assignment-table [queryParams]="{ assignmentStatusId: assignmentStatusData?.id }" [showAddButton]="true" [preSeededData]="{ assignmentStatusId: assignmentStatusData?.id }" [hiddenFields]="['assignmentStatusId']"></app-event-resource-assignment-table>
                                </div>
                            </div>
                            </ng-template>
                        </li>
                    </ul>
                     <div [ngbNavOutlet]="nav"></div>
                </div>
            </div>
        </div>
    </div>
</div>

