<div class="add-api-key" *ngIf="showAddButton == true">
    <button type="button"
        class="btn btn-sm btn-add-api-key me-2"
        (click)="openModal()"
        ngbTooltip="Add Api Key" 
        *ngIf="userIsBMCApiKeyWriter() == true"
        placement="top"
        style="min-width: 75px;">Add</button>
</div>

<!-- ng-bootstrap modal -->
<ng-template #apiKeyModal let-modal>
   <div class="modal-header api-key-modal-header">
      <h5 class="modal-title mb-0" id="apiKeyModalLabel" ngbTooltip="{{objectGuid}}">
      {{ isEditMode ? 'Edit Api Key' : 'Add Api Key' }}
      </h5>
      <button type="button" class="modal-close-btn" (click)="closeModal()" aria-label="Close">
        <i class="fa fa-xmark"></i>
      </button>
   </div>
   <div class="modal-body api-key-modal-body">
      <form [formGroup]="apiKeyForm" (ngSubmit)="submitForm()">
            <div class="form-group" *ngIf="!isFieldHidden('keyHash')">
                <label for="ApiKey-keyHash" id="label-ApiKey-keyHash"><span class="text-danger">*</span>Key Hash</label>
                <input type="text" id="ApiKey-keyHash" formControlName="keyHash" placeholder="Enter Key Hash" class="form-control api-key-input" [disabled]="!userIsBMCApiKeyWriter()" aria-labelledby="label-keyHash" />
                <div *ngIf="apiKeyForm.get('keyHash')?.invalid && apiKeyForm.get('keyHash')?.touched" class="text-danger">
                    Key Hash is required
                </div>
            </div>
            <div class="form-group" *ngIf="!isFieldHidden('keyPrefix')">
                <label for="ApiKey-keyPrefix" id="label-ApiKey-keyPrefix"><span class="text-danger">*</span>Key Prefix</label>
                <input type="text" id="ApiKey-keyPrefix" formControlName="keyPrefix" placeholder="Enter Key Prefix" class="form-control api-key-input" [disabled]="!userIsBMCApiKeyWriter()" aria-labelledby="label-keyPrefix" />
                <div *ngIf="apiKeyForm.get('keyPrefix')?.invalid && apiKeyForm.get('keyPrefix')?.touched" class="text-danger">
                    Key Prefix is required
                </div>
            </div>
            <div class="form-group" *ngIf="!isFieldHidden('name')">
                <label for="ApiKey-name" id="label-ApiKey-name"><span class="text-danger">*</span>Name</label>
                <input type="text" id="ApiKey-name" formControlName="name" placeholder="Enter Name" class="form-control api-key-input" [disabled]="!userIsBMCApiKeyWriter()" aria-labelledby="label-name" />
                <div *ngIf="apiKeyForm.get('name')?.invalid && apiKeyForm.get('name')?.touched" class="text-danger">
                    Name is required
                </div>
            </div>
            <div class="form-group" *ngIf="!isFieldHidden('description')">
                <label for="ApiKey-description" id="label-ApiKey-description">Description</label>
                <textarea id="ApiKey-description" formControlName="description" placeholder="Enter Description" class="form-control api-key-input" [disabled]="!userIsBMCApiKeyWriter()"></textarea>
            </div>
            <div class="form-check my-2" *ngIf="!isFieldHidden('isActive')">
                <input type="checkbox" id="ApiKey-isActive" formControlName="isActive" class="form-check-input" [disabled]="!userIsBMCApiKeyWriter()" />
                <label for="ApiKey-isActive" class="form-check-label" id="label-ApiKey-isActive"><span class="text-danger">*</span>Is Active</label>
            </div>
            <div class="form-group" *ngIf="!isFieldHidden('createdDate')">
                <label for="ApiKey-createdDate" id="label-ApiKey-createdDate"><span class="text-danger">*</span>Created Date</label>
                <input type="datetime-local" id="ApiKey-createdDate" formControlName="createdDate" placeholder="Enter Created Date" class="form-control api-key-input" [disabled]="!userIsBMCApiKeyWriter()" aria-labelledby="label-createdDate" />
                <div *ngIf="apiKeyForm.get('createdDate')?.invalid && apiKeyForm.get('createdDate')?.touched" class="text-danger">
                    Created Date is required
                </div>
            </div>
            <div class="form-group" *ngIf="!isFieldHidden('lastUsedDate')">
                <label for="ApiKey-lastUsedDate" id="label-ApiKey-lastUsedDate">Last Used Date</label>
                <input type="datetime-local" id="ApiKey-lastUsedDate" formControlName="lastUsedDate" placeholder="Enter Last Used Date" class="form-control api-key-input" [disabled]="!userIsBMCApiKeyWriter()" aria-labelledby="label-lastUsedDate" />
            </div>
            <div class="form-group" *ngIf="!isFieldHidden('expiresDate')">
                <label for="ApiKey-expiresDate" id="label-ApiKey-expiresDate">Expires Date</label>
                <input type="datetime-local" id="ApiKey-expiresDate" formControlName="expiresDate" placeholder="Enter Expires Date" class="form-control api-key-input" [disabled]="!userIsBMCApiKeyWriter()" aria-labelledby="label-expiresDate" />
            </div>
            <div class="form-group" *ngIf="!isFieldHidden('rateLimitPerHour')">
                <label for="ApiKey-rateLimitPerHour" id="label-ApiKey-rateLimitPerHour"><span class="text-danger">*</span>Rate Limit Per Hour</label>
                <input type="number" id="ApiKey-rateLimitPerHour" formControlName="rateLimitPerHour" placeholder="Enter Rate Limit Per Hour" class="form-control api-key-input" [disabled]="!userIsBMCApiKeyWriter()" aria-labelledby="label-rateLimitPerHour" />
                <div *ngIf="apiKeyForm.get('rateLimitPerHour')?.invalid && apiKeyForm.get('rateLimitPerHour')?.touched" class="text-danger">
                    Rate Limit Per Hour is required
                </div>
            </div>
            <div class="form-check my-2" *ngIf="isEditMode && !isFieldHidden('{fc.camelCaseName}')" )>
                <input type="checkbox" id="ApiKey-active" formControlName="active" class="form-check-input" [disabled]="!userIsBMCApiKeyWriter()" />
                <label for="ApiKey-active" class="form-check-label" id="label-ApiKey-active"><span class="text-danger">*</span>Active</label>
            </div>
            <div class="form-check my-2" *ngIf="isEditMode && !isFieldHidden('{fc.camelCaseName}')" )>
                <input type="checkbox" id="ApiKey-deleted" formControlName="deleted" class="form-check-input" [disabled]="!userIsBMCApiKeyWriter()" />
                <label for="ApiKey-deleted" class="form-check-label" id="label-ApiKey-deleted"><span class="text-danger">*</span>Deleted</label>
            </div>
         <div class="modal-footer api-key-modal-footer">
            <button type="button" class="btn btn-sm btn-secondary" (click)="closeModal()" ngbTooltip="Cancel the Api Key changes and Close">Cancel</button>
            <button type="submit" class="btn btn-sm btn-primary" [disabled]="isSaving || !apiKeyForm.valid || apiKeyForm.pristine  || userIsBMCApiKeyWriter() == false " ngbTooltip="Save the Api Key changes and Close">
                <span *ngIf="isSaving">
                    <span class="spinner-border spinner-border-sm me-1" role="status" aria-hidden="true"></span>
                    Saving...
                </span>
                <span *ngIf="!isSaving">
                    <i class="fa-solid fa-check me-1"></i>
                    {{ isEditMode ? 'Save Changes' : 'Add Api Key' }}
                </span>
            </button>
         </div>
      </form>
   </div>
</ng-template>
