<div class="add-lego-set" *ngIf="showAddButton == true">
    <button type="button"
        class="btn btn-sm btn-add-lego-set me-2"
        (click)="openModal()"
        ngbTooltip="Add Lego Set" 
        *ngIf="userIsBMCLegoSetWriter() == true"
        placement="top"
        style="min-width: 75px;">Add</button>
</div>

<!-- ng-bootstrap modal -->
<ng-template #legoSetModal let-modal>
   <div class="modal-header lego-set-modal-header">
      <h5 class="modal-title mb-0" id="legoSetModalLabel" ngbTooltip="{{objectGuid}}">
      {{ isEditMode ? 'Edit Lego Set' : 'Add Lego Set' }}
      </h5>
      <button type="button" class="modal-close-btn" (click)="closeModal()" aria-label="Close">
        <i class="fa fa-xmark"></i>
      </button>
   </div>
   <div class="modal-body lego-set-modal-body">
      <form [formGroup]="legoSetForm" (ngSubmit)="submitForm()">
            <div class="form-group" *ngIf="!isFieldHidden('name')">
                <label for="LegoSet-name" id="label-LegoSet-name"><span class="text-danger">*</span>Name</label>
                <textarea id="LegoSet-name" formControlName="name" placeholder="Enter Name" class="form-control lego-set-input" [disabled]="!userIsBMCLegoSetWriter()"></textarea>
                <div *ngIf="legoSetForm.get('name')?.invalid && legoSetForm.get('name')?.touched" class="text-danger">
                    Name is required
                </div>
            </div>
            <div class="form-group" *ngIf="!isFieldHidden('setNumber')">
                <label for="LegoSet-setNumber" id="label-LegoSet-setNumber"><span class="text-danger">*</span>Set Number</label>
                <input type="text" id="LegoSet-setNumber" formControlName="setNumber" placeholder="Enter Set Number" class="form-control lego-set-input" [disabled]="!userIsBMCLegoSetWriter()" aria-labelledby="label-setNumber" />
                <div *ngIf="legoSetForm.get('setNumber')?.invalid && legoSetForm.get('setNumber')?.touched" class="text-danger">
                    Set Number is required
                </div>
            </div>
            <div class="form-group" *ngIf="!isFieldHidden('year')">
                <label for="LegoSet-year" id="label-LegoSet-year"><span class="text-danger">*</span>Year</label>
                <input type="number" id="LegoSet-year" formControlName="year" placeholder="Enter Year" class="form-control lego-set-input" [disabled]="!userIsBMCLegoSetWriter()" aria-labelledby="label-year" />
                <div *ngIf="legoSetForm.get('year')?.invalid && legoSetForm.get('year')?.touched" class="text-danger">
                    Year is required
                </div>
            </div>
            <div class="form-group" *ngIf="!isFieldHidden('partCount')">
                <label for="LegoSet-partCount" id="label-LegoSet-partCount"><span class="text-danger">*</span>Part Count</label>
                <input type="number" id="LegoSet-partCount" formControlName="partCount" placeholder="Enter Part Count" class="form-control lego-set-input" [disabled]="!userIsBMCLegoSetWriter()" aria-labelledby="label-partCount" />
                <div *ngIf="legoSetForm.get('partCount')?.invalid && legoSetForm.get('partCount')?.touched" class="text-danger">
                    Part Count is required
                </div>
            </div>
            <div class="form-group" *ngIf="!isFieldHidden('legoThemeId')">
                <label for="LegoSet-legoThemeId" id="label-LegoSet-legoThemeId">Lego Theme</label>
                <select id="LegoSet-legoThemeId" formControlName="legoThemeId" class="form-select lego-set-select" [disabled]="!userIsBMCLegoSetWriter()">
                    <option [ngValue]="null">Select Lego Theme</option>
                    <option *ngFor="let legoTheme of legoThemes$ | async" [ngValue]="legoTheme.id">{{legoTheme.name}}</option>
                </select>
            </div>
            <div class="form-group" *ngIf="!isFieldHidden('imageUrl')">
                <label for="LegoSet-imageUrl" id="label-LegoSet-imageUrl">Image Url</label>
                <input type="text" id="LegoSet-imageUrl" formControlName="imageUrl" placeholder="Enter Image Url" class="form-control lego-set-input" [disabled]="!userIsBMCLegoSetWriter()" aria-labelledby="label-imageUrl" />
            </div>
            <div class="form-group" *ngIf="!isFieldHidden('brickLinkUrl')">
                <label for="LegoSet-brickLinkUrl" id="label-LegoSet-brickLinkUrl">Brick Link Url</label>
                <input type="text" id="LegoSet-brickLinkUrl" formControlName="brickLinkUrl" placeholder="Enter Brick Link Url" class="form-control lego-set-input" [disabled]="!userIsBMCLegoSetWriter()" aria-labelledby="label-brickLinkUrl" />
            </div>
            <div class="form-group" *ngIf="!isFieldHidden('rebrickableUrl')">
                <label for="LegoSet-rebrickableUrl" id="label-LegoSet-rebrickableUrl">Rebrickable Url</label>
                <input type="text" id="LegoSet-rebrickableUrl" formControlName="rebrickableUrl" placeholder="Enter Rebrickable Url" class="form-control lego-set-input" [disabled]="!userIsBMCLegoSetWriter()" aria-labelledby="label-rebrickableUrl" />
            </div>
            <div class="form-group" *ngIf="!isFieldHidden('rebrickableSetNum')">
                <label for="LegoSet-rebrickableSetNum" id="label-LegoSet-rebrickableSetNum">Rebrickable Set Num</label>
                <input type="text" id="LegoSet-rebrickableSetNum" formControlName="rebrickableSetNum" placeholder="Enter Rebrickable Set Num" class="form-control lego-set-input" [disabled]="!userIsBMCLegoSetWriter()" aria-labelledby="label-rebrickableSetNum" />
            </div>
            <div class="form-group" *ngIf="!isFieldHidden('lastModifiedDate')">
                <label for="LegoSet-lastModifiedDate" id="label-LegoSet-lastModifiedDate">Last Modified Date</label>
                <input type="datetime-local" id="LegoSet-lastModifiedDate" formControlName="lastModifiedDate" placeholder="Enter Last Modified Date" class="form-control lego-set-input" [disabled]="!userIsBMCLegoSetWriter()" aria-labelledby="label-lastModifiedDate" />
            </div>
            <div class="form-group" *ngIf="!isFieldHidden('brickSetId')">
                <label for="LegoSet-brickSetId" id="label-LegoSet-brickSetId">Brick Set Id</label>
                <input type="number" id="LegoSet-brickSetId" formControlName="brickSetId" placeholder="Enter Brick Set Id" class="form-control lego-set-input" [disabled]="!userIsBMCLegoSetWriter()" aria-labelledby="label-brickSetId" />
            </div>
            <div class="form-group" *ngIf="!isFieldHidden('brickSetUrl')">
                <label for="LegoSet-brickSetUrl" id="label-LegoSet-brickSetUrl">Brick Set Url</label>
                <input type="text" id="LegoSet-brickSetUrl" formControlName="brickSetUrl" placeholder="Enter Brick Set Url" class="form-control lego-set-input" [disabled]="!userIsBMCLegoSetWriter()" aria-labelledby="label-brickSetUrl" />
            </div>
            <div class="form-group" *ngIf="!isFieldHidden('retailPriceUS')">
                <label for="LegoSet-retailPriceUS" id="label-LegoSet-retailPriceUS">Retail Price U S</label>
                <input type="number" id="LegoSet-retailPriceUS" formControlName="retailPriceUS" placeholder="Enter Retail Price U S" class="form-control lego-set-input" [disabled]="!userIsBMCLegoSetWriter()" aria-labelledby="label-retailPriceUS" />
            </div>
            <div class="form-group" *ngIf="!isFieldHidden('retailPriceUK')">
                <label for="LegoSet-retailPriceUK" id="label-LegoSet-retailPriceUK">Retail Price U K</label>
                <input type="number" id="LegoSet-retailPriceUK" formControlName="retailPriceUK" placeholder="Enter Retail Price U K" class="form-control lego-set-input" [disabled]="!userIsBMCLegoSetWriter()" aria-labelledby="label-retailPriceUK" />
            </div>
            <div class="form-group" *ngIf="!isFieldHidden('retailPriceCA')">
                <label for="LegoSet-retailPriceCA" id="label-LegoSet-retailPriceCA">Retail Price C A</label>
                <input type="number" id="LegoSet-retailPriceCA" formControlName="retailPriceCA" placeholder="Enter Retail Price C A" class="form-control lego-set-input" [disabled]="!userIsBMCLegoSetWriter()" aria-labelledby="label-retailPriceCA" />
            </div>
            <div class="form-group" *ngIf="!isFieldHidden('retailPriceEU')">
                <label for="LegoSet-retailPriceEU" id="label-LegoSet-retailPriceEU">Retail Price E U</label>
                <input type="number" id="LegoSet-retailPriceEU" formControlName="retailPriceEU" placeholder="Enter Retail Price E U" class="form-control lego-set-input" [disabled]="!userIsBMCLegoSetWriter()" aria-labelledby="label-retailPriceEU" />
            </div>
            <div class="form-group" *ngIf="!isFieldHidden('instructionsUrl')">
                <label for="LegoSet-instructionsUrl" id="label-LegoSet-instructionsUrl">Instructions Url</label>
                <textarea id="LegoSet-instructionsUrl" formControlName="instructionsUrl" placeholder="Enter Instructions Url" class="form-control lego-set-input" [disabled]="!userIsBMCLegoSetWriter()"></textarea>
            </div>
            <div class="form-group" *ngIf="!isFieldHidden('subtheme')">
                <label for="LegoSet-subtheme" id="label-LegoSet-subtheme">Subtheme</label>
                <input type="text" id="LegoSet-subtheme" formControlName="subtheme" placeholder="Enter Subtheme" class="form-control lego-set-input" [disabled]="!userIsBMCLegoSetWriter()" aria-labelledby="label-subtheme" />
            </div>
            <div class="form-group" *ngIf="!isFieldHidden('availability')">
                <label for="LegoSet-availability" id="label-LegoSet-availability">Availability</label>
                <input type="text" id="LegoSet-availability" formControlName="availability" placeholder="Enter Availability" class="form-control lego-set-input" [disabled]="!userIsBMCLegoSetWriter()" aria-labelledby="label-availability" />
            </div>
            <div class="form-group" *ngIf="!isFieldHidden('minifigCount')">
                <label for="LegoSet-minifigCount" id="label-LegoSet-minifigCount">Minifig Count</label>
                <input type="number" id="LegoSet-minifigCount" formControlName="minifigCount" placeholder="Enter Minifig Count" class="form-control lego-set-input" [disabled]="!userIsBMCLegoSetWriter()" aria-labelledby="label-minifigCount" />
            </div>
            <div class="form-group" *ngIf="!isFieldHidden('brickSetRating')">
                <label for="LegoSet-brickSetRating" id="label-LegoSet-brickSetRating">Brick Set Rating</label>
                <input type="number" id="LegoSet-brickSetRating" formControlName="brickSetRating" placeholder="Enter Brick Set Rating" class="form-control lego-set-input" [disabled]="!userIsBMCLegoSetWriter()" aria-labelledby="label-brickSetRating" />
            </div>
            <div class="form-group" *ngIf="!isFieldHidden('brickSetReviewCount')">
                <label for="LegoSet-brickSetReviewCount" id="label-LegoSet-brickSetReviewCount">Brick Set Review Count</label>
                <input type="number" id="LegoSet-brickSetReviewCount" formControlName="brickSetReviewCount" placeholder="Enter Brick Set Review Count" class="form-control lego-set-input" [disabled]="!userIsBMCLegoSetWriter()" aria-labelledby="label-brickSetReviewCount" />
            </div>
            <div class="form-group" *ngIf="!isFieldHidden('brickSetLastEnrichedDate')">
                <label for="LegoSet-brickSetLastEnrichedDate" id="label-LegoSet-brickSetLastEnrichedDate">Brick Set Last Enriched Date</label>
                <input type="datetime-local" id="LegoSet-brickSetLastEnrichedDate" formControlName="brickSetLastEnrichedDate" placeholder="Enter Brick Set Last Enriched Date" class="form-control lego-set-input" [disabled]="!userIsBMCLegoSetWriter()" aria-labelledby="label-brickSetLastEnrichedDate" />
            </div>
            <div class="form-check my-2" *ngIf="isEditMode && !isFieldHidden('{fc.camelCaseName}')" )>
                <input type="checkbox" id="LegoSet-active" formControlName="active" class="form-check-input" [disabled]="!userIsBMCLegoSetWriter()" />
                <label for="LegoSet-active" class="form-check-label" id="label-LegoSet-active"><span class="text-danger">*</span>Active</label>
            </div>
            <div class="form-check my-2" *ngIf="isEditMode && !isFieldHidden('{fc.camelCaseName}')" )>
                <input type="checkbox" id="LegoSet-deleted" formControlName="deleted" class="form-check-input" [disabled]="!userIsBMCLegoSetWriter()" />
                <label for="LegoSet-deleted" class="form-check-label" id="label-LegoSet-deleted"><span class="text-danger">*</span>Deleted</label>
            </div>
         <div class="modal-footer lego-set-modal-footer">
            <button type="button" class="btn btn-sm btn-secondary" (click)="closeModal()" ngbTooltip="Cancel the Lego Set changes and Close">Cancel</button>
            <button type="submit" class="btn btn-sm btn-primary" [disabled]="isSaving || !legoSetForm.valid || legoSetForm.pristine  || userIsBMCLegoSetWriter() == false " ngbTooltip="Save the Lego Set changes and Close">
                <span *ngIf="isSaving">
                    <span class="spinner-border spinner-border-sm me-1" role="status" aria-hidden="true"></span>
                    Saving...
                </span>
                <span *ngIf="!isSaving">
                    <i class="fa-solid fa-check me-1"></i>
                    {{ isEditMode ? 'Save Changes' : 'Add Lego Set' }}
                </span>
            </button>
         </div>
      </form>
   </div>
</ng-template>
