<app-brick-colour-add-edit [showAddButton]="false"></app-brick-colour-add-edit>
<div class="row" *ngIf="userIsBMCBrickColourReader() == true">
    <div class="col" *showSpinner="isLoading$ | async">
      <!-- Virtual Scrolling Table for Desktop -->
      <div class="card shadow-sm virtual-table-container" *ngIf="!isSmallScreen">
         <!-- Fixed Header (outside viewport) -->
      <div class="table-header-fixed">
        <table class="custom-table mb-0">
        <thead>
          <tr>
            <th class="header-action-button" style="width: 1rem;" *ngIf="userIsBMCBrickColourWriter() == true"></th>
            <th class="header-action-button" style="width: 1rem;" *ngIf="userIsBMCBrickColourWriter() == true"></th>

              <!-- Dynamic columns built with rules from the columns input -->
              <th class="sortable"
                  scope="col"
                  *ngFor="let col of columns"
                  (click)="sortBy(col.key)"
                  [style.width]="col.width || 'auto'">
                {{ col.label }}
                <span *ngIf="sortColumn === col.key"
                      [ngClass]="sortDirection === 'asc' ? 'arrow-up' : 'arrow-down'">
                </span>
              </th>
<!-- Commented block containing alternate means of defining columns by manually specifying them all.  This could be useful for people making new components based on this one, so leaving in as a resource.
            <th class="sortable" scope="col" (click)="sortBy('name')">
                Name
                <span *ngIf="sortColumn === 'name'" [ngClass]="sortDirection === 'asc' ? 'arrow-up' : 'arrow-down'"></span>
            </th>
            <th class="sortable" scope="col" (click)="sortBy('ldrawColourCode')">
                Ldraw  Colour  Code
                <span *ngIf="sortColumn === 'ldrawColourCode'" [ngClass]="sortDirection === 'asc' ? 'arrow-up' : 'arrow-down'"></span>
            </th>
            <th class="sortable" scope="col" (click)="sortBy('hexRgb')">
                Hex  Rgb
                <span *ngIf="sortColumn === 'hexRgb'" [ngClass]="sortDirection === 'asc' ? 'arrow-up' : 'arrow-down'"></span>
            </th>
            <th class="sortable" scope="col" (click)="sortBy('hexEdgeColour')">
                Hex  Edge  Colour
                <span *ngIf="sortColumn === 'hexEdgeColour'" [ngClass]="sortDirection === 'asc' ? 'arrow-up' : 'arrow-down'"></span>
            </th>
            <th class="sortable" scope="col" (click)="sortBy('alpha')">
                Alpha
                <span *ngIf="sortColumn === 'alpha'" [ngClass]="sortDirection === 'asc' ? 'arrow-up' : 'arrow-down'"></span>
            </th>
            <th class="sortable" scope="col" (click)="sortBy('isTransparent')">
                Is  Transparent
                <span *ngIf="sortColumn === 'isTransparent'" [ngClass]="sortDirection === 'asc' ? 'arrow-up' : 'arrow-down'"></span>
            </th>
            <th class="sortable" scope="col" (click)="sortBy('isMetallic')">
                Is  Metallic
                <span *ngIf="sortColumn === 'isMetallic'" [ngClass]="sortDirection === 'asc' ? 'arrow-up' : 'arrow-down'"></span>
            </th>
            <th class="sortable" scope="col" (click)="sortBy('colourFinish.name')">
                Colour  Finish
                <span *ngIf="sortColumn === 'colourFinish.name'" [ngClass]="sortDirection === 'asc' ? 'arrow-up' : 'arrow-down'"></span>
            </th>
            <th class="sortable" scope="col" (click)="sortBy('luminance')">
                Luminance
                <span *ngIf="sortColumn === 'luminance'" [ngClass]="sortDirection === 'asc' ? 'arrow-up' : 'arrow-down'"></span>
            </th>
            <th class="sortable" scope="col" (click)="sortBy('legoColourId')">
                Lego  Colour  Id
                <span *ngIf="sortColumn === 'legoColourId'" [ngClass]="sortDirection === 'asc' ? 'arrow-up' : 'arrow-down'"></span>
            </th>
            <th class="sortable" scope="col" (click)="sortBy('sequence')">
                Sequence
                <span *ngIf="sortColumn === 'sequence'" [ngClass]="sortDirection === 'asc' ? 'arrow-up' : 'arrow-down'"></span>
            </th>
End of commented block for alternate definition option -->
          </tr>
        </thead>
      </table>
      </div>
      <cdk-virtual-scroll-viewport itemSize="48" class="viewport" minBufferPx="400" maxBufferPx="800">
        <table class="custom-table mb-0">
        <tbody>
            <!-- Only visible rows are rendered -->
          <tr *cdkVirtualFor="let brickColour of filteredBrickColours; trackBy: getBrickColourId"
              [ngClass]="{
                 'row-inactive': brickColour.active == false,
                 'row-deleted': brickColour.deleted == true 
                 }">
            <td class="header-action-button" *ngIf="userIsBMCBrickColourWriter() == true">
              <button class="btn btn-sm"
                      (click)="handleEdit(brickColour)"
                      ngbTooltip="Edit" 
                      placement="top">
                <i class="fa fa-pen"></i>
              </button>
            </td>
            <td class="header-action-button" *ngIf="userIsBMCBrickColourWriter() == true">
              <button class="btn btn-sm"
                      (click)="handleDelete(brickColour)"
                      ngbTooltip="Delete" 
                      placement="top"
                      *ngIf="brickColour.deleted == false">
                <i class="fa fa-trash"></i>
              </button>
              <button class="btn btn-sm"
                      (click)="handleUndelete(brickColour)"
                      ngbTooltip="Undelete" 
                      placement="top"
                      *ngIf="brickColour.deleted == true">
                <i class="fa fa-trash-arrow-up"></i>
              </button>
            </td>

              <!-- Dynamic cells built with rules from the columns input -->
              <td *ngFor="let col of columns"
                  class="text-truncate"
                  [style.width]="col.width || 'auto'">

                <!-- Custom rendering -->
                <ng-container [ngSwitch]="col.template">

                  <!-- handle booleans -->
                  <boolean-icon *ngSwitchCase="'boolean'" [value]="getNestedValue(brickColour, col.key)" />

                  <!-- handle internal links -->
                  <a *ngSwitchCase="'link'"
                     [routerLink]="col.linkPath ? buildLink(brickColour, col.linkPath) : null"
                     class="btn btn-link text-left">
                    {{ getNestedValue(brickColour, col.key) }}
                  </a>

                  <!-- handle dates -->
                  <span *ngSwitchCase="'date'">
                    {{ getNestedValue(brickColour, col.key) | date:'yyyy-MM-dd HH:mm:ss Z' }}
                  </span>

                  <!-- handle colors -->
                  <span *ngSwitchCase="'color'" class="d-inline-flex align-items-center gap-2">
                    <!-- Color swatch -->
                    <span class="color-swatch"
                            [style.background-color]="getNestedValue(brickColour, col.key) || '#cccccc'"
                            title="{{ getNestedValue(brickColour, col.key) || 'No color set' }}">
                    </span>
                    <!-- Hex value -->
                    <!-- <span class="text-muted small">
                        {{ getNestedValue(brickColour, col.key) || '—' }}
                    </span> -->
                  </span>

                  <!-- handle anything else -->
                  <span *ngSwitchDefault>
                    {{ getNestedValue(brickColour, col.key) }}
                  </span>
                </ng-container>
              </td>
<!-- Commented block containing alternate means of defining cells by manually specifying them all.  This could be useful for people making new components based on this one, so leaving in as a resource.
            <td class="text-truncate"><a [routerLink]="['/brickcolour', brickColour.id]" class="btn btn-link text-left" ngbTooltip="Open Brick Colour details">{{brickColour.name}}</a></td>
            <td class="text-truncate">{{brickColour.ldrawColourCode | bigNumberFormat : '1.0-2'}}</td>
            <td class="text-truncate">{{brickColour.hexRgb}}</td>
            <td class="text-truncate">{{brickColour.hexEdgeColour}}</td>
            <td class="text-truncate">{{brickColour.alpha | bigNumberFormat : '1.0-2'}}</td>
            <td class="text-truncate"><boolean-icon [value]="brickColour.isTransparent"/></td>
            <td class="text-truncate"><boolean-icon [value]="brickColour.isMetallic"/></td>
            <td class="text-truncate"><a [routerLink]="['/colourfinish', brickColour.colourFinishId]" class="btn btn-link text-left" ngbTooltip="Open Colour Finish details">{{brickColour.colourFinish?.name}}</a></td>
            <td class="text-truncate">{{brickColour.luminance | bigNumberFormat : '1.0-2'}}</td>
            <td class="text-truncate">{{brickColour.legoColourId | bigNumberFormat : '1.0-2'}}</td>
            <td class="text-truncate">{{brickColour.sequence | bigNumberFormat : '1.0-2'}}</td>
End of commented block for alternate definition option -->
                 </tr>
             </tbody>
         </table>
         </cdk-virtual-scroll-viewport>
      </div>

      <!-- Cards for Mobile -->
      <cdk-virtual-scroll-viewport *ngIf="isSmallScreen" itemSize="320" class="mobile-viewport" minBufferPx="600" maxBufferPx="1200">
        <div *cdkVirtualFor="let brickColour of filteredBrickColours; trackBy: getBrickColourId" class="card my-2"
              [ngClass]="{
                 'row-inactive': brickColour.active == false,
                 'row-deleted': brickColour.deleted == true 
                 }">


        <!-- Prominent field first, if defined on the columns input -->
        <div class="card-header py-3" *ngIf="prominentColumn">
          <strong class="d-block text-truncate fs-5">
            

            <ng-container [ngSwitch]="prominentColumn.template">
              <boolean-icon *ngSwitchCase="'boolean'" [value]="getNestedValue(brickColour, prominentColumn.key)" />
              <a *ngSwitchCase="'link'"
                 [routerLink]="prominentColumn.linkPath ? buildLink(brickColour, prominentColumn.linkPath) : null"
                 class="text-primary">
                {{ getNestedValue(brickColour, prominentColumn.key) }}
              </a>
              <span *ngSwitchCase="'date'">
                {{ getNestedValue(brickColour, prominentColumn.key) | date:'yyyy-MM-dd HH:mm:ss Z' }}
              </span>
              <span *ngSwitchDefault>
                {{ getNestedValue(brickColour, prominentColumn.key) }}
              </span>
            </ng-container>


          </strong>
        </div>

        <!-- Main card body built with rules from the columns input  -->
        <div class="card-body small">
          <div class="row g-2">
            <ng-container *ngFor="let col of mobileColumns">
              <!-- Skip if it's the prominent one (already shown above) -->
              <ng-container *ngIf="col !== prominentColumn">
                <div class="col-5 text-muted">{{ col.label }}:</div>
                <div class="col-7 text-end fw-medium">

                  <ng-container [ngSwitch]="col.template">

                    <!-- boolean handling -->
                    <boolean-icon *ngSwitchCase="'boolean'" [value]="getNestedValue(brickColour, col.key)" />

                    <!-- internal link handling -->
                    <a *ngSwitchCase="'link'"
                       [routerLink]="col.linkPath ? buildLink(brickColour, col.linkPath) : null"
                       class="text-primary">
                      {{ getNestedValue(brickColour, col.key)}}
                    </a>

                    <!-- data handling -->
                    <span *ngSwitchCase="'date'">
                      {{ getNestedValue(brickColour, col.key) | date:'yyyy-MM-dd HH:mm:ss Z' }}
                    </span>

                    <!-- color handling -->
                    <span *ngSwitchCase="'color'" class="d-inline-flex align-items-center gap-2 justify-content-end">
                        <span class="color-swatch"
                            [style.background-color]="getNestedValue(brickColour, col.key) || '#cccccc'"
                            title="{{ getNestedValue(brickColour, col.key) || 'No color set' }}">
                        </span>
                        <!--
                        <span class="small">
                        {{ getNestedValue(brickColour, col.key) || '—' }}
                        </span>
                        -->
                    </span>

                    <!-- handle everything else -->
                    <span *ngSwitchDefault>
                      {{ getNestedValue(brickColour, col.key)}}
                    </span>
                  </ng-container>

                </div>
              </ng-container>
            </ng-container>
          </div>
        </div>


        <!-- Action buttons -->
        <div class="card-footer bg-transparent border-0 pt-0">
          <div class="btn-group w-100" role="group">
            <button class="btn btn-sm btn-outline-primary flex-fill" [routerLink]="['/brickcolour', brickColour.id]" ngbTooltip="View">
              <i class="fa fa-magnifying-glass"></i> View
            </button>
            <button class="btn btn-sm btn-outline-secondary" (click)="handleEdit(brickColour)" *ngIf="userIsBMCBrickColourWriter()" ngbTooltip="Edit">
              <i class="fa fa-pen"></i> Edit
            </button>

            <button class="btn btn-sm btn-outline-danger" (click)="handleDelete(brickColour)" *ngIf="userIsBMCBrickColourWriter() && brickColour.deleted == false" ngbTooltip="Delete">
              <i class="fa fa-trash"></i> Delete
            </button>
            <button class="btn btn-sm btn-outline-warning" (click)="handleUndelete(brickColour)" *ngIf="userIsBMCBrickColourWriter() && brickColour.deleted == true" ngbTooltip="Undelete">
              <i class="fa fa-trash-arrow-upp"></i> UnDelete
            </button>

          </div>
        </div>
      </div>

<!-- Commented block containing alternate means of defining card by manually specifying fields.  This could be useful for people making new components based on this one, so leaving in as a resource.
           <div class="card-header d-flex justify-content-between align-items-center">
             <div>
               <strong>{{brickColour.name}}</strong>
               <small class="text-muted d-block">{{brickColour.colourFinish?.name}}</small>
             </div>
             <div>
                <button class="btn btn-sm"
                        [routerLink]="['/brickcolour', brickColour.id]"
                        ngbTooltip="Brick Colour Details">
                <i class="fa fa-magnifying-glass"></i>
                </button>
                <button class="btn btn-sm"
                        (click)="handleEdit(brickColour)"
                        ngbTooltip="Edit Brick Colour">
                <i class="fa fa-pen"></i>
                </button>
                <button class="btn btn-sm"
                      (click)="handleDelete(brickColour)"
                      ngbTooltip="Delete Brick Colour" 
                      placement="top"
                      *ngIf="brickColour.deleted == false">
                  <i class="fa fa-trash"></i>
                </button>
                <button class="btn btn-sm"
                      (click)="handleUndelete(brickColour)"
                      ngbTooltip="Undelete Brick Colour" 
                      placement="top"
                      *ngIf="brickColour.deleted == true">
                 <i class="fa fa-trash-arrow-up"></i>
                </button>
             </div>
             </div>
             <div class="card-body">
            <p class="brick-colour-info" *ngIf="brickColour.name != null">
              <strong>Name: </strong>
              {{brickColour.name}}
            </p>
            <p class="brick-colour-info" *ngIf="brickColour.ldrawColourCode != null">
              <strong>Ldraw Colour Code: </strong>
              {{brickColour.ldrawColourCode | bigNumberFormat : '1.0-2'}}
            </p>
            <p class="brick-colour-info" *ngIf="brickColour.hexRgb != null">
              <strong>Hex Rgb: </strong>
              {{brickColour.hexRgb}}
            </p>
            <p class="brick-colour-info" *ngIf="brickColour.hexEdgeColour != null">
              <strong>Hex Edge Colour: </strong>
              {{brickColour.hexEdgeColour}}
            </p>
            <p class="brick-colour-info" *ngIf="brickColour.alpha != null">
              <strong>Alpha: </strong>
              {{brickColour.alpha | bigNumberFormat : '1.0-2'}}
            </p>
            <p class="brick-colour-info" *ngIf="brickColour.isTransparent != null">
              <strong>Is Transparent: </strong>
              <boolean-icon [value]="brickColour.isTransparent"/>
            </p>
            <p class="brick-colour-info" *ngIf="brickColour.isMetallic != null">
              <strong>Is Metallic: </strong>
              <boolean-icon [value]="brickColour.isMetallic"/>
            </p>
            <p class="brick-colour-info" *ngIf="brickColour.colourFinishId != null">
              <strong>Colour Finish: </strong>
              <a [routerLink]="['/colourfinish', brickColour.colourFinishId]" class="text-left p-0 m-0" ngbTooltip="Open Colour Finish details">{{brickColour.colourFinish?.name}}</a>
            </p>
            <p class="brick-colour-info" *ngIf="brickColour.luminance != null">
              <strong>Luminance: </strong>
              {{brickColour.luminance | bigNumberFormat : '1.0-2'}}
            </p>
            <p class="brick-colour-info" *ngIf="brickColour.legoColourId != null">
              <strong>Lego Colour Id: </strong>
              {{brickColour.legoColourId | bigNumberFormat : '1.0-2'}}
            </p>
            <p class="brick-colour-info" *ngIf="brickColour.sequence != null">
              <strong>Sequence: </strong>
              {{brickColour.sequence | bigNumberFormat : '1.0-2'}}
            </p>
            </div>
         </div>
End of commented block for alternate definition option  -->
      </cdk-virtual-scroll-viewport>
   </div>
</div>
