<div class="add-scheduling-target-address-change-history" *ngIf="showAddButton == true">
    <button type="button"
        class="btn btn-sm btn-add-scheduling-target-address-change-history me-2"
        (click)="openModal()"
        ngbTooltip="Add Scheduling Target Address Change History" 
        *ngIf="userIsSchedulerSchedulingTargetAddressChangeHistoryWriter() == true"
        placement="top"
        style="min-width: 75px;">Add</button>
</div>

<!-- ng-bootstrap modal -->
<ng-template #schedulingTargetAddressChangeHistoryModal let-modal>
   <div class="modal-header bg-dark text-light scheduling-target-address-change-history-modal-header">
      <h5 class="modal-title mb-0" id="schedulingTargetAddressChangeHistoryModalLabel" ngbTooltip="{{objectGuid}}">
      {{ isEditMode ? 'Edit Scheduling Target Address Change History' : 'Add Scheduling Target Address Change History' }}
      </h5>
      <button type="button"
              class="btn btn-sm btn-close btn-close-white"
              (click)="closeModal()">
       </button>
   </div>
   <div class="modal-body scheduling-target-address-change-history-modal-body">
      <form [formGroup]="schedulingTargetAddressChangeHistoryForm" (ngSubmit)="submitForm()">
            <div class="form-group" *ngIf="!isFieldHidden('schedulingTargetAddressId')">
                <label for="SchedulingTargetAddressChangeHistory-schedulingTargetAddressId" id="label-SchedulingTargetAddressChangeHistory-schedulingTargetAddressId"><span class="text-danger">*</span>Scheduling Target Address</label>
                <select id="SchedulingTargetAddressChangeHistory-schedulingTargetAddressId" formControlName="schedulingTargetAddressId" class="form-select scheduling-target-address-change-history-select" [disabled]="!userIsSchedulerSchedulingTargetAddressChangeHistoryWriter()">
                    <option [ngValue]="null">Select Scheduling Target Address</option>
                    <option *ngFor="let schedulingTargetAddress of schedulingTargetAddresses$ | async" [ngValue]="schedulingTargetAddress.id">{{schedulingTargetAddress.addressLine1}}</option>
                </select>
                <div *ngIf="schedulingTargetAddressChangeHistoryForm.get('schedulingTargetAddressId')?.invalid && schedulingTargetAddressChangeHistoryForm.get('schedulingTargetAddressId')?.touched" class="text-danger">
                    Scheduling Target Address is required
                </div>
            </div>
            <div class="form-group" *ngIf="isEditMode && !isFieldHidden('{fc.camelCaseName}')" )>
                <label for="SchedulingTargetAddressChangeHistory-versionNumber" id="label-SchedulingTargetAddressChangeHistory-versionNumber"><span class="text-danger">*</span>Version Number</label>
                <input type="number" id="SchedulingTargetAddressChangeHistory-versionNumber" formControlName="versionNumber" [disabled]="true" placeholder="Enter Version Number" class="form-control scheduling-target-address-change-history-input" />
            </div>
            <div class="form-group" *ngIf="!isFieldHidden('timeStamp')">
                <label for="SchedulingTargetAddressChangeHistory-timeStamp" id="label-SchedulingTargetAddressChangeHistory-timeStamp"><span class="text-danger">*</span>Time Stamp</label>
                <input type="datetime-local" id="SchedulingTargetAddressChangeHistory-timeStamp" formControlName="timeStamp" placeholder="Enter Time Stamp" class="form-control scheduling-target-address-change-history-input" [disabled]="!userIsSchedulerSchedulingTargetAddressChangeHistoryWriter()" aria-labelledby="label-timeStamp" />
                <div *ngIf="schedulingTargetAddressChangeHistoryForm.get('timeStamp')?.invalid && schedulingTargetAddressChangeHistoryForm.get('timeStamp')?.touched" class="text-danger">
                    Time Stamp is required
                </div>
            </div>
            <div class="form-group" *ngIf="!isFieldHidden('userId')">
                <label for="SchedulingTargetAddressChangeHistory-userId" id="label-SchedulingTargetAddressChangeHistory-userId"><span class="text-danger">*</span>User Id</label>
                <input type="number" id="SchedulingTargetAddressChangeHistory-userId" formControlName="userId" placeholder="Enter User Id" class="form-control scheduling-target-address-change-history-input" [disabled]="!userIsSchedulerSchedulingTargetAddressChangeHistoryWriter()" aria-labelledby="label-userId" />
                <div *ngIf="schedulingTargetAddressChangeHistoryForm.get('userId')?.invalid && schedulingTargetAddressChangeHistoryForm.get('userId')?.touched" class="text-danger">
                    User Id is required
                </div>
            </div>
            <div class="form-group" *ngIf="!isFieldHidden('data')">
                <label for="SchedulingTargetAddressChangeHistory-data" id="label-SchedulingTargetAddressChangeHistory-data"><span class="text-danger">*</span>Data</label>
                <textarea id="SchedulingTargetAddressChangeHistory-data" formControlName="data" placeholder="Enter Data" class="form-control scheduling-target-address-change-history-input" [disabled]="!userIsSchedulerSchedulingTargetAddressChangeHistoryWriter()"></textarea>
                <div *ngIf="schedulingTargetAddressChangeHistoryForm.get('data')?.invalid && schedulingTargetAddressChangeHistoryForm.get('data')?.touched" class="text-danger">
                    Data is required
                </div>
            </div>
         <div class="modal-footer scheduling-target-address-change-history-modal-footer">
            <button type="button" class="btn btn-sm btn-secondary" (click)="closeModal()" ngbTooltip="Cancel the Scheduling Target Address Change History changes and Close">Cancel</button>
            <button type="submit" class="btn btn-sm btn-primary" [disabled]="isSaving || !schedulingTargetAddressChangeHistoryForm.valid || schedulingTargetAddressChangeHistoryForm.pristine || !userIsSchedulerSchedulingTargetAddressChangeHistoryWriter()" ngbTooltip="Save the Scheduling Target Address Change History changes and Close">{{ isEditMode ? 'Save' : 'Create' }}</button>
         </div>
      </form>
   </div>
</ng-template>
