<div class="add-brick-part-relationship" *ngIf="showAddButton == true">
    <button type="button"
        class="btn btn-sm btn-add-brick-part-relationship me-2"
        (click)="openModal()"
        ngbTooltip="Add Brick Part Relationship" 
        *ngIf="userIsBMCBrickPartRelationshipWriter() == true"
        placement="top"
        style="min-width: 75px;">Add</button>
</div>

<!-- ng-bootstrap modal -->
<ng-template #brickPartRelationshipModal let-modal>
   <div class="modal-header brick-part-relationship-modal-header">
      <h5 class="modal-title mb-0" id="brickPartRelationshipModalLabel" ngbTooltip="{{objectGuid}}">
      {{ isEditMode ? 'Edit Brick Part Relationship' : 'Add Brick Part Relationship' }}
      </h5>
      <button type="button" class="modal-close-btn" (click)="closeModal()" aria-label="Close">
        <i class="fa fa-xmark"></i>
      </button>
   </div>
   <div class="modal-body brick-part-relationship-modal-body">
      <form [formGroup]="brickPartRelationshipForm" (ngSubmit)="submitForm()">
            <div class="form-group" *ngIf="!isFieldHidden('childBrickPartId')">
                <label for="BrickPartRelationship-childBrickPartId" id="label-BrickPartRelationship-childBrickPartId"><span class="text-danger">*</span>Child Brick Part</label>
                <select id="BrickPartRelationship-childBrickPartId" formControlName="childBrickPartId" class="form-select brick-part-relationship-select" [disabled]="!userIsBMCBrickPartRelationshipWriter()">
                    <option [ngValue]="null">Select Brick Part</option>
                    <option *ngFor="let brickPart of brickParts$ | async" [ngValue]="brickPart.id">{{brickPart.name}}</option>
                </select>
                <div *ngIf="brickPartRelationshipForm.get('childBrickPartId')?.invalid && brickPartRelationshipForm.get('childBrickPartId')?.touched" class="text-danger">
                    Child Brick Part is required
                </div>
            </div>
            <div class="form-group" *ngIf="!isFieldHidden('parentBrickPartId')">
                <label for="BrickPartRelationship-parentBrickPartId" id="label-BrickPartRelationship-parentBrickPartId"><span class="text-danger">*</span>Parent Brick Part</label>
                <select id="BrickPartRelationship-parentBrickPartId" formControlName="parentBrickPartId" class="form-select brick-part-relationship-select" [disabled]="!userIsBMCBrickPartRelationshipWriter()">
                    <option [ngValue]="null">Select Brick Part</option>
                    <option *ngFor="let brickPart of brickParts$ | async" [ngValue]="brickPart.id">{{brickPart.name}}</option>
                </select>
                <div *ngIf="brickPartRelationshipForm.get('parentBrickPartId')?.invalid && brickPartRelationshipForm.get('parentBrickPartId')?.touched" class="text-danger">
                    Parent Brick Part is required
                </div>
            </div>
            <div class="form-group" *ngIf="!isFieldHidden('relationshipType')">
                <label for="BrickPartRelationship-relationshipType" id="label-BrickPartRelationship-relationshipType"><span class="text-danger">*</span>Relationship Type</label>
                <input type="text" id="BrickPartRelationship-relationshipType" formControlName="relationshipType" placeholder="Enter Relationship Type" class="form-control brick-part-relationship-input" [disabled]="!userIsBMCBrickPartRelationshipWriter()" aria-labelledby="label-relationshipType" />
                <div *ngIf="brickPartRelationshipForm.get('relationshipType')?.invalid && brickPartRelationshipForm.get('relationshipType')?.touched" class="text-danger">
                    Relationship Type is required
                </div>
            </div>
            <div class="form-check my-2" *ngIf="isEditMode && !isFieldHidden('{fc.camelCaseName}')" )>
                <input type="checkbox" id="BrickPartRelationship-active" formControlName="active" class="form-check-input" [disabled]="!userIsBMCBrickPartRelationshipWriter()" />
                <label for="BrickPartRelationship-active" class="form-check-label" id="label-BrickPartRelationship-active"><span class="text-danger">*</span>Active</label>
            </div>
            <div class="form-check my-2" *ngIf="isEditMode && !isFieldHidden('{fc.camelCaseName}')" )>
                <input type="checkbox" id="BrickPartRelationship-deleted" formControlName="deleted" class="form-check-input" [disabled]="!userIsBMCBrickPartRelationshipWriter()" />
                <label for="BrickPartRelationship-deleted" class="form-check-label" id="label-BrickPartRelationship-deleted"><span class="text-danger">*</span>Deleted</label>
            </div>
         <div class="modal-footer brick-part-relationship-modal-footer">
            <button type="button" class="btn btn-sm btn-secondary" (click)="closeModal()" ngbTooltip="Cancel the Brick Part Relationship changes and Close">Cancel</button>
            <button type="submit" class="btn btn-sm btn-primary" [disabled]="isSaving || !brickPartRelationshipForm.valid || brickPartRelationshipForm.pristine  || userIsBMCBrickPartRelationshipWriter() == false " ngbTooltip="Save the Brick Part Relationship changes and Close">
                <span *ngIf="isSaving">
                    <span class="spinner-border spinner-border-sm me-1" role="status" aria-hidden="true"></span>
                    Saving...
                </span>
                <span *ngIf="!isSaving">
                    <i class="fa-solid fa-check me-1"></i>
                    {{ isEditMode ? 'Save Changes' : 'Add Brick Part Relationship' }}
                </span>
            </button>
         </div>
      </form>
   </div>
</ng-template>
