<div class="container-fluid p-1 m-0 brick-connection-details-container">
    <div class="p-2 detail-background">
        <div class="card mb-3 header-card shadow-sm">
            <div class="brick-connection-details-header">
                <div class="header-left">
                    <button class="btn btn-sm btn-light back-button me-2" (click)="goBack()" ngbTooltip="Go Back"  *ngIf="canGoBack()"><i class="fa-solid fa-arrow-left"></i></button>
                    <div>
                        <h3 class="page-title mb-0">Brick Connection</h3>
                        <small class="text-muted">{{ isEditMode ? 'Edit Brick Connection' : 'Add Brick Connection'}}</small>
                    </div>
                </div>
            </div>
        </div>

        <div class="card mb-3 header-card shadow-sm">
            <div class="row flex-grow-1" *ngIf="userIsBMCBrickConnectionReader()">
                <div class="col m-2 brick-connection-details-body">
                    <div *showSpinner="isLoading$ | async">
                        <form [class.hidden]="isLoading$ | async" [formGroup]="brickConnectionForm" (ngSubmit)="submitForm()" class="brick-connection-details-form">
                            <div class="form-group" *ngIf="!isFieldHidden('projectId')">
                                <label for="BrickConnection-projectId" id="label-BrickConnection-projectId"><span class="text-danger">*</span>Project</label>
                                <select id="BrickConnection-projectId" formControlName="projectId" class="form-select brick-connection-select" [disabled]="!userIsBMCBrickConnectionWriter()">
                                    <option [ngValue]="null">Select Project</option>
                                    <option *ngFor="let project of projects$ | async" [ngValue]="project.id">{{project.name}}</option>
                                </select>
                                <div *ngIf="brickConnectionForm.get('projectId')?.invalid && brickConnectionForm.get('projectId')?.touched" class="text-danger">
                                    Project is required
                                </div>
                            </div>
                            <div class="form-group" *ngIf="!isFieldHidden('sourcePlacedBrickId')">
                                <label for="BrickConnection-sourcePlacedBrickId" id="label-BrickConnection-sourcePlacedBrickId"><span class="text-danger">*</span>Source Placed Brick</label>
                                <select id="BrickConnection-sourcePlacedBrickId" formControlName="sourcePlacedBrickId" class="form-select brick-connection-select" [disabled]="!userIsBMCBrickConnectionWriter()">
                                    <option [ngValue]="null">Select Placed Brick</option>
                                    <option *ngFor="let placedBrick of placedBricks$ | async" [ngValue]="placedBrick.id">{{placedBrick.id}}</option>
                                </select>
                                <div *ngIf="brickConnectionForm.get('sourcePlacedBrickId')?.invalid && brickConnectionForm.get('sourcePlacedBrickId')?.touched" class="text-danger">
                                    Source Placed Brick is required
                                </div>
                            </div>
                            <div class="form-group" *ngIf="!isFieldHidden('sourceConnectorId')">
                                <label for="BrickConnection-sourceConnectorId" id="label-BrickConnection-sourceConnectorId"><span class="text-danger">*</span>Source Connector</label>
                                <select id="BrickConnection-sourceConnectorId" formControlName="sourceConnectorId" class="form-select brick-connection-select" [disabled]="!userIsBMCBrickConnectionWriter()">
                                    <option [ngValue]="null">Select Brick Part Connector</option>
                                    <option *ngFor="let brickPartConnector of brickPartConnectors$ | async" [ngValue]="brickPartConnector.id">{{brickPartConnector.id}}</option>
                                </select>
                                <div *ngIf="brickConnectionForm.get('sourceConnectorId')?.invalid && brickConnectionForm.get('sourceConnectorId')?.touched" class="text-danger">
                                    Source Connector is required
                                </div>
                            </div>
                            <div class="form-group" *ngIf="!isFieldHidden('targetPlacedBrickId')">
                                <label for="BrickConnection-targetPlacedBrickId" id="label-BrickConnection-targetPlacedBrickId"><span class="text-danger">*</span>Target Placed Brick</label>
                                <select id="BrickConnection-targetPlacedBrickId" formControlName="targetPlacedBrickId" class="form-select brick-connection-select" [disabled]="!userIsBMCBrickConnectionWriter()">
                                    <option [ngValue]="null">Select Placed Brick</option>
                                    <option *ngFor="let placedBrick of placedBricks$ | async" [ngValue]="placedBrick.id">{{placedBrick.id}}</option>
                                </select>
                                <div *ngIf="brickConnectionForm.get('targetPlacedBrickId')?.invalid && brickConnectionForm.get('targetPlacedBrickId')?.touched" class="text-danger">
                                    Target Placed Brick is required
                                </div>
                            </div>
                            <div class="form-group" *ngIf="!isFieldHidden('targetConnectorId')">
                                <label for="BrickConnection-targetConnectorId" id="label-BrickConnection-targetConnectorId"><span class="text-danger">*</span>Target Connector</label>
                                <select id="BrickConnection-targetConnectorId" formControlName="targetConnectorId" class="form-select brick-connection-select" [disabled]="!userIsBMCBrickConnectionWriter()">
                                    <option [ngValue]="null">Select Brick Part Connector</option>
                                    <option *ngFor="let brickPartConnector of brickPartConnectors$ | async" [ngValue]="brickPartConnector.id">{{brickPartConnector.id}}</option>
                                </select>
                                <div *ngIf="brickConnectionForm.get('targetConnectorId')?.invalid && brickConnectionForm.get('targetConnectorId')?.touched" class="text-danger">
                                    Target Connector is required
                                </div>
                            </div>
                            <div class="form-group" *ngIf="!isFieldHidden('connectionStrength')">
                                <label for="BrickConnection-connectionStrength" id="label-BrickConnection-connectionStrength">Connection Strength</label>
                                <input type="text" id="BrickConnection-connectionStrength" formControlName="connectionStrength" placeholder="Enter Connection Strength" class="form-control brick-connection-input" [disabled]="!userIsBMCBrickConnectionWriter()" aria-labelledby="label-connectionStrength" />
                            </div>
                            <div class="form-check my-2" *ngIf="!isFieldHidden('isLocked')">
                                <input type="checkbox" id="BrickConnection-isLocked" formControlName="isLocked" class="form-check-input" [disabled]="!userIsBMCBrickConnectionWriter()" />
                                <label for="BrickConnection-isLocked" class="form-check-label" id="label-BrickConnection-isLocked"><span class="text-danger">*</span>Is Locked</label>
                            </div>
                            <div class="form-group" *ngIf="!isFieldHidden('angleDegrees')">
                                <label for="BrickConnection-angleDegrees" id="label-BrickConnection-angleDegrees">Angle Degrees</label>
                                <input type="number" id="BrickConnection-angleDegrees" formControlName="angleDegrees" placeholder="Enter Angle Degrees" class="form-control brick-connection-input" [disabled]="!userIsBMCBrickConnectionWriter()" aria-labelledby="label-angleDegrees" />
                            </div>
                            <div class="form-check my-2"*ngIf="!isFieldHidden('{fc.camelCaseName}')" )>
                                <input type="checkbox" id="BrickConnection-active" formControlName="active" class="form-check-input" [disabled]="!userIsBMCBrickConnectionWriter()" />
                                <label for="BrickConnection-active" class="form-check-label" id="label-BrickConnection-active"><span class="text-danger">*</span>Active</label>
                            </div>
                            <div class="form-check my-2"*ngIf="!isFieldHidden('{fc.camelCaseName}')" )>
                                <input type="checkbox" id="BrickConnection-deleted" formControlName="deleted" class="form-check-input" [disabled]="!userIsBMCBrickConnectionWriter()" />
                                <label for="BrickConnection-deleted" class="form-check-label" id="label-BrickConnection-deleted"><span class="text-danger">*</span>Deleted</label>
                            </div>
                            <div class="brick-connection-details-footer">
                                <button *ngIf="isEditMode" type="button" class="btn btm-sm btn-secondary" [disabled]="brickConnectionForm.pristine" (click)="loadData(true)" ngbTooltip="Reload Brick Connection">Reset</button>
                                <button type="submit" class="btn btn-sm btn-primary" [disabled]="isSaving || !brickConnectionForm.valid || !brickConnectionForm.dirty || brickConnectionForm.pristine  || userIsBMCBrickConnectionWriter() == false " ngbTooltip="Save the Brick Connection changes">
                                    <span *ngIf="isSaving">
                                        <span class="spinner-border spinner-border-sm me-1" role="status" aria-hidden="true"></span>
                                        Saving...
                                    </span>
                                    <span *ngIf="!isSaving">
                                        <i class="fa-solid fa-check me-1"></i>
                                        {{ isEditMode ? 'Save Changes' : 'Add Brick Connection' }}
                                    </span>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

