<div class="add-export-format" *ngIf="showAddButton == true">
    <button type="button"
        class="btn btn-sm btn-add-export-format me-2"
        (click)="openModal()"
        ngbTooltip="Add Export Format" 
        *ngIf="userIsBMCExportFormatWriter() == true"
        placement="top"
        style="min-width: 75px;">Add</button>
</div>

<!-- ng-bootstrap modal -->
<ng-template #exportFormatModal let-modal>
   <div class="modal-header bg-dark text-light export-format-modal-header">
      <h5 class="modal-title mb-0" id="exportFormatModalLabel" ngbTooltip="{{objectGuid}}">
      {{ isEditMode ? 'Edit Export Format' : 'Add Export Format' }}
      </h5>
      <button type="button"
              class="btn btn-sm btn-close btn-close-white"
              (click)="closeModal()">
       </button>
   </div>
   <div class="modal-body export-format-modal-body">
      <form [formGroup]="exportFormatForm" (ngSubmit)="submitForm()">
            <div class="form-group" *ngIf="!isFieldHidden('name')">
                <label for="ExportFormat-name" id="label-ExportFormat-name"><span class="text-danger">*</span>Name</label>
                <input type="text" id="ExportFormat-name" formControlName="name" placeholder="Enter Name" class="form-control export-format-input" [disabled]="!userIsBMCExportFormatWriter()" aria-labelledby="label-name" />
                <div *ngIf="exportFormatForm.get('name')?.invalid && exportFormatForm.get('name')?.touched" class="text-danger">
                    Name is required
                </div>
            </div>
            <div class="form-group" *ngIf="!isFieldHidden('description')">
                <label for="ExportFormat-description" id="label-ExportFormat-description"><span class="text-danger">*</span>Description</label>
                <textarea id="ExportFormat-description" formControlName="description" placeholder="Enter Description" class="form-control export-format-input" [disabled]="!userIsBMCExportFormatWriter()"></textarea>
                <div *ngIf="exportFormatForm.get('description')?.invalid && exportFormatForm.get('description')?.touched" class="text-danger">
                    Description is required
                </div>
            </div>
            <div class="form-group" *ngIf="!isFieldHidden('fileExtension')">
                <label for="ExportFormat-fileExtension" id="label-ExportFormat-fileExtension">File Extension</label>
                <input type="text" id="ExportFormat-fileExtension" formControlName="fileExtension" placeholder="Enter File Extension" class="form-control export-format-input" [disabled]="!userIsBMCExportFormatWriter()" aria-labelledby="label-fileExtension" />
            </div>
            <div class="form-group" *ngIf="!isFieldHidden('sequence')">
                <label for="ExportFormat-sequence" id="label-ExportFormat-sequence">Sequence</label>
                <input type="number" id="ExportFormat-sequence" formControlName="sequence" placeholder="Enter Sequence" class="form-control export-format-input" [disabled]="!userIsBMCExportFormatWriter()" aria-labelledby="label-sequence" />
            </div>
            <div class="form-check my-2" *ngIf="isEditMode && !isFieldHidden('{fc.camelCaseName}')" )>
                <input type="checkbox" id="ExportFormat-active" formControlName="active" class="form-check-input" [disabled]="!userIsBMCExportFormatWriter()" />
                <label for="ExportFormat-active" class="form-check-label" id="label-ExportFormat-active"><span class="text-danger">*</span>Active</label>
            </div>
            <div class="form-check my-2" *ngIf="isEditMode && !isFieldHidden('{fc.camelCaseName}')" )>
                <input type="checkbox" id="ExportFormat-deleted" formControlName="deleted" class="form-check-input" [disabled]="!userIsBMCExportFormatWriter()" />
                <label for="ExportFormat-deleted" class="form-check-label" id="label-ExportFormat-deleted"><span class="text-danger">*</span>Deleted</label>
            </div>
         <div class="modal-footer export-format-modal-footer">
            <button type="button" class="btn btn-sm btn-secondary" (click)="closeModal()" ngbTooltip="Cancel the Export Format changes and Close">Cancel</button>
            <button type="submit" class="btn btn-sm btn-primary" [disabled]="isSaving || !exportFormatForm.valid || exportFormatForm.pristine  || userIsBMCExportFormatWriter() == false " ngbTooltip="Save the Export Format changes and Close">
                <span *ngIf="isSaving">
                    <span class="spinner-border spinner-border-sm me-1" role="status" aria-hidden="true"></span>
                    Saving...
                </span>
                <span *ngIf="!isSaving">
                    <i class="fa-solid fa-check me-1"></i>
                    {{ isEditMode ? 'Save Changes' : 'Add Export Format' }}
                </span>
            </button>
         </div>
      </form>
   </div>
</ng-template>
