<app-notification-delivery-attempt-add-edit [showAddButton]="false"></app-notification-delivery-attempt-add-edit>
<div class="row" *ngIf="userIsAlertingNotificationDeliveryAttemptReader() == true">
    <div class="col" *showSpinner="isLoading$ | async">
      <!-- Virtual Scrolling Table for Desktop -->
      <div class="card shadow-sm virtual-table-container" *ngIf="!isSmallScreen">
         <!-- Fixed Header (outside viewport) -->
      <div class="table-header-fixed">
        <table class="custom-table mb-0">
        <thead>
          <tr>
            <th class="header-action-button" style="width: 1rem;" *ngIf="userIsAlertingNotificationDeliveryAttemptWriter() == true"></th>
            <th class="header-action-button" style="width: 1rem;" *ngIf="userIsAlertingNotificationDeliveryAttemptWriter() == true"></th>

              <!-- Dynamic columns built with rules from the columns input -->
              <th class="sortable"
                  scope="col"
                  *ngFor="let col of columns"
                  (click)="sortBy(col.key)"
                  [style.width]="col.width || 'auto'">
                {{ col.label }}
                <span *ngIf="sortColumn === col.key"
                      [ngClass]="sortDirection === 'asc' ? 'arrow-up' : 'arrow-down'">
                </span>
              </th>
<!-- Commented block containing alternate means of defining columns by manually specifying them all.  This could be useful for people making new components based on this one, so leaving in as a resource.
            <th class="sortable" scope="col" (click)="sortBy('incidentNotification.name')">
                Incident  Notification
                <span *ngIf="sortColumn === 'incidentNotification.name'" [ngClass]="sortDirection === 'asc' ? 'arrow-up' : 'arrow-down'"></span>
            </th>
            <th class="sortable" scope="col" (click)="sortBy('notificationChannelType.name')">
                Notification  Channel  Type
                <span *ngIf="sortColumn === 'notificationChannelType.name'" [ngClass]="sortDirection === 'asc' ? 'arrow-up' : 'arrow-down'"></span>
            </th>
            <th class="sortable" scope="col" (click)="sortBy('attemptNumber')">
                Attempt  Number
                <span *ngIf="sortColumn === 'attemptNumber'" [ngClass]="sortDirection === 'asc' ? 'arrow-up' : 'arrow-down'"></span>
            </th>
            <th class="sortable" scope="col" (click)="sortBy('attemptedAt')">
                Attempted  At
                <span *ngIf="sortColumn === 'attemptedAt'" [ngClass]="sortDirection === 'asc' ? 'arrow-up' : 'arrow-down'"></span>
            </th>
            <th class="sortable" scope="col" (click)="sortBy('status')">
                Status
                <span *ngIf="sortColumn === 'status'" [ngClass]="sortDirection === 'asc' ? 'arrow-up' : 'arrow-down'"></span>
            </th>
            <th class="sortable" scope="col" (click)="sortBy('errorMessage')">
                Error  Message
                <span *ngIf="sortColumn === 'errorMessage'" [ngClass]="sortDirection === 'asc' ? 'arrow-up' : 'arrow-down'"></span>
            </th>
            <th class="sortable" scope="col" (click)="sortBy('response')">
                Response
                <span *ngIf="sortColumn === 'response'" [ngClass]="sortDirection === 'asc' ? 'arrow-up' : 'arrow-down'"></span>
            </th>
            <th class="sortable" scope="col" (click)="sortBy('recipientAddress')">
                Recipient  Address
                <span *ngIf="sortColumn === 'recipientAddress'" [ngClass]="sortDirection === 'asc' ? 'arrow-up' : 'arrow-down'"></span>
            </th>
            <th class="sortable" scope="col" (click)="sortBy('subject')">
                Subject
                <span *ngIf="sortColumn === 'subject'" [ngClass]="sortDirection === 'asc' ? 'arrow-up' : 'arrow-down'"></span>
            </th>
            <th class="sortable" scope="col" (click)="sortBy('bodyContent')">
                Body  Content
                <span *ngIf="sortColumn === 'bodyContent'" [ngClass]="sortDirection === 'asc' ? 'arrow-up' : 'arrow-down'"></span>
            </th>
End of commented block for alternate definition option -->
          </tr>
        </thead>
      </table>
      </div>
      <cdk-virtual-scroll-viewport itemSize="48" class="viewport" minBufferPx="400" maxBufferPx="800">
        <table class="custom-table mb-0">
        <tbody>
            <!-- Only visible rows are rendered -->
          <tr *cdkVirtualFor="let notificationDeliveryAttempt of filteredNotificationDeliveryAttempts; trackBy: getNotificationDeliveryAttemptId"
              [ngClass]="{
                 'row-inactive': notificationDeliveryAttempt.active == false,
                 'row-deleted': notificationDeliveryAttempt.deleted == true 
                 }">
            <td class="header-action-button" *ngIf="userIsAlertingNotificationDeliveryAttemptWriter() == true">
              <button class="btn btn-sm"
                      (click)="handleEdit(notificationDeliveryAttempt)"
                      ngbTooltip="Edit" 
                      placement="top">
                <i class="fa fa-pen"></i>
              </button>
            </td>
            <td class="header-action-button" *ngIf="userIsAlertingNotificationDeliveryAttemptWriter() == true">
              <button class="btn btn-sm"
                      (click)="handleDelete(notificationDeliveryAttempt)"
                      ngbTooltip="Delete" 
                      placement="top"
                      *ngIf="notificationDeliveryAttempt.deleted == false">
                <i class="fa fa-trash"></i>
              </button>
              <button class="btn btn-sm"
                      (click)="handleUndelete(notificationDeliveryAttempt)"
                      ngbTooltip="Undelete" 
                      placement="top"
                      *ngIf="notificationDeliveryAttempt.deleted == true">
                <i class="fa fa-trash-arrow-up"></i>
              </button>
            </td>

              <!-- Dynamic cells built with rules from the columns input -->
              <td *ngFor="let col of columns"
                  class="text-truncate"
                  [style.width]="col.width || 'auto'">

                <!-- Custom rendering -->
                <ng-container [ngSwitch]="col.template">

                  <!-- handle booleans -->
                  <boolean-icon *ngSwitchCase="'boolean'" [value]="getNestedValue(notificationDeliveryAttempt, col.key)" />

                  <!-- handle internal links -->
                  <a *ngSwitchCase="'link'"
                     [routerLink]="col.linkPath ? buildLink(notificationDeliveryAttempt, col.linkPath) : null"
                     class="btn btn-link text-left">
                    {{ getNestedValue(notificationDeliveryAttempt, col.key) }}
                  </a>

                  <!-- handle dates -->
                  <span *ngSwitchCase="'date'">
                    {{ getNestedValue(notificationDeliveryAttempt, col.key) | date:'yyyy-MM-dd HH:mm:ss Z' }}
                  </span>

                  <!-- handle colors -->
                  <span *ngSwitchCase="'color'" class="d-inline-flex align-items-center gap-2">
                    <!-- Color swatch -->
                    <span class="color-swatch"
                            [style.background-color]="getNestedValue(notificationDeliveryAttempt, col.key) || '#cccccc'"
                            title="{{ getNestedValue(notificationDeliveryAttempt, col.key) || 'No color set' }}">
                    </span>
                    <!-- Hex value -->
                    <!-- <span class="text-muted small">
                        {{ getNestedValue(notificationDeliveryAttempt, col.key) || '—' }}
                    </span> -->
                  </span>

                  <!-- handle anything else -->
                  <span *ngSwitchDefault>
                    {{ getNestedValue(notificationDeliveryAttempt, col.key) }}
                  </span>
                </ng-container>
              </td>
<!-- Commented block containing alternate means of defining cells by manually specifying them all.  This could be useful for people making new components based on this one, so leaving in as a resource.
            <td class="text-truncate"><a [routerLink]="['/incidentnotification', notificationDeliveryAttempt.incidentNotificationId]" class="btn btn-link text-left" ngbTooltip="Open Incident Notification details">{{notificationDeliveryAttempt.incidentNotification?.name}}</a></td>
            <td class="text-truncate"><a [routerLink]="['/notificationchanneltype', notificationDeliveryAttempt.notificationChannelTypeId]" class="btn btn-link text-left" ngbTooltip="Open Notification Channel Type details">{{notificationDeliveryAttempt.notificationChannelType?.name}}</a></td>
            <td class="text-truncate"><a [routerLink]="['/notificationdeliveryattempt', notificationDeliveryAttempt.id]" class="btn btn-link text-left" ngbTooltip="Open Notification Delivery Attempt details">{{notificationDeliveryAttempt.attemptNumber | bigNumberFormat : '1.0-2'}}</a></td>
            <td class="text-truncate">{{notificationDeliveryAttempt.attemptedAt | date:'YYYY-MM-dd HH:mm:ss OOOO'}}</td>
            <td class="text-truncate">{{notificationDeliveryAttempt.status}}</td>
            <td class="text-truncate">{{notificationDeliveryAttempt.errorMessage}}</td>
            <td class="text-truncate">{{notificationDeliveryAttempt.response}}</td>
            <td class="text-truncate">{{notificationDeliveryAttempt.recipientAddress}}</td>
            <td class="text-truncate">{{notificationDeliveryAttempt.subject}}</td>
            <td class="text-truncate">{{notificationDeliveryAttempt.bodyContent}}</td>
End of commented block for alternate definition option -->
                 </tr>
             </tbody>
         </table>
         </cdk-virtual-scroll-viewport>
      </div>

      <!-- Cards for Mobile -->
      <cdk-virtual-scroll-viewport *ngIf="isSmallScreen" itemSize="320" class="mobile-viewport" minBufferPx="600" maxBufferPx="1200">
        <div *cdkVirtualFor="let notificationDeliveryAttempt of filteredNotificationDeliveryAttempts; trackBy: getNotificationDeliveryAttemptId" class="card my-2"
              [ngClass]="{
                 'row-inactive': notificationDeliveryAttempt.active == false,
                 'row-deleted': notificationDeliveryAttempt.deleted == true 
                 }">


        <!-- Prominent field first, if defined on the columns input -->
        <div class="card-header py-3" *ngIf="prominentColumn">
          <strong class="d-block text-truncate fs-5">
            

            <ng-container [ngSwitch]="prominentColumn.template">
              <boolean-icon *ngSwitchCase="'boolean'" [value]="getNestedValue(notificationDeliveryAttempt, prominentColumn.key)" />
              <a *ngSwitchCase="'link'"
                 [routerLink]="prominentColumn.linkPath ? buildLink(notificationDeliveryAttempt, prominentColumn.linkPath) : null"
                 class="text-primary">
                {{ getNestedValue(notificationDeliveryAttempt, prominentColumn.key) }}
              </a>
              <span *ngSwitchCase="'date'">
                {{ getNestedValue(notificationDeliveryAttempt, prominentColumn.key) | date:'yyyy-MM-dd HH:mm:ss Z' }}
              </span>
              <span *ngSwitchDefault>
                {{ getNestedValue(notificationDeliveryAttempt, prominentColumn.key) }}
              </span>
            </ng-container>


          </strong>
        </div>

        <!-- Main card body built with rules from the columns input  -->
        <div class="card-body small">
          <div class="row g-2">
            <ng-container *ngFor="let col of mobileColumns">
              <!-- Skip if it's the prominent one (already shown above) -->
              <ng-container *ngIf="col !== prominentColumn">
                <div class="col-5 text-muted">{{ col.label }}:</div>
                <div class="col-7 text-end fw-medium">

                  <ng-container [ngSwitch]="col.template">

                    <!-- boolean handling -->
                    <boolean-icon *ngSwitchCase="'boolean'" [value]="getNestedValue(notificationDeliveryAttempt, col.key)" />

                    <!-- internal link handling -->
                    <a *ngSwitchCase="'link'"
                       [routerLink]="col.linkPath ? buildLink(notificationDeliveryAttempt, col.linkPath) : null"
                       class="text-primary">
                      {{ getNestedValue(notificationDeliveryAttempt, col.key)}}
                    </a>

                    <!-- data handling -->
                    <span *ngSwitchCase="'date'">
                      {{ getNestedValue(notificationDeliveryAttempt, col.key) | date:'yyyy-MM-dd HH:mm:ss Z' }}
                    </span>

                    <!-- color handling -->
                    <span *ngSwitchCase="'color'" class="d-inline-flex align-items-center gap-2 justify-content-end">
                        <span class="color-swatch"
                            [style.background-color]="getNestedValue(notificationDeliveryAttempt, col.key) || '#cccccc'"
                            title="{{ getNestedValue(notificationDeliveryAttempt, col.key) || 'No color set' }}">
                        </span>
                        <!--
                        <span class="small">
                        {{ getNestedValue(notificationDeliveryAttempt, col.key) || '—' }}
                        </span>
                        -->
                    </span>

                    <!-- handle everything else -->
                    <span *ngSwitchDefault>
                      {{ getNestedValue(notificationDeliveryAttempt, col.key)}}
                    </span>
                  </ng-container>

                </div>
              </ng-container>
            </ng-container>
          </div>
        </div>


        <!-- Action buttons -->
        <div class="card-footer bg-transparent border-0 pt-0">
          <div class="btn-group w-100" role="group">
            <button class="btn btn-sm btn-outline-primary flex-fill" [routerLink]="['/notificationdeliveryattempt', notificationDeliveryAttempt.id]" ngbTooltip="View">
              <i class="fa fa-magnifying-glass"></i> View
            </button>
            <button class="btn btn-sm btn-outline-secondary" (click)="handleEdit(notificationDeliveryAttempt)" *ngIf="userIsAlertingNotificationDeliveryAttemptWriter()" ngbTooltip="Edit">
              <i class="fa fa-pen"></i> Edit
            </button>

            <button class="btn btn-sm btn-outline-danger" (click)="handleDelete(notificationDeliveryAttempt)" *ngIf="userIsAlertingNotificationDeliveryAttemptWriter() && notificationDeliveryAttempt.deleted == false" ngbTooltip="Delete">
              <i class="fa fa-trash"></i> Delete
            </button>
            <button class="btn btn-sm btn-outline-warning" (click)="handleUndelete(notificationDeliveryAttempt)" *ngIf="userIsAlertingNotificationDeliveryAttemptWriter() && notificationDeliveryAttempt.deleted == true" ngbTooltip="Undelete">
              <i class="fa fa-trash-arrow-upp"></i> UnDelete
            </button>

          </div>
        </div>
      </div>

<!-- Commented block containing alternate means of defining card by manually specifying fields.  This could be useful for people making new components based on this one, so leaving in as a resource.
           <div class="card-header d-flex justify-content-between align-items-center">
             <div>
               <strong>{{notificationDeliveryAttempt.id}}</strong>
               <small class="text-muted d-block">{{notificationDeliveryAttempt.incidentNotification?.name}}</small>
             </div>
             <div>
                <button class="btn btn-sm"
                        [routerLink]="['/notificationdeliveryattempt', notificationDeliveryAttempt.id]"
                        ngbTooltip="Notification Delivery Attempt Details">
                <i class="fa fa-magnifying-glass"></i>
                </button>
                <button class="btn btn-sm"
                        (click)="handleEdit(notificationDeliveryAttempt)"
                        ngbTooltip="Edit Notification Delivery Attempt">
                <i class="fa fa-pen"></i>
                </button>
                <button class="btn btn-sm"
                      (click)="handleDelete(notificationDeliveryAttempt)"
                      ngbTooltip="Delete Notification Delivery Attempt" 
                      placement="top"
                      *ngIf="notificationDeliveryAttempt.deleted == false">
                  <i class="fa fa-trash"></i>
                </button>
                <button class="btn btn-sm"
                      (click)="handleUndelete(notificationDeliveryAttempt)"
                      ngbTooltip="Undelete Notification Delivery Attempt" 
                      placement="top"
                      *ngIf="notificationDeliveryAttempt.deleted == true">
                 <i class="fa fa-trash-arrow-up"></i>
                </button>
             </div>
             </div>
             <div class="card-body">
            <p class="notification-delivery-attempt-info" *ngIf="notificationDeliveryAttempt.incidentNotificationId != null">
              <strong>Incident Notification: </strong>
              <a [routerLink]="['/incidentnotification', notificationDeliveryAttempt.incidentNotificationId]" class="text-left p-0 m-0" ngbTooltip="Open Incident Notification details">{{notificationDeliveryAttempt.incidentNotification?.name}}</a>
            </p>
            <p class="notification-delivery-attempt-info" *ngIf="notificationDeliveryAttempt.notificationChannelTypeId != null">
              <strong>Notification Channel Type: </strong>
              <a [routerLink]="['/notificationchanneltype', notificationDeliveryAttempt.notificationChannelTypeId]" class="text-left p-0 m-0" ngbTooltip="Open Notification Channel Type details">{{notificationDeliveryAttempt.notificationChannelType?.name}}</a>
            </p>
            <p class="notification-delivery-attempt-info" *ngIf="notificationDeliveryAttempt.attemptNumber != null">
              <strong>Attempt Number: </strong>
              {{notificationDeliveryAttempt.attemptNumber | bigNumberFormat : '1.0-2'}}
            </p>
            <p class="notification-delivery-attempt-info" *ngIf="notificationDeliveryAttempt.attemptedAt != null">
              <strong>Attempted At: </strong>
              {{notificationDeliveryAttempt.attemptedAt | date:'YYYY-MM-dd HH:mm:ss OOOO'}}
            </p>
            <p class="notification-delivery-attempt-info" *ngIf="notificationDeliveryAttempt.status != null">
              <strong>Status: </strong>
              {{notificationDeliveryAttempt.status}}
            </p>
            <p class="notification-delivery-attempt-info" *ngIf="notificationDeliveryAttempt.errorMessage != null">
              <strong>Error Message: </strong>
              {{notificationDeliveryAttempt.errorMessage}}
            </p>
            <p class="notification-delivery-attempt-info" *ngIf="notificationDeliveryAttempt.response != null">
              <strong>Response: </strong>
              {{notificationDeliveryAttempt.response}}
            </p>
            <p class="notification-delivery-attempt-info" *ngIf="notificationDeliveryAttempt.recipientAddress != null">
              <strong>Recipient Address: </strong>
              {{notificationDeliveryAttempt.recipientAddress}}
            </p>
            <p class="notification-delivery-attempt-info" *ngIf="notificationDeliveryAttempt.subject != null">
              <strong>Subject: </strong>
              {{notificationDeliveryAttempt.subject}}
            </p>
            <p class="notification-delivery-attempt-info" *ngIf="notificationDeliveryAttempt.bodyContent != null">
              <strong>Body Content: </strong>
              {{notificationDeliveryAttempt.bodyContent}}
            </p>
            </div>
         </div>
End of commented block for alternate definition option  -->
      </cdk-virtual-scroll-viewport>
   </div>
</div>
