<div class="container-fluid p-1 m-0 model-build-step-details-container">
    <div class="p-2 detail-background">
        <div class="card mb-3 header-card shadow-sm">
            <div class="model-build-step-details-header">
                <div class="header-left">
                    <button class="btn btn-sm btn-light back-button me-2" (click)="goBack()" ngbTooltip="Go Back"  *ngIf="canGoBack()"><i class="fa-solid fa-arrow-left"></i></button>
                    <div>
                        <h3 class="page-title mb-0">Model Build Step</h3>
                        <small class="text-muted">{{ isEditMode ? 'Edit Model Build Step' : 'Add Model Build Step'}}</small>
                    </div>
                </div>
            </div>
        </div>

        <div class="card mb-3 header-card shadow-sm">
            <div class="row flex-grow-1" *ngIf="userIsBMCModelBuildStepReader()">
                <div class="col m-2 model-build-step-details-body">
                    <div *showSpinner="isLoading$ | async">
                        <form [class.hidden]="isLoading$ | async" [formGroup]="modelBuildStepForm" (ngSubmit)="submitForm()" class="model-build-step-details-form">
                            <div class="form-group" *ngIf="!isFieldHidden('modelSubFileId')">
                                <label for="ModelBuildStep-modelSubFileId" id="label-ModelBuildStep-modelSubFileId"><span class="text-danger">*</span>Model Sub File</label>
                                <select id="ModelBuildStep-modelSubFileId" formControlName="modelSubFileId" class="form-select model-build-step-select" [disabled]="!userIsBMCModelBuildStepWriter()">
                                    <option [ngValue]="null">Select Model Sub File</option>
                                    <option *ngFor="let modelSubFile of modelSubFiles$ | async" [ngValue]="modelSubFile.id">{{modelSubFile.fileName}}</option>
                                </select>
                                <div *ngIf="modelBuildStepForm.get('modelSubFileId')?.invalid && modelBuildStepForm.get('modelSubFileId')?.touched" class="text-danger">
                                    Model Sub File is required
                                </div>
                            </div>
                            <div class="form-group" *ngIf="!isFieldHidden('stepNumber')">
                                <label for="ModelBuildStep-stepNumber" id="label-ModelBuildStep-stepNumber"><span class="text-danger">*</span>Step Number</label>
                                <input type="number" id="ModelBuildStep-stepNumber" formControlName="stepNumber" placeholder="Enter Step Number" class="form-control model-build-step-input" [disabled]="!userIsBMCModelBuildStepWriter()" aria-labelledby="label-stepNumber" />
                                <div *ngIf="modelBuildStepForm.get('stepNumber')?.invalid && modelBuildStepForm.get('stepNumber')?.touched" class="text-danger">
                                    Step Number is required
                                </div>
                            </div>
                            <div class="form-group" *ngIf="!isFieldHidden('rotationType')">
                                <label for="ModelBuildStep-rotationType" id="label-ModelBuildStep-rotationType">Rotation Type</label>
                                <input type="text" id="ModelBuildStep-rotationType" formControlName="rotationType" placeholder="Enter Rotation Type" class="form-control model-build-step-input" [disabled]="!userIsBMCModelBuildStepWriter()" aria-labelledby="label-rotationType" />
                            </div>
                            <div class="form-group" *ngIf="!isFieldHidden('rotationX')">
                                <label for="ModelBuildStep-rotationX" id="label-ModelBuildStep-rotationX">Rotation X</label>
                                <input type="number" id="ModelBuildStep-rotationX" formControlName="rotationX" placeholder="Enter Rotation X" class="form-control model-build-step-input" [disabled]="!userIsBMCModelBuildStepWriter()" aria-labelledby="label-rotationX" />
                            </div>
                            <div class="form-group" *ngIf="!isFieldHidden('rotationY')">
                                <label for="ModelBuildStep-rotationY" id="label-ModelBuildStep-rotationY">Rotation Y</label>
                                <input type="number" id="ModelBuildStep-rotationY" formControlName="rotationY" placeholder="Enter Rotation Y" class="form-control model-build-step-input" [disabled]="!userIsBMCModelBuildStepWriter()" aria-labelledby="label-rotationY" />
                            </div>
                            <div class="form-group" *ngIf="!isFieldHidden('rotationZ')">
                                <label for="ModelBuildStep-rotationZ" id="label-ModelBuildStep-rotationZ">Rotation Z</label>
                                <input type="number" id="ModelBuildStep-rotationZ" formControlName="rotationZ" placeholder="Enter Rotation Z" class="form-control model-build-step-input" [disabled]="!userIsBMCModelBuildStepWriter()" aria-labelledby="label-rotationZ" />
                            </div>
                            <div class="form-group" *ngIf="!isFieldHidden('description')">
                                <label for="ModelBuildStep-description" id="label-ModelBuildStep-description">Description</label>
                                <textarea id="ModelBuildStep-description" formControlName="description" placeholder="Enter Description" class="form-control model-build-step-input" [disabled]="!userIsBMCModelBuildStepWriter()"></textarea>
                            </div>
                            <div class="form-check my-2"*ngIf="!isFieldHidden('{fc.camelCaseName}')" )>
                                <input type="checkbox" id="ModelBuildStep-active" formControlName="active" class="form-check-input" [disabled]="!userIsBMCModelBuildStepWriter()" />
                                <label for="ModelBuildStep-active" class="form-check-label" id="label-ModelBuildStep-active"><span class="text-danger">*</span>Active</label>
                            </div>
                            <div class="form-check my-2"*ngIf="!isFieldHidden('{fc.camelCaseName}')" )>
                                <input type="checkbox" id="ModelBuildStep-deleted" formControlName="deleted" class="form-check-input" [disabled]="!userIsBMCModelBuildStepWriter()" />
                                <label for="ModelBuildStep-deleted" class="form-check-label" id="label-ModelBuildStep-deleted"><span class="text-danger">*</span>Deleted</label>
                            </div>
                            <div class="model-build-step-details-footer">
                                <button *ngIf="isEditMode" type="button" class="btn btm-sm btn-secondary" [disabled]="modelBuildStepForm.pristine" (click)="loadData(true)" ngbTooltip="Reload Model Build Step">Reset</button>
                                <button type="submit" class="btn btn-sm btn-primary" [disabled]="isSaving || !modelBuildStepForm.valid || !modelBuildStepForm.dirty || modelBuildStepForm.pristine  || userIsBMCModelBuildStepWriter() == false " ngbTooltip="Save the Model Build Step changes">
                                    <span *ngIf="isSaving">
                                        <span class="spinner-border spinner-border-sm me-1" role="status" aria-hidden="true"></span>
                                        Saving...
                                    </span>
                                    <span *ngIf="!isSaving">
                                        <i class="fa-solid fa-check me-1"></i>
                                        {{ isEditMode ? 'Save Changes' : 'Add Model Build Step' }}
                                    </span>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-3 header-card shadow-sm" *ngIf="isEditMode && userIsBMCModelBuildStepReader() && (isLoading$ | async) == false">
            <div class="row flex-grow-1">
                <div class="col m-2 model-build-step-details-body">

                    <ul ngbNav #nav="ngbNav" class="nav-tabs">
                      <li ngbNavItem *ngIf="modelStepPartService.userIsBMCModelStepPartReader()">
                            <button ngbNavLink>Model Step Parts
                                <span class="badge bg-primary ms-2">
                                    {{ (modelBuildStepData?.ModelStepPartsCount$ | async) ?? '-' }}
                                </span>
                            </button>
                            <ng-template ngbNavContent>
                            <div class="d-flex flex-column gap-3 p-0">
                                <div class="flex-grow-1">
                                    <app-model-step-part-table [queryParams]="{ modelBuildStepId: modelBuildStepData?.id }" [showAddButton]="true" [preSeededData]="{ modelBuildStepId: modelBuildStepData?.id }" [hiddenFields]="['modelBuildStepId']"></app-model-step-part-table>
                                </div>
                            </div>
                            </ng-template>
                        </li>
                    </ul>
                     <div [ngbNavOutlet]="nav"></div>
                </div>
            </div>
        </div>
    </div>
</div>

