<app-fiscal-period-add-edit [showAddButton]="false" [preSeededData]="preSeededData" [hiddenFields]="hiddenFields"></app-fiscal-period-add-edit>
<div class="row" *ngIf="userIsSchedulerFiscalPeriodReader() == true">
    <div class="col" *showSpinner="isLoading$ | async">
      <!-- Virtual Scrolling Table for Desktop -->
      <div class="card shadow-sm virtual-table-container" *ngIf="!isSmallScreen">
         <!-- Fixed Header (outside viewport) -->
      <div class="table-header-fixed">
        <table class="custom-table mb-0">
        <thead>
          <tr>
            <th class="header-action-button" style="width: 1rem;" *ngIf="userIsSchedulerFiscalPeriodWriter() == true">
              <button *ngIf="showAddButton" class="action-btn action-add" (click)="handleAdd()" ngbTooltip="Add Fiscal Period">
                <i class="fa-solid fa-plus"></i>
              </button>
            </th>
            <th class="header-action-button" style="width: 1rem;" *ngIf="userIsSchedulerFiscalPeriodWriter() == true"></th>

              <!-- Dynamic columns built with rules from the columns input -->
              <th class="sortable"
                  scope="col"
                  *ngFor="let col of columns"
                  (click)="sortBy(col.key)"
                  [style.width]="col.width || 'auto'">
                {{ col.label }}
                <span *ngIf="sortColumn === col.key"
                      [ngClass]="sortDirection === 'asc' ? 'arrow-up' : 'arrow-down'">
                </span>
              </th>
<!-- Commented block containing alternate means of defining columns by manually specifying them all.  This could be useful for people making new components based on this one, so leaving in as a resource.
            <th class="sortable" scope="col" (click)="sortBy('name')">
                Name
                <span *ngIf="sortColumn === 'name'" [ngClass]="sortDirection === 'asc' ? 'arrow-up' : 'arrow-down'"></span>
            </th>
            <th class="sortable" scope="col" (click)="sortBy('description')">
                Description
                <span *ngIf="sortColumn === 'description'" [ngClass]="sortDirection === 'asc' ? 'arrow-up' : 'arrow-down'"></span>
            </th>
            <th class="sortable" scope="col" (click)="sortBy('startDate')">
                Start  Date
                <span *ngIf="sortColumn === 'startDate'" [ngClass]="sortDirection === 'asc' ? 'arrow-up' : 'arrow-down'"></span>
            </th>
            <th class="sortable" scope="col" (click)="sortBy('endDate')">
                End  Date
                <span *ngIf="sortColumn === 'endDate'" [ngClass]="sortDirection === 'asc' ? 'arrow-up' : 'arrow-down'"></span>
            </th>
            <th class="sortable" scope="col" (click)="sortBy('periodType')">
                Period  Type
                <span *ngIf="sortColumn === 'periodType'" [ngClass]="sortDirection === 'asc' ? 'arrow-up' : 'arrow-down'"></span>
            </th>
            <th class="sortable" scope="col" (click)="sortBy('fiscalYear')">
                Fiscal  Year
                <span *ngIf="sortColumn === 'fiscalYear'" [ngClass]="sortDirection === 'asc' ? 'arrow-up' : 'arrow-down'"></span>
            </th>
            <th class="sortable" scope="col" (click)="sortBy('periodNumber')">
                Period  Number
                <span *ngIf="sortColumn === 'periodNumber'" [ngClass]="sortDirection === 'asc' ? 'arrow-up' : 'arrow-down'"></span>
            </th>
            <th class="sortable" scope="col" (click)="sortBy('periodStatus.name')">
                Period  Status
                <span *ngIf="sortColumn === 'periodStatus.name'" [ngClass]="sortDirection === 'asc' ? 'arrow-up' : 'arrow-down'"></span>
            </th>
            <th class="sortable" scope="col" (click)="sortBy('closedDate')">
                Closed  Date
                <span *ngIf="sortColumn === 'closedDate'" [ngClass]="sortDirection === 'asc' ? 'arrow-up' : 'arrow-down'"></span>
            </th>
            <th class="sortable" scope="col" (click)="sortBy('closedBy')">
                Closed  By
                <span *ngIf="sortColumn === 'closedBy'" [ngClass]="sortDirection === 'asc' ? 'arrow-up' : 'arrow-down'"></span>
            </th>
            <th class="sortable" scope="col" (click)="sortBy('sequence')">
                Sequence
                <span *ngIf="sortColumn === 'sequence'" [ngClass]="sortDirection === 'asc' ? 'arrow-up' : 'arrow-down'"></span>
            </th>
End of commented block for alternate definition option -->
          </tr>
        </thead>
      </table>
      </div>
      <cdk-virtual-scroll-viewport itemSize="48" class="viewport" minBufferPx="400" maxBufferPx="800">
        <table class="custom-table mb-0">
        <tbody>
            <!-- Only visible rows are rendered -->
          <tr *cdkVirtualFor="let fiscalPeriod of filteredFiscalPeriods; trackBy: getFiscalPeriodId"
              [ngClass]="{
                 'row-inactive': fiscalPeriod.active == false,
                 'row-deleted': fiscalPeriod.deleted == true 
                 }">
            <td class="header-action-button" *ngIf="userIsSchedulerFiscalPeriodWriter() == true">
              <button class="action-btn action-edit"
                      (click)="handleEdit(fiscalPeriod)"
                      ngbTooltip="Edit" 
                      container="body"
                      placement="top">
                <i class="fa fa-pen"></i>
              </button>
            </td>
            <td class="header-action-button" *ngIf="userIsSchedulerFiscalPeriodWriter() == true">
              <button class="action-btn action-delete"
                      (click)="handleDelete(fiscalPeriod)"
                      ngbTooltip="Delete" 
                      container="body"
                      placement="top"
                      *ngIf="fiscalPeriod.deleted == false">
                <i class="fa fa-trash"></i>
              </button>
              <button class="action-btn action-undelete"
                      (click)="handleUndelete(fiscalPeriod)"
                      ngbTooltip="Undelete" 
                      container="body"
                      placement="top"
                      *ngIf="fiscalPeriod.deleted == true">
                <i class="fa fa-trash-arrow-up"></i>
              </button>
            </td>

              <!-- Dynamic cells built with rules from the columns input -->
              <td *ngFor="let col of columns"
                  class="text-truncate"
                  [style.width]="col.width || 'auto'">

                <!-- Custom rendering -->
                <ng-container [ngSwitch]="col.template">

                  <!-- handle booleans -->
                  <boolean-icon *ngSwitchCase="'boolean'" [value]="getNestedValue(fiscalPeriod, col.key)" />

                  <!-- handle internal links -->
                  <a *ngSwitchCase="'link'"
                     [routerLink]="col.linkPath ? buildLink(fiscalPeriod, col.linkPath) : null"
                     class="btn btn-link text-left">
                    {{ getNestedValue(fiscalPeriod, col.key) }}
                  </a>

                  <!-- handle dates -->
                  <span *ngSwitchCase="'date'">
                    {{ getNestedValue(fiscalPeriod, col.key) | date:'yyyy-MM-dd HH:mm:ss Z' }}
                  </span>

                  <!-- handle colors -->
                  <span *ngSwitchCase="'color'" class="d-inline-flex align-items-center gap-2">
                    <!-- Color swatch -->
                    <span class="color-swatch"
                            [style.background-color]="getNestedValue(fiscalPeriod, col.key) || '#cccccc'"
                            title="{{ getNestedValue(fiscalPeriod, col.key) || 'No color set' }}">
                    </span>
                    <!-- Hex value -->
                    <!-- <span class="text-muted small">
                        {{ getNestedValue(fiscalPeriod, col.key) || '—' }}
                    </span> -->
                  </span>

                  <!-- handle anything else -->
                  <span *ngSwitchDefault>
                    {{ getNestedValue(fiscalPeriod, col.key) }}
                  </span>
                </ng-container>
              </td>
<!-- Commented block containing alternate means of defining cells by manually specifying them all.  This could be useful for people making new components based on this one, so leaving in as a resource.
            <td class="text-truncate"><a [routerLink]="['/fiscalperiod', fiscalPeriod.id]" class="btn btn-link text-left" ngbTooltip="Open Fiscal Period details">{{fiscalPeriod.name}}</a></td>
            <td class="text-truncate">{{fiscalPeriod.description}}</td>
            <td class="text-truncate">{{fiscalPeriod.startDate | date:'YYYY-MM-dd HH:mm:ss OOOO'}}</td>
            <td class="text-truncate">{{fiscalPeriod.endDate | date:'YYYY-MM-dd HH:mm:ss OOOO'}}</td>
            <td class="text-truncate">{{fiscalPeriod.periodType}}</td>
            <td class="text-truncate">{{fiscalPeriod.fiscalYear | bigNumberFormat : '1.0-2'}}</td>
            <td class="text-truncate">{{fiscalPeriod.periodNumber | bigNumberFormat : '1.0-2'}}</td>
            <td class="text-truncate"><a [routerLink]="['/periodstatus', fiscalPeriod.periodStatusId]" class="btn btn-link text-left" ngbTooltip="Open Period Status details">{{fiscalPeriod.periodStatus?.name}}</a></td>
            <td class="text-truncate">{{fiscalPeriod.closedDate | date:'YYYY-MM-dd HH:mm:ss OOOO'}}</td>
            <td class="text-truncate">{{fiscalPeriod.closedBy}}</td>
            <td class="text-truncate">{{fiscalPeriod.sequence | bigNumberFormat : '1.0-2'}}</td>
End of commented block for alternate definition option -->
                 </tr>
             </tbody>
         </table>
         </cdk-virtual-scroll-viewport>
      </div>

      <!-- Cards for Mobile -->
      <cdk-virtual-scroll-viewport *ngIf="isSmallScreen" itemSize="320" class="mobile-viewport" minBufferPx="600" maxBufferPx="1200">
        <div *cdkVirtualFor="let fiscalPeriod of filteredFiscalPeriods; trackBy: getFiscalPeriodId" class="card my-2"
              [ngClass]="{
                 'row-inactive': fiscalPeriod.active == false,
                 'row-deleted': fiscalPeriod.deleted == true 
                 }">


        <!-- Prominent field first, if defined on the columns input -->
        <div class="card-header py-3" *ngIf="prominentColumn">
          <strong class="d-block text-truncate fs-5">
            

            <ng-container [ngSwitch]="prominentColumn.template">
              <boolean-icon *ngSwitchCase="'boolean'" [value]="getNestedValue(fiscalPeriod, prominentColumn.key)" />
              <a *ngSwitchCase="'link'"
                 [routerLink]="prominentColumn.linkPath ? buildLink(fiscalPeriod, prominentColumn.linkPath) : null"
                 class="text-primary">
                {{ getNestedValue(fiscalPeriod, prominentColumn.key) }}
              </a>
              <span *ngSwitchCase="'date'">
                {{ getNestedValue(fiscalPeriod, prominentColumn.key) | date:'yyyy-MM-dd HH:mm:ss Z' }}
              </span>
              <span *ngSwitchDefault>
                {{ getNestedValue(fiscalPeriod, prominentColumn.key) }}
              </span>
            </ng-container>


          </strong>
        </div>

        <!-- Main card body built with rules from the columns input  -->
        <div class="card-body small">
          <div class="row g-2">
            <ng-container *ngFor="let col of mobileColumns">
              <!-- Skip if it's the prominent one (already shown above) -->
              <ng-container *ngIf="col !== prominentColumn">
                <div class="col-5 text-muted">{{ col.label }}:</div>
                <div class="col-7 text-end fw-medium">

                  <ng-container [ngSwitch]="col.template">

                    <!-- boolean handling -->
                    <boolean-icon *ngSwitchCase="'boolean'" [value]="getNestedValue(fiscalPeriod, col.key)" />

                    <!-- internal link handling -->
                    <a *ngSwitchCase="'link'"
                       [routerLink]="col.linkPath ? buildLink(fiscalPeriod, col.linkPath) : null"
                       class="text-primary">
                      {{ getNestedValue(fiscalPeriod, col.key)}}
                    </a>

                    <!-- data handling -->
                    <span *ngSwitchCase="'date'">
                      {{ getNestedValue(fiscalPeriod, col.key) | date:'yyyy-MM-dd HH:mm:ss Z' }}
                    </span>

                    <!-- color handling -->
                    <span *ngSwitchCase="'color'" class="d-inline-flex align-items-center gap-2 justify-content-end">
                        <span class="color-swatch"
                            [style.background-color]="getNestedValue(fiscalPeriod, col.key) || '#cccccc'"
                            title="{{ getNestedValue(fiscalPeriod, col.key) || 'No color set' }}">
                        </span>
                        <!--
                        <span class="small">
                        {{ getNestedValue(fiscalPeriod, col.key) || '—' }}
                        </span>
                        -->
                    </span>

                    <!-- handle everything else -->
                    <span *ngSwitchDefault>
                      {{ getNestedValue(fiscalPeriod, col.key)}}
                    </span>
                  </ng-container>

                </div>
              </ng-container>
            </ng-container>
          </div>
        </div>


        <!-- Action buttons -->
        <div class="card-footer bg-transparent border-0 pt-0">
          <div class="btn-group w-100" role="group">
            <button class="action-btn action-view" [routerLink]="['/fiscalperiod', fiscalPeriod.id]" ngbTooltip="View">
              <i class="fa fa-magnifying-glass"></i> View
            </button>
            <button class="action-btn action-edit" (click)="handleEdit(fiscalPeriod)" *ngIf="userIsSchedulerFiscalPeriodWriter()" ngbTooltip="Edit">
              <i class="fa fa-pen"></i> Edit
            </button>

            <button class="action-btn action-delete" (click)="handleDelete(fiscalPeriod)" *ngIf="userIsSchedulerFiscalPeriodWriter() && fiscalPeriod.deleted == false" ngbTooltip="Delete">
              <i class="fa fa-trash"></i> Delete
            </button>
            <button class="action-btn action-undelete" (click)="handleUndelete(fiscalPeriod)" *ngIf="userIsSchedulerFiscalPeriodWriter() && fiscalPeriod.deleted == true" ngbTooltip="Undelete">
              <i class="fa fa-trash-arrow-upp"></i> UnDelete
            </button>

          </div>
        </div>
      </div>

<!-- Commented block containing alternate means of defining card by manually specifying fields.  This could be useful for people making new components based on this one, so leaving in as a resource.
           <div class="card-header d-flex justify-content-between align-items-center">
             <div>
               <strong>{{fiscalPeriod.name}}</strong>
               <small class="text-muted d-block">{{fiscalPeriod.periodStatus?.name}}</small>
             </div>
             <div>
                <button class="action-btn action-view"
                        [routerLink]="['/fiscalperiod', fiscalPeriod.id]"
                        ngbTooltip="Fiscal Period Details">
                <i class="fa fa-magnifying-glass"></i>
                </button>
                <button class="action-btn action-edit"
                        (click)="handleEdit(fiscalPeriod)"
                        ngbTooltip="Edit Fiscal Period">
                <i class="fa fa-pen"></i>
                </button>
                <button class="action-btn action-delete"
                      (click)="handleDelete(fiscalPeriod)"
                      ngbTooltip="Delete Fiscal Period" 
                      placement="top"
                      *ngIf="fiscalPeriod.deleted == false">
                  <i class="fa fa-trash"></i>
                </button>
                <button class="action-btn action-undelete"
                      (click)="handleUndelete(fiscalPeriod)"
                      ngbTooltip="Undelete Fiscal Period" 
                      placement="top"
                      *ngIf="fiscalPeriod.deleted == true">
                 <i class="fa fa-trash-arrow-up"></i>
                </button>
             </div>
             </div>
             <div class="card-body">
            <p class="fiscal-period-info" *ngIf="fiscalPeriod.name != null">
              <strong>Name: </strong>
              {{fiscalPeriod.name}}
            </p>
            <p class="fiscal-period-info" *ngIf="fiscalPeriod.description != null">
              <strong>Description: </strong>
              {{fiscalPeriod.description}}
            </p>
            <p class="fiscal-period-info" *ngIf="fiscalPeriod.startDate != null">
              <strong>Start Date: </strong>
              {{fiscalPeriod.startDate | date:'YYYY-MM-dd HH:mm:ss OOOO'}}
            </p>
            <p class="fiscal-period-info" *ngIf="fiscalPeriod.endDate != null">
              <strong>End Date: </strong>
              {{fiscalPeriod.endDate | date:'YYYY-MM-dd HH:mm:ss OOOO'}}
            </p>
            <p class="fiscal-period-info" *ngIf="fiscalPeriod.periodType != null">
              <strong>Period Type: </strong>
              {{fiscalPeriod.periodType}}
            </p>
            <p class="fiscal-period-info" *ngIf="fiscalPeriod.fiscalYear != null">
              <strong>Fiscal Year: </strong>
              {{fiscalPeriod.fiscalYear | bigNumberFormat : '1.0-2'}}
            </p>
            <p class="fiscal-period-info" *ngIf="fiscalPeriod.periodNumber != null">
              <strong>Period Number: </strong>
              {{fiscalPeriod.periodNumber | bigNumberFormat : '1.0-2'}}
            </p>
            <p class="fiscal-period-info" *ngIf="fiscalPeriod.periodStatusId != null">
              <strong>Period Status: </strong>
              <a [routerLink]="['/periodstatus', fiscalPeriod.periodStatusId]" class="text-left p-0 m-0" ngbTooltip="Open Period Status details">{{fiscalPeriod.periodStatus?.name}}</a>
            </p>
            <p class="fiscal-period-info" *ngIf="fiscalPeriod.closedDate != null">
              <strong>Closed Date: </strong>
              {{fiscalPeriod.closedDate | date:'YYYY-MM-dd HH:mm:ss OOOO'}}
            </p>
            <p class="fiscal-period-info" *ngIf="fiscalPeriod.closedBy != null">
              <strong>Closed By: </strong>
              {{fiscalPeriod.closedBy}}
            </p>
            <p class="fiscal-period-info" *ngIf="fiscalPeriod.sequence != null">
              <strong>Sequence: </strong>
              {{fiscalPeriod.sequence | bigNumberFormat : '1.0-2'}}
            </p>
            </div>
         </div>
End of commented block for alternate definition option  -->
      </cdk-virtual-scroll-viewport>

      <!-- Pagination Controls -->
      <div class="pagination-bar" *ngIf="totalPages > 1">
        <button class="pagination-btn"
                (click)="goToPage(1)"
                [disabled]="currentPage === 1"
                ngbTooltip="First Page">
          <i class="fa-solid fa-angles-left"></i>
        </button>
        <button class="pagination-btn"
                (click)="previousPage()"
                [disabled]="currentPage === 1"
                ngbTooltip="Previous Page">
          <i class="fa-solid fa-chevron-left"></i>
        </button>

        <span class="pagination-info">
          Page {{ currentPage }} of {{ totalPages }}
        </span>

        <button class="pagination-btn"
                (click)="nextPage()"
                [disabled]="currentPage === totalPages"
                ngbTooltip="Next Page">
          <i class="fa-solid fa-chevron-right"></i>
        </button>
        <button class="pagination-btn"
                (click)="goToPage(totalPages)"
                [disabled]="currentPage === totalPages"
                ngbTooltip="Last Page">
          <i class="fa-solid fa-angles-right"></i>
        </button>
      </div>

   </div>
</div>
