<div class="container-fluid p-1 m-0 contact-contact-details-container">
    <div class="p-2 detail-background">
        <div class="card mb-3 header-card shadow-sm">
            <div class="contact-contact-details-header">
                <div class="header-left">
                    <button class="btn btn-sm btn-light back-button me-2" (click)="goBack()" ngbTooltip="Go Back"  *ngIf="canGoBack()"><i class="fa-solid fa-arrow-left"></i></button>
                    <div>
                        <h3 class="page-title mb-0">Contact Contact</h3>
                        <small class="text-muted">{{ isEditMode ? 'Edit Contact Contact' : 'Add Contact Contact'}}</small>
                    </div>
                </div>
            </div>
        </div>

        <div class="card mb-3 header-card shadow-sm">
            <div class="row flex-grow-1" *ngIf="userIsSchedulerContactContactReader()">
                <div class="col m-2 contact-contact-details-body">
                    <div *showSpinner="isLoading$ | async">
                        <form [class.hidden]="isLoading$ | async" [formGroup]="contactContactForm" (ngSubmit)="submitForm()" class="contact-contact-details-form">
                            <div class="form-group" *ngIf="!isFieldHidden('contactId')">
                                <label for="ContactContact-contactId" id="label-ContactContact-contactId"><span class="text-danger">*</span>Contact</label>
                                <select id="ContactContact-contactId" formControlName="contactId" class="form-select contact-contact-select" [disabled]="!userIsSchedulerContactContactWriter()">
                                    <option [ngValue]="null">Select Contact</option>
                                    <option *ngFor="let contact of contacts$ | async" [ngValue]="contact.id">{{contact.firstName}}</option>
                                </select>
                                <div *ngIf="contactContactForm.get('contactId')?.invalid && contactContactForm.get('contactId')?.touched" class="text-danger">
                                    Contact is required
                                </div>
                            </div>
                            <div class="form-group" *ngIf="!isFieldHidden('relatedContactId')">
                                <label for="ContactContact-relatedContactId" id="label-ContactContact-relatedContactId"><span class="text-danger">*</span>Related Contact</label>
                                <select id="ContactContact-relatedContactId" formControlName="relatedContactId" class="form-select contact-contact-select" [disabled]="!userIsSchedulerContactContactWriter()">
                                    <option [ngValue]="null">Select Contact</option>
                                    <option *ngFor="let contact of contacts$ | async" [ngValue]="contact.id">{{contact.firstName}}</option>
                                </select>
                                <div *ngIf="contactContactForm.get('relatedContactId')?.invalid && contactContactForm.get('relatedContactId')?.touched" class="text-danger">
                                    Related Contact is required
                                </div>
                            </div>
                            <div class="form-check my-2" *ngIf="!isFieldHidden('isPrimary')">
                                <input type="checkbox" id="ContactContact-isPrimary" formControlName="isPrimary" class="form-check-input" [disabled]="!userIsSchedulerContactContactWriter()" />
                                <label for="ContactContact-isPrimary" class="form-check-label" id="label-ContactContact-isPrimary"><span class="text-danger">*</span>Is Primary</label>
                            </div>
                            <div class="form-group" *ngIf="!isFieldHidden('relationshipTypeId')">
                                <label for="ContactContact-relationshipTypeId" id="label-ContactContact-relationshipTypeId"><span class="text-danger">*</span>Relationship Type</label>
                                <select id="ContactContact-relationshipTypeId" formControlName="relationshipTypeId" class="form-select contact-contact-select" [disabled]="!userIsSchedulerContactContactWriter()">
                                    <option [ngValue]="null">Select Relationship Type</option>
                                    <option *ngFor="let relationshipType of relationshipTypes$ | async" [ngValue]="relationshipType.id">{{relationshipType.name}}</option>
                                </select>
                                <div *ngIf="contactContactForm.get('relationshipTypeId')?.invalid && contactContactForm.get('relationshipTypeId')?.touched" class="text-danger">
                                    Relationship Type is required
                                </div>
                            </div>
                            <div class="form-group"*ngIf="!isFieldHidden('{fc.camelCaseName}')" )>
                                <label for="ContactContact-versionNumber" id="label-ContactContact-versionNumber"><span class="text-danger">*</span>Version Number</label>
                                <input type="number" id="ContactContact-versionNumber" formControlName="versionNumber" [disabled]="true" placeholder="Enter Version Number" class="form-control contact-contact-input" />
                            </div>
                            <div class="form-check my-2"*ngIf="!isFieldHidden('{fc.camelCaseName}')" )>
                                <input type="checkbox" id="ContactContact-active" formControlName="active" class="form-check-input" [disabled]="!userIsSchedulerContactContactWriter()" />
                                <label for="ContactContact-active" class="form-check-label" id="label-ContactContact-active"><span class="text-danger">*</span>Active</label>
                            </div>
                            <div class="form-check my-2"*ngIf="!isFieldHidden('{fc.camelCaseName}')" )>
                                <input type="checkbox" id="ContactContact-deleted" formControlName="deleted" class="form-check-input" [disabled]="!userIsSchedulerContactContactWriter()" />
                                <label for="ContactContact-deleted" class="form-check-label" id="label-ContactContact-deleted"><span class="text-danger">*</span>Deleted</label>
                            </div>
                            <div class="contact-contact-details-footer">
                                <button *ngIf="isEditMode" type="button" class="btn btm-sm btn-secondary" [disabled]="contactContactForm.pristine" (click)="loadData(true)" ngbTooltip="Reload Contact Contact">Reset</button>
                                <button type="submit" class="btn btn-sm btn-primary" [disabled]="isSaving || !contactContactForm.valid || !contactContactForm.dirty || contactContactForm.pristine  || userIsSchedulerContactContactWriter() == false " ngbTooltip="Save the Contact Contact changes">
                                    <span *ngIf="isSaving">
                                        <span class="spinner-border spinner-border-sm me-1" role="status" aria-hidden="true"></span>
                                        Saving...
                                    </span>
                                    <span *ngIf="!isSaving">
                                        <i class="fa-solid fa-check me-1"></i>
                                        {{ isEditMode ? 'Save Changes' : 'Add Contact Contact' }}
                                    </span>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-3 header-card shadow-sm" *ngIf="isEditMode && userIsSchedulerContactContactReader() && (isLoading$ | async) == false">
            <div class="row flex-grow-1">
                <div class="col m-2 contact-contact-details-body">

                    <ul ngbNav #nav="ngbNav" class="nav-tabs">
                      <li ngbNavItem *ngIf="contactContactChangeHistoryService.userIsSchedulerContactContactChangeHistoryReader()">
                            <button ngbNavLink>Contact Contact Change Histories
                                <span class="badge bg-primary ms-2">
                                    {{ (contactContactData?.ContactContactChangeHistoriesCount$ | async) ?? '-' }}
                                </span>
                            </button>
                            <ng-template ngbNavContent>
                            <div class="d-flex flex-column gap-3 p-0">
                                <div class="flex-grow-1">
                                    <app-contact-contact-change-history-table [queryParams]="{ contactContactId: contactContactData?.id }"></app-contact-contact-change-history-table>
                                </div>
                                <div class="d-flex justify-content-end">
                                    <app-contact-contact-change-history-add-edit [preSeededData]="{ contactContactId: contactContactData?.id }" [hiddenFields]="['contactContactId']"></app-contact-contact-change-history-add-edit>
                                </div>
                            </div>
                            </ng-template>
                        </li>
                    </ul>
                     <div [ngbNavOutlet]="nav"></div>
                </div>
            </div>
        </div>
    </div>
</div>

