<div class="container-fluid p-1 m-0 page-details-container">
    <div class="p-2 detail-background">
        <div class="card mb-3 header-card shadow-sm">
            <div class="page-details-header">
                <div class="header-left">
                    <button class="btn btn-sm btn-light back-button me-2" (click)="goBack()" ngbTooltip="Go Back"  *ngIf="canGoBack()"><i class="fa-solid fa-arrow-left"></i></button>
                    <div>
                        <h3 class="page-title mb-0">Page</h3>
                        <small class="text-muted">{{ isEditMode ? 'Edit Page' : 'Add Page'}}</small>
                    </div>
                </div>
            </div>
        </div>

        <div class="card mb-3 header-card shadow-sm">
            <div class="row flex-grow-1" *ngIf="userIsCommunityPageReader()">
                <div class="col m-2 page-details-body">
                    <div *showSpinner="isLoading$ | async">
                        <form [class.hidden]="isLoading$ | async" [formGroup]="pageForm" (ngSubmit)="submitForm()" class="page-details-form">
                            <div class="form-group" *ngIf="!isFieldHidden('title')">
                                <label for="Page-title" id="label-Page-title"><span class="text-danger">*</span>Title</label>
                                <input type="text" id="Page-title" formControlName="title" placeholder="Enter Title" class="form-control page-input" [disabled]="!userIsCommunityPageWriter()" aria-labelledby="label-title" />
                                <div *ngIf="pageForm.get('title')?.invalid && pageForm.get('title')?.touched" class="text-danger">
                                    Title is required
                                </div>
                            </div>
                            <div class="form-group" *ngIf="!isFieldHidden('slug')">
                                <label for="Page-slug" id="label-Page-slug"><span class="text-danger">*</span>Slug</label>
                                <input type="text" id="Page-slug" formControlName="slug" placeholder="Enter Slug" class="form-control page-input" [disabled]="!userIsCommunityPageWriter()" aria-labelledby="label-slug" />
                                <div *ngIf="pageForm.get('slug')?.invalid && pageForm.get('slug')?.touched" class="text-danger">
                                    Slug is required
                                </div>
                            </div>
                            <div class="form-group" *ngIf="!isFieldHidden('body')">
                                <label for="Page-body" id="label-Page-body">Body</label>
                                <textarea id="Page-body" formControlName="body" placeholder="Enter Body" class="form-control page-input" [disabled]="!userIsCommunityPageWriter()"></textarea>
                            </div>
                            <div class="form-group" *ngIf="!isFieldHidden('metaDescription')">
                                <label for="Page-metaDescription" id="label-Page-metaDescription">Meta Description</label>
                                <textarea id="Page-metaDescription" formControlName="metaDescription" placeholder="Enter Meta Description" class="form-control page-input" [disabled]="!userIsCommunityPageWriter()"></textarea>
                            </div>
                            <div class="form-group" *ngIf="!isFieldHidden('featuredImageUrl')">
                                <label for="Page-featuredImageUrl" id="label-Page-featuredImageUrl">Featured Image Url</label>
                                <textarea id="Page-featuredImageUrl" formControlName="featuredImageUrl" placeholder="Enter Featured Image Url" class="form-control page-input" [disabled]="!userIsCommunityPageWriter()"></textarea>
                            </div>
                            <div class="form-check my-2" *ngIf="!isFieldHidden('isPublished')">
                                <input type="checkbox" id="Page-isPublished" formControlName="isPublished" class="form-check-input" [disabled]="!userIsCommunityPageWriter()" />
                                <label for="Page-isPublished" class="form-check-label" id="label-Page-isPublished"><span class="text-danger">*</span>Is Published</label>
                            </div>
                            <div class="form-group" *ngIf="!isFieldHidden('publishedDate')">
                                <label for="Page-publishedDate" id="label-Page-publishedDate">Published Date</label>
                                <input type="datetime-local" id="Page-publishedDate" formControlName="publishedDate" placeholder="Enter Published Date" class="form-control page-input" [disabled]="!userIsCommunityPageWriter()" aria-labelledby="label-publishedDate" />
                            </div>
                            <div class="form-group" *ngIf="!isFieldHidden('sortOrder')">
                                <label for="Page-sortOrder" id="label-Page-sortOrder">Sort Order</label>
                                <input type="number" id="Page-sortOrder" formControlName="sortOrder" placeholder="Enter Sort Order" class="form-control page-input" [disabled]="!userIsCommunityPageWriter()" aria-labelledby="label-sortOrder" />
                            </div>
                            <div class="form-group"*ngIf="!isFieldHidden('{fc.camelCaseName}')" )>
                                <label for="Page-versionNumber" id="label-Page-versionNumber"><span class="text-danger">*</span>Version Number</label>
                                <input type="number" id="Page-versionNumber" formControlName="versionNumber" [disabled]="true" placeholder="Enter Version Number" class="form-control page-input" />
                            </div>
                            <div class="form-check my-2"*ngIf="!isFieldHidden('{fc.camelCaseName}')" )>
                                <input type="checkbox" id="Page-active" formControlName="active" class="form-check-input" [disabled]="!userIsCommunityPageWriter()" />
                                <label for="Page-active" class="form-check-label" id="label-Page-active"><span class="text-danger">*</span>Active</label>
                            </div>
                            <div class="form-check my-2"*ngIf="!isFieldHidden('{fc.camelCaseName}')" )>
                                <input type="checkbox" id="Page-deleted" formControlName="deleted" class="form-check-input" [disabled]="!userIsCommunityPageWriter()" />
                                <label for="Page-deleted" class="form-check-label" id="label-Page-deleted"><span class="text-danger">*</span>Deleted</label>
                            </div>
                            <div class="page-details-footer">
                                <button *ngIf="isEditMode" type="button" class="btn btm-sm btn-secondary" [disabled]="pageForm.pristine" (click)="loadData(true)" ngbTooltip="Reload Page">Reset</button>
                                <button type="submit" class="btn btn-sm btn-primary" [disabled]="isSaving || !pageForm.valid || !pageForm.dirty || pageForm.pristine  || userIsCommunityPageWriter() == false " ngbTooltip="Save the Page changes">
                                    <span *ngIf="isSaving">
                                        <span class="spinner-border spinner-border-sm me-1" role="status" aria-hidden="true"></span>
                                        Saving...
                                    </span>
                                    <span *ngIf="!isSaving">
                                        <i class="fa-solid fa-check me-1"></i>
                                        {{ isEditMode ? 'Save Changes' : 'Add Page' }}
                                    </span>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-3 header-card shadow-sm" *ngIf="isEditMode && userIsCommunityPageReader() && (isLoading$ | async) == false">
            <div class="row flex-grow-1">
                <div class="col m-2 page-details-body">

                    <ul ngbNav #nav="ngbNav" class="nav-tabs">
                      <li ngbNavItem *ngIf="pageChangeHistoryService.userIsCommunityPageChangeHistoryReader()">
                            <button ngbNavLink>Page Change Histories
                                <span class="badge bg-primary ms-2">
                                    {{ (pageData?.PageChangeHistoriesCount$ | async) ?? '-' }}
                                </span>
                            </button>
                            <ng-template ngbNavContent>
                            <div class="d-flex flex-column gap-3 p-0">
                                <div class="flex-grow-1">
                                    <app-page-change-history-table [queryParams]="{ pageId: pageData?.id }" [showAddButton]="true" [preSeededData]="{ pageId: pageData?.id }" [hiddenFields]="['pageId']"></app-page-change-history-table>
                                </div>
                            </div>
                            </ng-template>
                        </li>
                      <li ngbNavItem *ngIf="menuItemService.userIsCommunityMenuItemReader()">
                            <button ngbNavLink>Menu Items
                                <span class="badge bg-primary ms-2">
                                    {{ (pageData?.MenuItemsCount$ | async) ?? '-' }}
                                </span>
                            </button>
                            <ng-template ngbNavContent>
                            <div class="d-flex flex-column gap-3 p-0">
                                <div class="flex-grow-1">
                                    <app-menu-item-table [queryParams]="{ pageId: pageData?.id }" [showAddButton]="true" [preSeededData]="{ pageId: pageData?.id }" [hiddenFields]="['pageId']"></app-menu-item-table>
                                </div>
                            </div>
                            </ng-template>
                        </li>
                    </ul>
                     <div [ngbNavOutlet]="nav"></div>
                </div>
            </div>
        </div>
    </div>
</div>

