<div class="container-fluid p-1 m-0 audit-user-details-container">
    <div class="p-2 detail-background">
        <div class="card mb-3 header-card shadow-sm">
            <div class="audit-user-details-header">
                <div class="header-left">
                    <button class="btn btn-sm btn-light back-button me-2" (click)="goBack()" ngbTooltip="Go Back"  *ngIf="canGoBack()"><i class="fa-solid fa-arrow-left"></i></button>
                    <div>
                        <h3 class="page-title mb-0">Audit User</h3>
                        <small class="text-muted">{{ isEditMode ? 'Edit Audit User' : 'Add Audit User'}}</small>
                    </div>
                </div>
            </div>
        </div>

        <div class="card mb-3 header-card shadow-sm">
            <div class="row flex-grow-1" *ngIf="userIsAuditorAuditUserReader()">
                <div class="col m-2 audit-user-details-body">
                    <div *showSpinner="isLoading$ | async">
                        <form [class.hidden]="isLoading$ | async" [formGroup]="auditUserForm" (ngSubmit)="submitForm()" class="audit-user-details-form">
                            <div class="form-group" *ngIf="!isFieldHidden('name')">
                                <label for="AuditUser-name" id="label-AuditUser-name"><span class="text-danger">*</span>Name</label>
                                <textarea id="AuditUser-name" formControlName="name" placeholder="Enter Name" class="form-control audit-user-input" [disabled]="!userIsAuditorAuditUserWriter()"></textarea>
                                <div *ngIf="auditUserForm.get('name')?.invalid && auditUserForm.get('name')?.touched" class="text-danger">
                                    Name is required
                                </div>
                            </div>
                            <div class="form-group" *ngIf="!isFieldHidden('comments')">
                                <label for="AuditUser-comments" id="label-AuditUser-comments">Comments</label>
                                <textarea id="AuditUser-comments" formControlName="comments" placeholder="Enter Comments" class="form-control audit-user-input" [disabled]="!userIsAuditorAuditUserWriter()"></textarea>
                            </div>
                            <div class="form-group" *ngIf="!isFieldHidden('firstAccess')">
                                <label for="AuditUser-firstAccess" id="label-AuditUser-firstAccess">First Access</label>
                                <input type="datetime-local" id="AuditUser-firstAccess" formControlName="firstAccess" placeholder="Enter First Access" class="form-control audit-user-input" [disabled]="!userIsAuditorAuditUserWriter()" aria-labelledby="label-firstAccess" />
                            </div>
                            <div class="audit-user-details-footer">
                                <button *ngIf="isEditMode" type="button" class="btn btm-sm btn-secondary" [disabled]="auditUserForm.pristine" (click)="loadData(true)" ngbTooltip="Reload Audit User">Reset</button>
                                <button type="submit" class="btn btn-sm btn-primary" [disabled]="isSaving || !auditUserForm.valid || !auditUserForm.dirty || auditUserForm.pristine  || userIsAuditorAuditUserWriter() == false " ngbTooltip="Save the Audit User changes">
                                    <span *ngIf="isSaving">
                                        <span class="spinner-border spinner-border-sm me-1" role="status" aria-hidden="true"></span>
                                        Saving...
                                    </span>
                                    <span *ngIf="!isSaving">
                                        <i class="fa-solid fa-check me-1"></i>
                                        {{ isEditMode ? 'Save Changes' : 'Add Audit User' }}
                                    </span>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-3 header-card shadow-sm" *ngIf="isEditMode && userIsAuditorAuditUserReader() && (isLoading$ | async) == false">
            <div class="row flex-grow-1">
                <div class="col m-2 audit-user-details-body">

                    <ul ngbNav #nav="ngbNav" class="nav-tabs">
                      <li ngbNavItem *ngIf="auditEventService.userIsAuditorAuditEventReader()">
                            <button ngbNavLink>Audit Events
                                <span class="badge bg-primary ms-2">
                                    {{ (auditUserData?.AuditEventsCount$ | async) ?? '-' }}
                                </span>
                            </button>
                            <ng-template ngbNavContent>
                            <div class="d-flex flex-column gap-3 p-0">
                                <div class="flex-grow-1">
                                    <app-audit-event-table [queryParams]="{ auditUserId: auditUserData?.id }"></app-audit-event-table>
                                </div>
                                <div class="d-flex justify-content-end">
                                    <app-audit-event-add-edit [preSeededData]="{ auditUserId: auditUserData?.id }" [hiddenFields]="['auditUserId']"></app-audit-event-add-edit>
                                </div>
                            </div>
                            </ng-template>
                        </li>
                      <li ngbNavItem *ngIf="externalCommunicationService.userIsAuditorExternalCommunicationReader()">
                            <button ngbNavLink>External Communications
                                <span class="badge bg-primary ms-2">
                                    {{ (auditUserData?.ExternalCommunicationsCount$ | async) ?? '-' }}
                                </span>
                            </button>
                            <ng-template ngbNavContent>
                            <div class="d-flex flex-column gap-3 p-0">
                                <div class="flex-grow-1">
                                    <app-external-communication-table [queryParams]="{ auditUserId: auditUserData?.id }"></app-external-communication-table>
                                </div>
                                <div class="d-flex justify-content-end">
                                    <app-external-communication-add-edit [preSeededData]="{ auditUserId: auditUserData?.id }" [hiddenFields]="['auditUserId']"></app-external-communication-add-edit>
                                </div>
                            </div>
                            </ng-template>
                        </li>
                    </ul>
                     <div [ngbNavOutlet]="nav"></div>
                </div>
            </div>
        </div>
    </div>
</div>

