<div class="add-security-department-user" *ngIf="showAddButton == true">
    <button type="button"
        class="btn btn-sm btn-add-security-department-user me-2"
        (click)="openModal()"
        ngbTooltip="Add Security Department User" 
        *ngIf="userIsSecuritySecurityDepartmentUserWriter() == true"
        placement="top"
        style="min-width: 75px;">Add</button>
</div>

<!-- ng-bootstrap modal -->
<ng-template #securityDepartmentUserModal let-modal>
   <div class="modal-header bg-dark text-light security-department-user-modal-header">
      <h5 class="modal-title mb-0" id="securityDepartmentUserModalLabel" ngbTooltip="{{objectGuid}}">
      {{ isEditMode ? 'Edit Security Department User' : 'Add Security Department User' }}
      </h5>
      <button type="button"
              class="btn btn-sm btn-close btn-close-white"
              (click)="closeModal()">
       </button>
   </div>
   <div class="modal-body security-department-user-modal-body">
      <form [formGroup]="securityDepartmentUserForm" (ngSubmit)="submitForm()">
            <div class="form-group" *ngIf="!isFieldHidden('securityDepartmentId')">
                <label for="SecurityDepartmentUser-securityDepartmentId" id="label-SecurityDepartmentUser-securityDepartmentId"><span class="text-danger">*</span>Security Department</label>
                <select id="SecurityDepartmentUser-securityDepartmentId" formControlName="securityDepartmentId" class="form-select security-department-user-select" [disabled]="!userIsSecuritySecurityDepartmentUserWriter()">
                    <option [ngValue]="null">Select Security Department</option>
                    <option *ngFor="let securityDepartment of securityDepartments$ | async" [ngValue]="securityDepartment.id">{{securityDepartment.name}}</option>
                </select>
                <div *ngIf="securityDepartmentUserForm.get('securityDepartmentId')?.invalid && securityDepartmentUserForm.get('securityDepartmentId')?.touched" class="text-danger">
                    Security Department is required
                </div>
            </div>
            <div class="form-group" *ngIf="!isFieldHidden('securityUserId')">
                <label for="SecurityDepartmentUser-securityUserId" id="label-SecurityDepartmentUser-securityUserId"><span class="text-danger">*</span>Security User</label>
                <select id="SecurityDepartmentUser-securityUserId" formControlName="securityUserId" class="form-select security-department-user-select" [disabled]="!userIsSecuritySecurityDepartmentUserWriter()">
                    <option [ngValue]="null">Select Security User</option>
                    <option *ngFor="let securityUser of securityUsers$ | async" [ngValue]="securityUser.id">{{[securityUser.accountName] | filterAndJoin}}</option>
                </select>
                <div *ngIf="securityDepartmentUserForm.get('securityUserId')?.invalid && securityDepartmentUserForm.get('securityUserId')?.touched" class="text-danger">
                    Security User is required
                </div>
            </div>
            <div class="form-check my-2" *ngIf="!isFieldHidden('canRead')">
                <input type="checkbox" id="SecurityDepartmentUser-canRead" formControlName="canRead" class="form-check-input" [disabled]="!userIsSecuritySecurityDepartmentUserWriter()" />
                <label for="SecurityDepartmentUser-canRead" class="form-check-label" id="label-SecurityDepartmentUser-canRead"><span class="text-danger">*</span>Can Read</label>
            </div>
            <div class="form-check my-2" *ngIf="!isFieldHidden('canWrite')">
                <input type="checkbox" id="SecurityDepartmentUser-canWrite" formControlName="canWrite" class="form-check-input" [disabled]="!userIsSecuritySecurityDepartmentUserWriter()" />
                <label for="SecurityDepartmentUser-canWrite" class="form-check-label" id="label-SecurityDepartmentUser-canWrite"><span class="text-danger">*</span>Can Write</label>
            </div>
            <div class="form-check my-2" *ngIf="!isFieldHidden('canChangeHierarchy')">
                <input type="checkbox" id="SecurityDepartmentUser-canChangeHierarchy" formControlName="canChangeHierarchy" class="form-check-input" [disabled]="!userIsSecuritySecurityDepartmentUserWriter()" />
                <label for="SecurityDepartmentUser-canChangeHierarchy" class="form-check-label" id="label-SecurityDepartmentUser-canChangeHierarchy"><span class="text-danger">*</span>Can Change Hierarchy</label>
            </div>
            <div class="form-check my-2" *ngIf="!isFieldHidden('canChangeOwner')">
                <input type="checkbox" id="SecurityDepartmentUser-canChangeOwner" formControlName="canChangeOwner" class="form-check-input" [disabled]="!userIsSecuritySecurityDepartmentUserWriter()" />
                <label for="SecurityDepartmentUser-canChangeOwner" class="form-check-label" id="label-SecurityDepartmentUser-canChangeOwner"><span class="text-danger">*</span>Can Change Owner</label>
            </div>
            <div class="form-check my-2" *ngIf="isEditMode && !isFieldHidden('{fc.camelCaseName}')" )>
                <input type="checkbox" id="SecurityDepartmentUser-active" formControlName="active" class="form-check-input" [disabled]="!userIsSecuritySecurityDepartmentUserWriter()" />
                <label for="SecurityDepartmentUser-active" class="form-check-label" id="label-SecurityDepartmentUser-active"><span class="text-danger">*</span>Active</label>
            </div>
            <div class="form-check my-2" *ngIf="isEditMode && !isFieldHidden('{fc.camelCaseName}')" )>
                <input type="checkbox" id="SecurityDepartmentUser-deleted" formControlName="deleted" class="form-check-input" [disabled]="!userIsSecuritySecurityDepartmentUserWriter()" />
                <label for="SecurityDepartmentUser-deleted" class="form-check-label" id="label-SecurityDepartmentUser-deleted"><span class="text-danger">*</span>Deleted</label>
            </div>
         <div class="modal-footer security-department-user-modal-footer">
            <button type="button" class="btn btn-sm btn-secondary" (click)="closeModal()" ngbTooltip="Cancel the Security Department User changes and Close">Cancel</button>
            <button type="submit" class="btn btn-sm btn-primary" [disabled]="isSaving || !securityDepartmentUserForm.valid || securityDepartmentUserForm.pristine  || userIsSecuritySecurityDepartmentUserWriter() == false " ngbTooltip="Save the Security Department User changes and Close">
                <span *ngIf="isSaving">
                    <span class="spinner-border spinner-border-sm me-1" role="status" aria-hidden="true"></span>
                    Saving...
                </span>
                <span *ngIf="!isSaving">
                    <i class="fa-solid fa-check me-1"></i>
                    {{ isEditMode ? 'Save Changes' : 'Add Security Department User' }}
                </span>
            </button>
         </div>
      </form>
   </div>
</ng-template>
