<div class="container-fluid p-1 m-0 constituent-journey-stage-details-container">
    <div class="p-2 detail-background">
        <div class="card mb-3 header-card shadow-sm">
            <div class="constituent-journey-stage-details-header">
                <div class="header-left">
                    <button class="btn btn-sm btn-light back-button me-2" (click)="goBack()" ngbTooltip="Go Back"  *ngIf="canGoBack()"><i class="fa-solid fa-arrow-left"></i></button>
                    <div>
                        <h3 class="page-title mb-0">Constituent Journey Stage</h3>
                        <small class="text-muted">{{ isEditMode ? 'Edit Constituent Journey Stage' : 'Add Constituent Journey Stage'}}</small>
                    </div>
                </div>
            </div>
        </div>

        <div class="card mb-3 header-card shadow-sm">
            <div class="row flex-grow-1" *ngIf="userIsSchedulerConstituentJourneyStageReader()">
                <div class="col m-2 constituent-journey-stage-details-body">
                    <div *showSpinner="isLoading$ | async">
                        <form [class.hidden]="isLoading$ | async" [formGroup]="constituentJourneyStageForm" (ngSubmit)="submitForm()" class="constituent-journey-stage-details-form">
                            <div class="form-group" *ngIf="!isFieldHidden('name')">
                                <label for="ConstituentJourneyStage-name" id="label-ConstituentJourneyStage-name"><span class="text-danger">*</span>Name</label>
                                <input type="text" id="ConstituentJourneyStage-name" formControlName="name" placeholder="Enter Name" class="form-control constituent-journey-stage-input" [disabled]="!userIsSchedulerConstituentJourneyStageWriter()" aria-labelledby="label-name" />
                                <div *ngIf="constituentJourneyStageForm.get('name')?.invalid && constituentJourneyStageForm.get('name')?.touched" class="text-danger">
                                    Name is required
                                </div>
                            </div>
                            <div class="form-group" *ngIf="!isFieldHidden('description')">
                                <label for="ConstituentJourneyStage-description" id="label-ConstituentJourneyStage-description">Description</label>
                                <textarea id="ConstituentJourneyStage-description" formControlName="description" placeholder="Enter Description" class="form-control constituent-journey-stage-input" [disabled]="!userIsSchedulerConstituentJourneyStageWriter()"></textarea>
                            </div>
                            <div class="form-group" *ngIf="!isFieldHidden('sequence')">
                                <label for="ConstituentJourneyStage-sequence" id="label-ConstituentJourneyStage-sequence">Sequence</label>
                                <input type="number" id="ConstituentJourneyStage-sequence" formControlName="sequence" placeholder="Enter Sequence" class="form-control constituent-journey-stage-input" [disabled]="!userIsSchedulerConstituentJourneyStageWriter()" aria-labelledby="label-sequence" />
                            </div>
                            <div class="form-group" *ngIf="!isFieldHidden('iconId')">
                                <label for="ConstituentJourneyStage-iconId" id="label-ConstituentJourneyStage-iconId">Icon</label>
                                <select id="ConstituentJourneyStage-iconId" formControlName="iconId" class="form-select constituent-journey-stage-select" [disabled]="!userIsSchedulerConstituentJourneyStageWriter()">
                                    <option [ngValue]="null">Select Icon</option>
                                    <option *ngFor="let icon of icons$ | async" [ngValue]="icon.id">{{icon.name}}</option>
                                </select>
                            </div>
                            <div class="form-group" *ngIf="!isFieldHidden('color')">
                                <label for="ConstituentJourneyStage-color" id="label-ConstituentJourneyStage-color">Color</label>
                                <div class="d-flex align-items-center gap-3">
                    <!-- Native color picker input (type="color") -->
                    <input 
                        type="color" 
                        id="ConstituentJourneyStage-color" 
                        formControlName="color" 
                        class="form-control form-control-color color-picker" 
                        [disabled]="!userIsSchedulerConstituentJourneyStageWriter()"
                        aria-labelledby="label-color"
                        title="Choose Color">
                    
                    <!-- Usually this isn't needed
                    <input 
                        type="text" 
                        [value]="constituentJourneyStageForm.get('color')?.value || '#000000'" 
                        readonly 
                        class="form-control input-color-display"
                        style="width: 120px;">-->
                </div>
                            </div>
                            <div class="form-group" *ngIf="!isFieldHidden('minLifetimeGiving')">
                                <label for="ConstituentJourneyStage-minLifetimeGiving" id="label-ConstituentJourneyStage-minLifetimeGiving">Min Lifetime Giving</label>
                                <input type="number" id="ConstituentJourneyStage-minLifetimeGiving" formControlName="minLifetimeGiving" placeholder="Enter Min Lifetime Giving" class="form-control constituent-journey-stage-input" [disabled]="!userIsSchedulerConstituentJourneyStageWriter()" aria-labelledby="label-minLifetimeGiving" />
                            </div>
                            <div class="form-group" *ngIf="!isFieldHidden('maxLifetimeGiving')">
                                <label for="ConstituentJourneyStage-maxLifetimeGiving" id="label-ConstituentJourneyStage-maxLifetimeGiving">Max Lifetime Giving</label>
                                <input type="number" id="ConstituentJourneyStage-maxLifetimeGiving" formControlName="maxLifetimeGiving" placeholder="Enter Max Lifetime Giving" class="form-control constituent-journey-stage-input" [disabled]="!userIsSchedulerConstituentJourneyStageWriter()" aria-labelledby="label-maxLifetimeGiving" />
                            </div>
                            <div class="form-group" *ngIf="!isFieldHidden('minSingleGiftAmount')">
                                <label for="ConstituentJourneyStage-minSingleGiftAmount" id="label-ConstituentJourneyStage-minSingleGiftAmount">Min Single Gift Amount</label>
                                <input type="number" id="ConstituentJourneyStage-minSingleGiftAmount" formControlName="minSingleGiftAmount" placeholder="Enter Min Single Gift Amount" class="form-control constituent-journey-stage-input" [disabled]="!userIsSchedulerConstituentJourneyStageWriter()" aria-labelledby="label-minSingleGiftAmount" />
                            </div>
                            <div class="form-check my-2" *ngIf="!isFieldHidden('isDefault')">
                                <input type="checkbox" id="ConstituentJourneyStage-isDefault" formControlName="isDefault" class="form-check-input" [disabled]="!userIsSchedulerConstituentJourneyStageWriter()" />
                                <label for="ConstituentJourneyStage-isDefault" class="form-check-label" id="label-ConstituentJourneyStage-isDefault"><span class="text-danger">*</span>Is Default</label>
                            </div>
                            <div class="form-group" *ngIf="!isFieldHidden('minAnnualGiving')">
                                <label for="ConstituentJourneyStage-minAnnualGiving" id="label-ConstituentJourneyStage-minAnnualGiving">Min Annual Giving</label>
                                <input type="number" id="ConstituentJourneyStage-minAnnualGiving" formControlName="minAnnualGiving" placeholder="Enter Min Annual Giving" class="form-control constituent-journey-stage-input" [disabled]="!userIsSchedulerConstituentJourneyStageWriter()" aria-labelledby="label-minAnnualGiving" />
                            </div>
                            <div class="form-group" *ngIf="!isFieldHidden('maxDaysSinceLastGift')">
                                <label for="ConstituentJourneyStage-maxDaysSinceLastGift" id="label-ConstituentJourneyStage-maxDaysSinceLastGift">Max Days Since Last Gift</label>
                                <input type="number" id="ConstituentJourneyStage-maxDaysSinceLastGift" formControlName="maxDaysSinceLastGift" placeholder="Enter Max Days Since Last Gift" class="form-control constituent-journey-stage-input" [disabled]="!userIsSchedulerConstituentJourneyStageWriter()" aria-labelledby="label-maxDaysSinceLastGift" />
                            </div>
                            <div class="form-group" *ngIf="!isFieldHidden('minGiftCount')">
                                <label for="ConstituentJourneyStage-minGiftCount" id="label-ConstituentJourneyStage-minGiftCount">Min Gift Count</label>
                                <input type="number" id="ConstituentJourneyStage-minGiftCount" formControlName="minGiftCount" placeholder="Enter Min Gift Count" class="form-control constituent-journey-stage-input" [disabled]="!userIsSchedulerConstituentJourneyStageWriter()" aria-labelledby="label-minGiftCount" />
                            </div>
                            <div class="form-group"*ngIf="!isFieldHidden('{fc.camelCaseName}')" )>
                                <label for="ConstituentJourneyStage-versionNumber" id="label-ConstituentJourneyStage-versionNumber"><span class="text-danger">*</span>Version Number</label>
                                <input type="number" id="ConstituentJourneyStage-versionNumber" formControlName="versionNumber" [disabled]="true" placeholder="Enter Version Number" class="form-control constituent-journey-stage-input" />
                            </div>
                            <div class="form-check my-2"*ngIf="!isFieldHidden('{fc.camelCaseName}')" )>
                                <input type="checkbox" id="ConstituentJourneyStage-active" formControlName="active" class="form-check-input" [disabled]="!userIsSchedulerConstituentJourneyStageWriter()" />
                                <label for="ConstituentJourneyStage-active" class="form-check-label" id="label-ConstituentJourneyStage-active"><span class="text-danger">*</span>Active</label>
                            </div>
                            <div class="form-check my-2"*ngIf="!isFieldHidden('{fc.camelCaseName}')" )>
                                <input type="checkbox" id="ConstituentJourneyStage-deleted" formControlName="deleted" class="form-check-input" [disabled]="!userIsSchedulerConstituentJourneyStageWriter()" />
                                <label for="ConstituentJourneyStage-deleted" class="form-check-label" id="label-ConstituentJourneyStage-deleted"><span class="text-danger">*</span>Deleted</label>
                            </div>
                            <div class="constituent-journey-stage-details-footer">
                                <button *ngIf="isEditMode" type="button" class="btn btm-sm btn-secondary" [disabled]="constituentJourneyStageForm.pristine" (click)="loadData(true)" ngbTooltip="Reload Constituent Journey Stage">Reset</button>
                                <button type="submit" class="btn btm-sm btn-primary" [disabled]="isSaving || !constituentJourneyStageForm.valid || !constituentJourneyStageForm.dirty || constituentJourneyStageForm.pristine || userIsSchedulerConstituentJourneyStageWriter() == false " ngbTooltip="Save Constituent Journey Stage">{{ isEditMode ? 'Save' : 'Create' }}</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-3 header-card shadow-sm" *ngIf="isEditMode && userIsSchedulerConstituentJourneyStageReader() && (isLoading$ | async) == false">
            <div class="row flex-grow-1">
                <div class="col m-2 constituent-journey-stage-details-body">

                    <ul ngbNav #nav="ngbNav" class="nav-tabs">
                      <li ngbNavItem *ngIf="constituentJourneyStageChangeHistoryService.userIsSchedulerConstituentJourneyStageChangeHistoryReader()">
                            <button ngbNavLink>Constituent Journey Stage Change Histories
                                <span class="badge bg-primary ms-2">
                                    {{ (constituentJourneyStageData?.ConstituentJourneyStageChangeHistoriesCount$ | async) ?? '-' }}
                                </span>
                            </button>
                            <ng-template ngbNavContent>
                            <div class="d-flex flex-column gap-3 p-0">
                                <div class="flex-grow-1">
                                    <app-constituent-journey-stage-change-history-table [queryParams]="{ constituentJourneyStageId: constituentJourneyStageData?.id }"></app-constituent-journey-stage-change-history-table>
                                </div>
                                <div class="d-flex justify-content-end">
                                    <app-constituent-journey-stage-change-history-add-edit [preSeededData]="{ constituentJourneyStageId: constituentJourneyStageData?.id }" [hiddenFields]="['constituentJourneyStageId']"></app-constituent-journey-stage-change-history-add-edit>
                                </div>
                            </div>
                            </ng-template>
                        </li>
                      <li ngbNavItem *ngIf="constituentService.userIsSchedulerConstituentReader()">
                            <button ngbNavLink>Constituents
                                <span class="badge bg-primary ms-2">
                                    {{ (constituentJourneyStageData?.ConstituentsCount$ | async) ?? '-' }}
                                </span>
                            </button>
                            <ng-template ngbNavContent>
                            <div class="d-flex flex-column gap-3 p-0">
                                <div class="flex-grow-1">
                                    <app-constituent-table [queryParams]="{ constituentJourneyStageId: constituentJourneyStageData?.id }"></app-constituent-table>
                                </div>
                                <div class="d-flex justify-content-end">
                                    <app-constituent-add-edit [preSeededData]="{ constituentJourneyStageId: constituentJourneyStageData?.id }" [hiddenFields]="['constituentJourneyStageId']"></app-constituent-add-edit>
                                </div>
                            </div>
                            </ng-template>
                        </li>
                    </ul>
                     <div [ngbNavOutlet]="nav"></div>
                </div>
            </div>
        </div>
    </div>
</div>

