<div class="add-menu" *ngIf="showAddButton == true">
    <button type="button"
        class="btn btn-sm btn-add-menu me-2"
        (click)="openModal()"
        ngbTooltip="Add Menu" 
        *ngIf="userIsCommunityMenuWriter() == true"
        placement="top"
        style="min-width: 75px;">Add</button>
</div>

<!-- ng-bootstrap modal -->
<ng-template #menuModal let-modal>
   <div class="modal-header menu-modal-header">
      <h5 class="modal-title mb-0" id="menuModalLabel" ngbTooltip="{{objectGuid}}">
      {{ isEditMode ? 'Edit Menu' : 'Add Menu' }}
      </h5>
      <button type="button" class="modal-close-btn" (click)="closeModal()" aria-label="Close">
        <i class="fa fa-xmark"></i>
      </button>
   </div>
   <div class="modal-body menu-modal-body">
      <form [formGroup]="menuForm" (ngSubmit)="submitForm()">
            <div class="form-group" *ngIf="!isFieldHidden('name')">
                <label for="Menu-name" id="label-Menu-name"><span class="text-danger">*</span>Name</label>
                <input type="text" id="Menu-name" formControlName="name" placeholder="Enter Name" class="form-control menu-input" [disabled]="!userIsCommunityMenuWriter()" aria-labelledby="label-name" />
                <div *ngIf="menuForm.get('name')?.invalid && menuForm.get('name')?.touched" class="text-danger">
                    Name is required
                </div>
            </div>
            <div class="form-group" *ngIf="!isFieldHidden('location')">
                <label for="Menu-location" id="label-Menu-location"><span class="text-danger">*</span>Location</label>
                <input type="text" id="Menu-location" formControlName="location" placeholder="Enter Location" class="form-control menu-input" [disabled]="!userIsCommunityMenuWriter()" aria-labelledby="label-location" />
                <div *ngIf="menuForm.get('location')?.invalid && menuForm.get('location')?.touched" class="text-danger">
                    Location is required
                </div>
            </div>
            <div class="form-check my-2" *ngIf="isEditMode && !isFieldHidden('{fc.camelCaseName}')" )>
                <input type="checkbox" id="Menu-active" formControlName="active" class="form-check-input" [disabled]="!userIsCommunityMenuWriter()" />
                <label for="Menu-active" class="form-check-label" id="label-Menu-active"><span class="text-danger">*</span>Active</label>
            </div>
            <div class="form-check my-2" *ngIf="isEditMode && !isFieldHidden('{fc.camelCaseName}')" )>
                <input type="checkbox" id="Menu-deleted" formControlName="deleted" class="form-check-input" [disabled]="!userIsCommunityMenuWriter()" />
                <label for="Menu-deleted" class="form-check-label" id="label-Menu-deleted"><span class="text-danger">*</span>Deleted</label>
            </div>
         <div class="modal-footer menu-modal-footer">
            <button type="button" class="btn btn-sm btn-secondary" (click)="closeModal()" ngbTooltip="Cancel the Menu changes and Close">Cancel</button>
            <button type="submit" class="btn btn-sm btn-primary" [disabled]="isSaving || !menuForm.valid || menuForm.pristine  || userIsCommunityMenuWriter() == false " ngbTooltip="Save the Menu changes and Close">
                <span *ngIf="isSaving">
                    <span class="spinner-border spinner-border-sm me-1" role="status" aria-hidden="true"></span>
                    Saving...
                </span>
                <span *ngIf="!isSaving">
                    <i class="fa-solid fa-check me-1"></i>
                    {{ isEditMode ? 'Save Changes' : 'Add Menu' }}
                </span>
            </button>
         </div>
      </form>
   </div>
</ng-template>
