<div class="add-payment-provider-change-history" *ngIf="showAddButton == true">
    <button type="button"
        class="btn btn-sm btn-add-payment-provider-change-history me-2"
        (click)="openModal()"
        ngbTooltip="Add Payment Provider Change History" 
        *ngIf="userIsSchedulerPaymentProviderChangeHistoryWriter() == true"
        placement="top"
        style="min-width: 75px;">Add</button>
</div>

<!-- ng-bootstrap modal -->
<ng-template #paymentProviderChangeHistoryModal let-modal>
   <div class="modal-header payment-provider-change-history-modal-header">
      <h5 class="modal-title mb-0" id="paymentProviderChangeHistoryModalLabel" ngbTooltip="{{objectGuid}}">
      {{ isEditMode ? 'Edit Payment Provider Change History' : 'Add Payment Provider Change History' }}
      </h5>
      <button type="button" class="modal-close-btn" (click)="closeModal()" aria-label="Close">
        <i class="fa fa-xmark"></i>
      </button>
   </div>
   <div class="modal-body payment-provider-change-history-modal-body">
      <form [formGroup]="paymentProviderChangeHistoryForm" (ngSubmit)="submitForm()">
            <div class="form-group" *ngIf="!isFieldHidden('paymentProviderId')">
                <label for="PaymentProviderChangeHistory-paymentProviderId" id="label-PaymentProviderChangeHistory-paymentProviderId"><span class="text-danger">*</span>Payment Provider</label>
                <select id="PaymentProviderChangeHistory-paymentProviderId" formControlName="paymentProviderId" class="form-select payment-provider-change-history-select" [disabled]="!userIsSchedulerPaymentProviderChangeHistoryWriter()">
                    <option [ngValue]="null">Select Payment Provider</option>
                    <option *ngFor="let paymentProvider of paymentProviders$ | async" [ngValue]="paymentProvider.id">{{paymentProvider.name}}</option>
                </select>
                <div *ngIf="paymentProviderChangeHistoryForm.get('paymentProviderId')?.invalid && paymentProviderChangeHistoryForm.get('paymentProviderId')?.touched" class="text-danger">
                    Payment Provider is required
                </div>
            </div>
            <div class="form-group" *ngIf="isEditMode && !isFieldHidden('{fc.camelCaseName}')" )>
                <label for="PaymentProviderChangeHistory-versionNumber" id="label-PaymentProviderChangeHistory-versionNumber"><span class="text-danger">*</span>Version Number</label>
                <input type="number" id="PaymentProviderChangeHistory-versionNumber" formControlName="versionNumber" [disabled]="true" placeholder="Enter Version Number" class="form-control payment-provider-change-history-input" />
            </div>
            <div class="form-group" *ngIf="!isFieldHidden('timeStamp')">
                <label for="PaymentProviderChangeHistory-timeStamp" id="label-PaymentProviderChangeHistory-timeStamp"><span class="text-danger">*</span>Time Stamp</label>
                <input type="datetime-local" id="PaymentProviderChangeHistory-timeStamp" formControlName="timeStamp" placeholder="Enter Time Stamp" class="form-control payment-provider-change-history-input" [disabled]="!userIsSchedulerPaymentProviderChangeHistoryWriter()" aria-labelledby="label-timeStamp" />
                <div *ngIf="paymentProviderChangeHistoryForm.get('timeStamp')?.invalid && paymentProviderChangeHistoryForm.get('timeStamp')?.touched" class="text-danger">
                    Time Stamp is required
                </div>
            </div>
            <div class="form-group" *ngIf="!isFieldHidden('userId')">
                <label for="PaymentProviderChangeHistory-userId" id="label-PaymentProviderChangeHistory-userId"><span class="text-danger">*</span>User Id</label>
                <input type="number" id="PaymentProviderChangeHistory-userId" formControlName="userId" placeholder="Enter User Id" class="form-control payment-provider-change-history-input" [disabled]="!userIsSchedulerPaymentProviderChangeHistoryWriter()" aria-labelledby="label-userId" />
                <div *ngIf="paymentProviderChangeHistoryForm.get('userId')?.invalid && paymentProviderChangeHistoryForm.get('userId')?.touched" class="text-danger">
                    User Id is required
                </div>
            </div>
            <div class="form-group" *ngIf="!isFieldHidden('data')">
                <label for="PaymentProviderChangeHistory-data" id="label-PaymentProviderChangeHistory-data"><span class="text-danger">*</span>Data</label>
                <textarea id="PaymentProviderChangeHistory-data" formControlName="data" placeholder="Enter Data" class="form-control payment-provider-change-history-input" [disabled]="!userIsSchedulerPaymentProviderChangeHistoryWriter()"></textarea>
                <div *ngIf="paymentProviderChangeHistoryForm.get('data')?.invalid && paymentProviderChangeHistoryForm.get('data')?.touched" class="text-danger">
                    Data is required
                </div>
            </div>
         <div class="modal-footer payment-provider-change-history-modal-footer">
            <button type="button" class="btn btn-sm btn-secondary" (click)="closeModal()" ngbTooltip="Cancel the Payment Provider Change History changes and Close">Cancel</button>
            <button type="submit" class="btn btn-sm btn-primary" [disabled]="isSaving || !paymentProviderChangeHistoryForm.valid || paymentProviderChangeHistoryForm.pristine  || userIsSchedulerPaymentProviderChangeHistoryWriter() == false " ngbTooltip="Save the Payment Provider Change History changes and Close">
                <span *ngIf="isSaving">
                    <span class="spinner-border spinner-border-sm me-1" role="status" aria-hidden="true"></span>
                    Saving...
                </span>
                <span *ngIf="!isSaving">
                    <i class="fa-solid fa-check me-1"></i>
                    {{ isEditMode ? 'Save Changes' : 'Add Payment Provider Change History' }}
                </span>
            </button>
         </div>
      </form>
   </div>
</ng-template>
