<div class="container-fluid p-1 m-0 document-download-details-container">
    <div class="p-2 detail-background">
        <div class="card mb-3 header-card shadow-sm">
            <div class="document-download-details-header">
                <div class="header-left">
                    <button class="btn btn-sm btn-light back-button me-2" (click)="goBack()" ngbTooltip="Go Back"  *ngIf="canGoBack()"><i class="fa-solid fa-arrow-left"></i></button>
                    <div>
                        <h3 class="page-title mb-0">Document Download</h3>
                        <small class="text-muted">{{ isEditMode ? 'Edit Document Download' : 'Add Document Download'}}</small>
                    </div>
                </div>
            </div>
        </div>

        <div class="card mb-3 header-card shadow-sm">
            <div class="row flex-grow-1" *ngIf="userIsCommunityDocumentDownloadReader()">
                <div class="col m-2 document-download-details-body">
                    <div *showSpinner="isLoading$ | async">
                        <form [class.hidden]="isLoading$ | async" [formGroup]="documentDownloadForm" (ngSubmit)="submitForm()" class="document-download-details-form">
                            <div class="document-download-details-footer">
                                <button *ngIf="isEditMode" type="button" class="btn btm-sm btn-secondary" [disabled]="documentDownloadForm.pristine" (click)="loadData(true)" ngbTooltip="Reload Document Download">Reset</button>
                                <button type="submit" class="btn btn-sm btn-primary" [disabled]="isSaving || !documentDownloadForm.valid || !documentDownloadForm.dirty || documentDownloadForm.pristine  || userIsCommunityDocumentDownloadWriter() == false " ngbTooltip="Save the Document Download changes">
                                    <span *ngIf="isSaving">
                                        <span class="spinner-border spinner-border-sm me-1" role="status" aria-hidden="true"></span>
                                        Saving...
                                    </span>
                                    <span *ngIf="!isSaving">
                                        <i class="fa-solid fa-check me-1"></i>
                                        {{ isEditMode ? 'Save Changes' : 'Add Document Download' }}
                                    </span>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

