<div class="add-user-profile-change-history" *ngIf="showAddButton == true">
    <button type="button"
        class="btn btn-sm btn-add-user-profile-change-history me-2"
        (click)="openModal()"
        ngbTooltip="Add User Profile Change History" 
        *ngIf="userIsBMCUserProfileChangeHistoryWriter() == true"
        placement="top"
        style="min-width: 75px;">Add</button>
</div>

<!-- ng-bootstrap modal -->
<ng-template #userProfileChangeHistoryModal let-modal>
   <div class="modal-header user-profile-change-history-modal-header">
      <h5 class="modal-title mb-0" id="userProfileChangeHistoryModalLabel" ngbTooltip="{{objectGuid}}">
      {{ isEditMode ? 'Edit User Profile Change History' : 'Add User Profile Change History' }}
      </h5>
      <button type="button" class="modal-close-btn" (click)="closeModal()" aria-label="Close">
        <i class="fa fa-xmark"></i>
      </button>
   </div>
   <div class="modal-body user-profile-change-history-modal-body">
      <form [formGroup]="userProfileChangeHistoryForm" (ngSubmit)="submitForm()">
            <div class="form-group" *ngIf="!isFieldHidden('userProfileId')">
                <label for="UserProfileChangeHistory-userProfileId" id="label-UserProfileChangeHistory-userProfileId"><span class="text-danger">*</span>User Profile</label>
                <select id="UserProfileChangeHistory-userProfileId" formControlName="userProfileId" class="form-select user-profile-change-history-select" [disabled]="!userIsBMCUserProfileChangeHistoryWriter()">
                    <option [ngValue]="null">Select User Profile</option>
                    <option *ngFor="let userProfile of userProfiles$ | async" [ngValue]="userProfile.id">{{userProfile.displayName}}</option>
                </select>
                <div *ngIf="userProfileChangeHistoryForm.get('userProfileId')?.invalid && userProfileChangeHistoryForm.get('userProfileId')?.touched" class="text-danger">
                    User Profile is required
                </div>
            </div>
            <div class="form-group" *ngIf="isEditMode && !isFieldHidden('{fc.camelCaseName}')" )>
                <label for="UserProfileChangeHistory-versionNumber" id="label-UserProfileChangeHistory-versionNumber"><span class="text-danger">*</span>Version Number</label>
                <input type="number" id="UserProfileChangeHistory-versionNumber" formControlName="versionNumber" [disabled]="true" placeholder="Enter Version Number" class="form-control user-profile-change-history-input" />
            </div>
            <div class="form-group" *ngIf="!isFieldHidden('timeStamp')">
                <label for="UserProfileChangeHistory-timeStamp" id="label-UserProfileChangeHistory-timeStamp"><span class="text-danger">*</span>Time Stamp</label>
                <input type="datetime-local" id="UserProfileChangeHistory-timeStamp" formControlName="timeStamp" placeholder="Enter Time Stamp" class="form-control user-profile-change-history-input" [disabled]="!userIsBMCUserProfileChangeHistoryWriter()" aria-labelledby="label-timeStamp" />
                <div *ngIf="userProfileChangeHistoryForm.get('timeStamp')?.invalid && userProfileChangeHistoryForm.get('timeStamp')?.touched" class="text-danger">
                    Time Stamp is required
                </div>
            </div>
            <div class="form-group" *ngIf="!isFieldHidden('userId')">
                <label for="UserProfileChangeHistory-userId" id="label-UserProfileChangeHistory-userId"><span class="text-danger">*</span>User Id</label>
                <input type="number" id="UserProfileChangeHistory-userId" formControlName="userId" placeholder="Enter User Id" class="form-control user-profile-change-history-input" [disabled]="!userIsBMCUserProfileChangeHistoryWriter()" aria-labelledby="label-userId" />
                <div *ngIf="userProfileChangeHistoryForm.get('userId')?.invalid && userProfileChangeHistoryForm.get('userId')?.touched" class="text-danger">
                    User Id is required
                </div>
            </div>
            <div class="form-group" *ngIf="!isFieldHidden('data')">
                <label for="UserProfileChangeHistory-data" id="label-UserProfileChangeHistory-data"><span class="text-danger">*</span>Data</label>
                <textarea id="UserProfileChangeHistory-data" formControlName="data" placeholder="Enter Data" class="form-control user-profile-change-history-input" [disabled]="!userIsBMCUserProfileChangeHistoryWriter()"></textarea>
                <div *ngIf="userProfileChangeHistoryForm.get('data')?.invalid && userProfileChangeHistoryForm.get('data')?.touched" class="text-danger">
                    Data is required
                </div>
            </div>
         <div class="modal-footer user-profile-change-history-modal-footer">
            <button type="button" class="btn btn-sm btn-secondary" (click)="closeModal()" ngbTooltip="Cancel the User Profile Change History changes and Close">Cancel</button>
            <button type="submit" class="btn btn-sm btn-primary" [disabled]="isSaving || !userProfileChangeHistoryForm.valid || userProfileChangeHistoryForm.pristine  || userIsBMCUserProfileChangeHistoryWriter() == false " ngbTooltip="Save the User Profile Change History changes and Close">
                <span *ngIf="isSaving">
                    <span class="spinner-border spinner-border-sm me-1" role="status" aria-hidden="true"></span>
                    Saving...
                </span>
                <span *ngIf="!isSaving">
                    <i class="fa-solid fa-check me-1"></i>
                    {{ isEditMode ? 'Save Changes' : 'Add User Profile Change History' }}
                </span>
            </button>
         </div>
      </form>
   </div>
</ng-template>
