<div class="container-fluid p-1 m-0 colour-finish-details-container">
    <div class="p-2 detail-background">
        <div class="card mb-3 header-card shadow-sm">
            <div class="colour-finish-details-header">
                <div class="header-left">
                    <button class="btn btn-sm btn-light back-button me-2" (click)="goBack()" ngbTooltip="Go Back"  *ngIf="canGoBack()"><i class="fa-solid fa-arrow-left"></i></button>
                    <div>
                        <h3 class="page-title mb-0">Colour Finish</h3>
                        <small class="text-muted">{{ isEditMode ? 'Edit Colour Finish' : 'Add Colour Finish'}}</small>
                    </div>
                </div>
            </div>
        </div>

        <div class="card mb-3 header-card shadow-sm">
            <div class="row flex-grow-1" *ngIf="userIsBMCColourFinishReader()">
                <div class="col m-2 colour-finish-details-body">
                    <div *showSpinner="isLoading$ | async">
                        <form [class.hidden]="isLoading$ | async" [formGroup]="colourFinishForm" (ngSubmit)="submitForm()" class="colour-finish-details-form">
                            <div class="form-group" *ngIf="!isFieldHidden('name')">
                                <label for="ColourFinish-name" id="label-ColourFinish-name"><span class="text-danger">*</span>Name</label>
                                <input type="text" id="ColourFinish-name" formControlName="name" placeholder="Enter Name" class="form-control colour-finish-input" [disabled]="!userIsBMCColourFinishWriter()" aria-labelledby="label-name" />
                                <div *ngIf="colourFinishForm.get('name')?.invalid && colourFinishForm.get('name')?.touched" class="text-danger">
                                    Name is required
                                </div>
                            </div>
                            <div class="form-group" *ngIf="!isFieldHidden('description')">
                                <label for="ColourFinish-description" id="label-ColourFinish-description"><span class="text-danger">*</span>Description</label>
                                <textarea id="ColourFinish-description" formControlName="description" placeholder="Enter Description" class="form-control colour-finish-input" [disabled]="!userIsBMCColourFinishWriter()"></textarea>
                                <div *ngIf="colourFinishForm.get('description')?.invalid && colourFinishForm.get('description')?.touched" class="text-danger">
                                    Description is required
                                </div>
                            </div>
                            <div class="form-check my-2" *ngIf="!isFieldHidden('requiresEnvironmentMap')">
                                <input type="checkbox" id="ColourFinish-requiresEnvironmentMap" formControlName="requiresEnvironmentMap" class="form-check-input" [disabled]="!userIsBMCColourFinishWriter()" />
                                <label for="ColourFinish-requiresEnvironmentMap" class="form-check-label" id="label-ColourFinish-requiresEnvironmentMap"><span class="text-danger">*</span>Requires Environment Map</label>
                            </div>
                            <div class="form-check my-2" *ngIf="!isFieldHidden('isMatte')">
                                <input type="checkbox" id="ColourFinish-isMatte" formControlName="isMatte" class="form-check-input" [disabled]="!userIsBMCColourFinishWriter()" />
                                <label for="ColourFinish-isMatte" class="form-check-label" id="label-ColourFinish-isMatte"><span class="text-danger">*</span>Is Matte</label>
                            </div>
                            <div class="form-group" *ngIf="!isFieldHidden('defaultAlpha')">
                                <label for="ColourFinish-defaultAlpha" id="label-ColourFinish-defaultAlpha">Default Alpha</label>
                                <input type="number" id="ColourFinish-defaultAlpha" formControlName="defaultAlpha" placeholder="Enter Default Alpha" class="form-control colour-finish-input" [disabled]="!userIsBMCColourFinishWriter()" aria-labelledby="label-defaultAlpha" />
                            </div>
                            <div class="form-group" *ngIf="!isFieldHidden('sequence')">
                                <label for="ColourFinish-sequence" id="label-ColourFinish-sequence">Sequence</label>
                                <input type="number" id="ColourFinish-sequence" formControlName="sequence" placeholder="Enter Sequence" class="form-control colour-finish-input" [disabled]="!userIsBMCColourFinishWriter()" aria-labelledby="label-sequence" />
                            </div>
                            <div class="form-check my-2"*ngIf="!isFieldHidden('{fc.camelCaseName}')" )>
                                <input type="checkbox" id="ColourFinish-active" formControlName="active" class="form-check-input" [disabled]="!userIsBMCColourFinishWriter()" />
                                <label for="ColourFinish-active" class="form-check-label" id="label-ColourFinish-active"><span class="text-danger">*</span>Active</label>
                            </div>
                            <div class="form-check my-2"*ngIf="!isFieldHidden('{fc.camelCaseName}')" )>
                                <input type="checkbox" id="ColourFinish-deleted" formControlName="deleted" class="form-check-input" [disabled]="!userIsBMCColourFinishWriter()" />
                                <label for="ColourFinish-deleted" class="form-check-label" id="label-ColourFinish-deleted"><span class="text-danger">*</span>Deleted</label>
                            </div>
                            <div class="colour-finish-details-footer">
                                <button *ngIf="isEditMode" type="button" class="btn btm-sm btn-secondary" [disabled]="colourFinishForm.pristine" (click)="loadData(true)" ngbTooltip="Reload Colour Finish">Reset</button>
                                <button type="submit" class="btn btn-sm btn-primary" [disabled]="isSaving || !colourFinishForm.valid || !colourFinishForm.dirty || colourFinishForm.pristine  || userIsBMCColourFinishWriter() == false " ngbTooltip="Save the Colour Finish changes">
                                    <span *ngIf="isSaving">
                                        <span class="spinner-border spinner-border-sm me-1" role="status" aria-hidden="true"></span>
                                        Saving...
                                    </span>
                                    <span *ngIf="!isSaving">
                                        <i class="fa-solid fa-check me-1"></i>
                                        {{ isEditMode ? 'Save Changes' : 'Add Colour Finish' }}
                                    </span>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-3 header-card shadow-sm" *ngIf="isEditMode && userIsBMCColourFinishReader() && (isLoading$ | async) == false">
            <div class="row flex-grow-1">
                <div class="col m-2 colour-finish-details-body">

                    <ul ngbNav #nav="ngbNav" class="nav-tabs">
                      <li ngbNavItem *ngIf="brickColourService.userIsBMCBrickColourReader()">
                            <button ngbNavLink>Brick Colours
                                <span class="badge bg-primary ms-2">
                                    {{ (colourFinishData?.BrickColoursCount$ | async) ?? '-' }}
                                </span>
                            </button>
                            <ng-template ngbNavContent>
                            <div class="d-flex flex-column gap-3 p-0">
                                <div class="flex-grow-1">
                                    <app-brick-colour-table [queryParams]="{ colourFinishId: colourFinishData?.id }" [showAddButton]="true" [preSeededData]="{ colourFinishId: colourFinishData?.id }" [hiddenFields]="['colourFinishId']"></app-brick-colour-table>
                                </div>
                            </div>
                            </ng-template>
                        </li>
                    </ul>
                     <div [ngbNavOutlet]="nav"></div>
                </div>
            </div>
        </div>
    </div>
</div>

