<div class="container-fluid p-1 m-0 attribute-definition-change-history-details-container">
    <div class="p-2 detail-background">
        <div class="card mb-3 header-card shadow-sm">
            <div class="attribute-definition-change-history-details-header">
                <div class="header-left">
                    <button class="btn btn-sm btn-light back-button me-2" (click)="goBack()" ngbTooltip="Go Back"  *ngIf="canGoBack()"><i class="fa-solid fa-arrow-left"></i></button>
                    <div>
                        <h3 class="page-title mb-0">Attribute Definition Change History</h3>
                        <small class="text-muted">{{ isEditMode ? 'Edit Attribute Definition Change History' : 'Add Attribute Definition Change History'}}</small>
                    </div>
                </div>
            </div>
        </div>

        <div class="card mb-3 header-card shadow-sm">
            <div class="row flex-grow-1" *ngIf="userIsSchedulerAttributeDefinitionChangeHistoryReader()">
                <div class="col m-2 attribute-definition-change-history-details-body">
                    <div *showSpinner="isLoading$ | async">
                        <form [class.hidden]="isLoading$ | async" [formGroup]="attributeDefinitionChangeHistoryForm" (ngSubmit)="submitForm()" class="attribute-definition-change-history-details-form">
                            <div class="form-group" *ngIf="!isFieldHidden('attributeDefinitionId')">
                                <label for="AttributeDefinitionChangeHistory-attributeDefinitionId" id="label-AttributeDefinitionChangeHistory-attributeDefinitionId"><span class="text-danger">*</span>Attribute Definition</label>
                                <select id="AttributeDefinitionChangeHistory-attributeDefinitionId" formControlName="attributeDefinitionId" class="form-select attribute-definition-change-history-select" [disabled]="!userIsSchedulerAttributeDefinitionChangeHistoryWriter()">
                                    <option [ngValue]="null">Select Attribute Definition</option>
                                    <option *ngFor="let attributeDefinition of attributeDefinitions$ | async" [ngValue]="attributeDefinition.id">{{attributeDefinition.key}}</option>
                                </select>
                                <div *ngIf="attributeDefinitionChangeHistoryForm.get('attributeDefinitionId')?.invalid && attributeDefinitionChangeHistoryForm.get('attributeDefinitionId')?.touched" class="text-danger">
                                    Attribute Definition is required
                                </div>
                            </div>
                            <div class="form-group"*ngIf="!isFieldHidden('{fc.camelCaseName}')" )>
                                <label for="AttributeDefinitionChangeHistory-versionNumber" id="label-AttributeDefinitionChangeHistory-versionNumber"><span class="text-danger">*</span>Version Number</label>
                                <input type="number" id="AttributeDefinitionChangeHistory-versionNumber" formControlName="versionNumber" [disabled]="true" placeholder="Enter Version Number" class="form-control attribute-definition-change-history-input" />
                            </div>
                            <div class="form-group" *ngIf="!isFieldHidden('timeStamp')">
                                <label for="AttributeDefinitionChangeHistory-timeStamp" id="label-AttributeDefinitionChangeHistory-timeStamp"><span class="text-danger">*</span>Time Stamp</label>
                                <input type="datetime-local" id="AttributeDefinitionChangeHistory-timeStamp" formControlName="timeStamp" placeholder="Enter Time Stamp" class="form-control attribute-definition-change-history-input" [disabled]="!userIsSchedulerAttributeDefinitionChangeHistoryWriter()" aria-labelledby="label-timeStamp" />
                                <div *ngIf="attributeDefinitionChangeHistoryForm.get('timeStamp')?.invalid && attributeDefinitionChangeHistoryForm.get('timeStamp')?.touched" class="text-danger">
                                    Time Stamp is required
                                </div>
                            </div>
                            <div class="form-group" *ngIf="!isFieldHidden('userId')">
                                <label for="AttributeDefinitionChangeHistory-userId" id="label-AttributeDefinitionChangeHistory-userId"><span class="text-danger">*</span>User Id</label>
                                <input type="number" id="AttributeDefinitionChangeHistory-userId" formControlName="userId" placeholder="Enter User Id" class="form-control attribute-definition-change-history-input" [disabled]="!userIsSchedulerAttributeDefinitionChangeHistoryWriter()" aria-labelledby="label-userId" />
                                <div *ngIf="attributeDefinitionChangeHistoryForm.get('userId')?.invalid && attributeDefinitionChangeHistoryForm.get('userId')?.touched" class="text-danger">
                                    User Id is required
                                </div>
                            </div>
                            <div class="form-group" *ngIf="!isFieldHidden('data')">
                                <label for="AttributeDefinitionChangeHistory-data" id="label-AttributeDefinitionChangeHistory-data"><span class="text-danger">*</span>Data</label>
                                <textarea id="AttributeDefinitionChangeHistory-data" formControlName="data" placeholder="Enter Data" class="form-control attribute-definition-change-history-input" [disabled]="!userIsSchedulerAttributeDefinitionChangeHistoryWriter()"></textarea>
                                <div *ngIf="attributeDefinitionChangeHistoryForm.get('data')?.invalid && attributeDefinitionChangeHistoryForm.get('data')?.touched" class="text-danger">
                                    Data is required
                                </div>
                            </div>
                            <div class="attribute-definition-change-history-details-footer">
                                <button *ngIf="isEditMode" type="button" class="btn btm-sm btn-secondary" [disabled]="attributeDefinitionChangeHistoryForm.pristine" (click)="loadData(true)" ngbTooltip="Reload Attribute Definition Change History">Reset</button>
                                <button type="submit" class="btn btn-sm btn-primary" [disabled]="isSaving || !attributeDefinitionChangeHistoryForm.valid || !attributeDefinitionChangeHistoryForm.dirty || attributeDefinitionChangeHistoryForm.pristine  || userIsSchedulerAttributeDefinitionChangeHistoryWriter() == false " ngbTooltip="Save the Attribute Definition Change History changes">
                                    <span *ngIf="isSaving">
                                        <span class="spinner-border spinner-border-sm me-1" role="status" aria-hidden="true"></span>
                                        Saving...
                                    </span>
                                    <span *ngIf="!isSaving">
                                        <i class="fa-solid fa-check me-1"></i>
                                        {{ isEditMode ? 'Save Changes' : 'Add Attribute Definition Change History' }}
                                    </span>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

