<div class="add-scheduled-event-template-qualification-requirement-change-history" *ngIf="showAddButton == true">
    <button type="button"
        class="btn btn-sm btn-add-scheduled-event-template-qualification-requirement-change-history me-2"
        (click)="openModal()"
        ngbTooltip="Add Scheduled Event Template Qualification Requirement Change History" 
        *ngIf="userIsSchedulerScheduledEventTemplateQualificationRequirementChangeHistoryWriter() == true"
        placement="top"
        style="min-width: 75px;">Add</button>
</div>

<!-- ng-bootstrap modal -->
<ng-template #scheduledEventTemplateQualificationRequirementChangeHistoryModal let-modal>
   <div class="modal-header scheduled-event-template-qualification-requirement-change-history-modal-header">
      <h5 class="modal-title mb-0" id="scheduledEventTemplateQualificationRequirementChangeHistoryModalLabel" ngbTooltip="{{objectGuid}}">
      {{ isEditMode ? 'Edit Scheduled Event Template Qualification Requirement Change History' : 'Add Scheduled Event Template Qualification Requirement Change History' }}
      </h5>
      <button type="button" class="modal-close-btn" (click)="closeModal()" aria-label="Close">
        <i class="fa fa-xmark"></i>
      </button>
   </div>
   <div class="modal-body scheduled-event-template-qualification-requirement-change-history-modal-body">
      <form [formGroup]="scheduledEventTemplateQualificationRequirementChangeHistoryForm" (ngSubmit)="submitForm()">
            <div class="form-group" *ngIf="!isFieldHidden('scheduledEventTemplateQualificationRequirementId')">
                <label for="ScheduledEventTemplateQualificationRequirementChangeHistory-scheduledEventTemplateQualificationRequirementId" id="label-ScheduledEventTemplateQualificationRequirementChangeHistory-scheduledEventTemplateQualificationRequirementId"><span class="text-danger">*</span>Scheduled Event Template Qualification Requirement</label>
                <select id="ScheduledEventTemplateQualificationRequirementChangeHistory-scheduledEventTemplateQualificationRequirementId" formControlName="scheduledEventTemplateQualificationRequirementId" class="form-select scheduled-event-template-qualification-requirement-change-history-select" [disabled]="!userIsSchedulerScheduledEventTemplateQualificationRequirementChangeHistoryWriter()">
                    <option [ngValue]="null">Select Scheduled Event Template Qualification Requirement</option>
                    <option *ngFor="let scheduledEventTemplateQualificationRequirement of scheduledEventTemplateQualificationRequirements$ | async" [ngValue]="scheduledEventTemplateQualificationRequirement.id">{{scheduledEventTemplateQualificationRequirement.id}}</option>
                </select>
                <div *ngIf="scheduledEventTemplateQualificationRequirementChangeHistoryForm.get('scheduledEventTemplateQualificationRequirementId')?.invalid && scheduledEventTemplateQualificationRequirementChangeHistoryForm.get('scheduledEventTemplateQualificationRequirementId')?.touched" class="text-danger">
                    Scheduled Event Template Qualification Requirement is required
                </div>
            </div>
            <div class="form-group" *ngIf="isEditMode && !isFieldHidden('{fc.camelCaseName}')" )>
                <label for="ScheduledEventTemplateQualificationRequirementChangeHistory-versionNumber" id="label-ScheduledEventTemplateQualificationRequirementChangeHistory-versionNumber"><span class="text-danger">*</span>Version Number</label>
                <input type="number" id="ScheduledEventTemplateQualificationRequirementChangeHistory-versionNumber" formControlName="versionNumber" [disabled]="true" placeholder="Enter Version Number" class="form-control scheduled-event-template-qualification-requirement-change-history-input" />
            </div>
            <div class="form-group" *ngIf="!isFieldHidden('timeStamp')">
                <label for="ScheduledEventTemplateQualificationRequirementChangeHistory-timeStamp" id="label-ScheduledEventTemplateQualificationRequirementChangeHistory-timeStamp"><span class="text-danger">*</span>Time Stamp</label>
                <input type="datetime-local" id="ScheduledEventTemplateQualificationRequirementChangeHistory-timeStamp" formControlName="timeStamp" placeholder="Enter Time Stamp" class="form-control scheduled-event-template-qualification-requirement-change-history-input" [disabled]="!userIsSchedulerScheduledEventTemplateQualificationRequirementChangeHistoryWriter()" aria-labelledby="label-timeStamp" />
                <div *ngIf="scheduledEventTemplateQualificationRequirementChangeHistoryForm.get('timeStamp')?.invalid && scheduledEventTemplateQualificationRequirementChangeHistoryForm.get('timeStamp')?.touched" class="text-danger">
                    Time Stamp is required
                </div>
            </div>
            <div class="form-group" *ngIf="!isFieldHidden('userId')">
                <label for="ScheduledEventTemplateQualificationRequirementChangeHistory-userId" id="label-ScheduledEventTemplateQualificationRequirementChangeHistory-userId"><span class="text-danger">*</span>User Id</label>
                <input type="number" id="ScheduledEventTemplateQualificationRequirementChangeHistory-userId" formControlName="userId" placeholder="Enter User Id" class="form-control scheduled-event-template-qualification-requirement-change-history-input" [disabled]="!userIsSchedulerScheduledEventTemplateQualificationRequirementChangeHistoryWriter()" aria-labelledby="label-userId" />
                <div *ngIf="scheduledEventTemplateQualificationRequirementChangeHistoryForm.get('userId')?.invalid && scheduledEventTemplateQualificationRequirementChangeHistoryForm.get('userId')?.touched" class="text-danger">
                    User Id is required
                </div>
            </div>
            <div class="form-group" *ngIf="!isFieldHidden('data')">
                <label for="ScheduledEventTemplateQualificationRequirementChangeHistory-data" id="label-ScheduledEventTemplateQualificationRequirementChangeHistory-data"><span class="text-danger">*</span>Data</label>
                <textarea id="ScheduledEventTemplateQualificationRequirementChangeHistory-data" formControlName="data" placeholder="Enter Data" class="form-control scheduled-event-template-qualification-requirement-change-history-input" [disabled]="!userIsSchedulerScheduledEventTemplateQualificationRequirementChangeHistoryWriter()"></textarea>
                <div *ngIf="scheduledEventTemplateQualificationRequirementChangeHistoryForm.get('data')?.invalid && scheduledEventTemplateQualificationRequirementChangeHistoryForm.get('data')?.touched" class="text-danger">
                    Data is required
                </div>
            </div>
         <div class="modal-footer scheduled-event-template-qualification-requirement-change-history-modal-footer">
            <button type="button" class="btn btn-sm btn-secondary" (click)="closeModal()" ngbTooltip="Cancel the Scheduled Event Template Qualification Requirement Change History changes and Close">Cancel</button>
            <button type="submit" class="btn btn-sm btn-primary" [disabled]="isSaving || !scheduledEventTemplateQualificationRequirementChangeHistoryForm.valid || scheduledEventTemplateQualificationRequirementChangeHistoryForm.pristine  || userIsSchedulerScheduledEventTemplateQualificationRequirementChangeHistoryWriter() == false " ngbTooltip="Save the Scheduled Event Template Qualification Requirement Change History changes and Close">
                <span *ngIf="isSaving">
                    <span class="spinner-border spinner-border-sm me-1" role="status" aria-hidden="true"></span>
                    Saving...
                </span>
                <span *ngIf="!isSaving">
                    <i class="fa-solid fa-check me-1"></i>
                    {{ isEditMode ? 'Save Changes' : 'Add Scheduled Event Template Qualification Requirement Change History' }}
                </span>
            </button>
         </div>
      </form>
   </div>
</ng-template>
