<div class="add-resource-qualification-change-history" *ngIf="showAddButton == true">
    <button type="button"
        class="btn btn-sm btn-add-resource-qualification-change-history me-2"
        (click)="openModal()"
        ngbTooltip="Add Resource Qualification Change History" 
        *ngIf="userIsSchedulerResourceQualificationChangeHistoryWriter() == true"
        placement="top"
        style="min-width: 75px;">Add</button>
</div>

<!-- ng-bootstrap modal -->
<ng-template #resourceQualificationChangeHistoryModal let-modal>
   <div class="modal-header resource-qualification-change-history-modal-header">
      <h5 class="modal-title mb-0" id="resourceQualificationChangeHistoryModalLabel" ngbTooltip="{{objectGuid}}">
      {{ isEditMode ? 'Edit Resource Qualification Change History' : 'Add Resource Qualification Change History' }}
      </h5>
      <button type="button" class="modal-close-btn" (click)="closeModal()" aria-label="Close">
        <i class="fa fa-xmark"></i>
      </button>
   </div>
   <div class="modal-body resource-qualification-change-history-modal-body">
      <form [formGroup]="resourceQualificationChangeHistoryForm" (ngSubmit)="submitForm()">
            <div class="form-group" *ngIf="!isFieldHidden('resourceQualificationId')">
                <label for="ResourceQualificationChangeHistory-resourceQualificationId" id="label-ResourceQualificationChangeHistory-resourceQualificationId"><span class="text-danger">*</span>Resource Qualification</label>
                <select id="ResourceQualificationChangeHistory-resourceQualificationId" formControlName="resourceQualificationId" class="form-select resource-qualification-change-history-select" [disabled]="!userIsSchedulerResourceQualificationChangeHistoryWriter()">
                    <option [ngValue]="null">Select Resource Qualification</option>
                    <option *ngFor="let resourceQualification of resourceQualifications$ | async" [ngValue]="resourceQualification.id">{{resourceQualification.issuer}}</option>
                </select>
                <div *ngIf="resourceQualificationChangeHistoryForm.get('resourceQualificationId')?.invalid && resourceQualificationChangeHistoryForm.get('resourceQualificationId')?.touched" class="text-danger">
                    Resource Qualification is required
                </div>
            </div>
            <div class="form-group" *ngIf="isEditMode && !isFieldHidden('{fc.camelCaseName}')" )>
                <label for="ResourceQualificationChangeHistory-versionNumber" id="label-ResourceQualificationChangeHistory-versionNumber"><span class="text-danger">*</span>Version Number</label>
                <input type="number" id="ResourceQualificationChangeHistory-versionNumber" formControlName="versionNumber" [disabled]="true" placeholder="Enter Version Number" class="form-control resource-qualification-change-history-input" />
            </div>
            <div class="form-group" *ngIf="!isFieldHidden('timeStamp')">
                <label for="ResourceQualificationChangeHistory-timeStamp" id="label-ResourceQualificationChangeHistory-timeStamp"><span class="text-danger">*</span>Time Stamp</label>
                <input type="datetime-local" id="ResourceQualificationChangeHistory-timeStamp" formControlName="timeStamp" placeholder="Enter Time Stamp" class="form-control resource-qualification-change-history-input" [disabled]="!userIsSchedulerResourceQualificationChangeHistoryWriter()" aria-labelledby="label-timeStamp" />
                <div *ngIf="resourceQualificationChangeHistoryForm.get('timeStamp')?.invalid && resourceQualificationChangeHistoryForm.get('timeStamp')?.touched" class="text-danger">
                    Time Stamp is required
                </div>
            </div>
            <div class="form-group" *ngIf="!isFieldHidden('userId')">
                <label for="ResourceQualificationChangeHistory-userId" id="label-ResourceQualificationChangeHistory-userId"><span class="text-danger">*</span>User Id</label>
                <input type="number" id="ResourceQualificationChangeHistory-userId" formControlName="userId" placeholder="Enter User Id" class="form-control resource-qualification-change-history-input" [disabled]="!userIsSchedulerResourceQualificationChangeHistoryWriter()" aria-labelledby="label-userId" />
                <div *ngIf="resourceQualificationChangeHistoryForm.get('userId')?.invalid && resourceQualificationChangeHistoryForm.get('userId')?.touched" class="text-danger">
                    User Id is required
                </div>
            </div>
            <div class="form-group" *ngIf="!isFieldHidden('data')">
                <label for="ResourceQualificationChangeHistory-data" id="label-ResourceQualificationChangeHistory-data"><span class="text-danger">*</span>Data</label>
                <textarea id="ResourceQualificationChangeHistory-data" formControlName="data" placeholder="Enter Data" class="form-control resource-qualification-change-history-input" [disabled]="!userIsSchedulerResourceQualificationChangeHistoryWriter()"></textarea>
                <div *ngIf="resourceQualificationChangeHistoryForm.get('data')?.invalid && resourceQualificationChangeHistoryForm.get('data')?.touched" class="text-danger">
                    Data is required
                </div>
            </div>
         <div class="modal-footer resource-qualification-change-history-modal-footer">
            <button type="button" class="btn btn-sm btn-secondary" (click)="closeModal()" ngbTooltip="Cancel the Resource Qualification Change History changes and Close">Cancel</button>
            <button type="submit" class="btn btn-sm btn-primary" [disabled]="isSaving || !resourceQualificationChangeHistoryForm.valid || resourceQualificationChangeHistoryForm.pristine  || userIsSchedulerResourceQualificationChangeHistoryWriter() == false " ngbTooltip="Save the Resource Qualification Change History changes and Close">
                <span *ngIf="isSaving">
                    <span class="spinner-border spinner-border-sm me-1" role="status" aria-hidden="true"></span>
                    Saving...
                </span>
                <span *ngIf="!isSaving">
                    <i class="fa-solid fa-check me-1"></i>
                    {{ isEditMode ? 'Save Changes' : 'Add Resource Qualification Change History' }}
                </span>
            </button>
         </div>
      </form>
   </div>
</ng-template>
