<div class="container-fluid p-1 m-0 charge-status-details-container">
    <div class="p-2 detail-background">
        <div class="card mb-3 header-card gradient-header shadow-sm">
            <div class="charge-status-details-header">
                <div class="header-left">
                    <button class="btn btn-sm btn-outline-light back-button me-2" (click)="goBack()" ngbTooltip="Go Back"  *ngIf="canGoBack()"><i class="fa-solid fa-arrow-left"></i></button>
                    <div>
                        <h3 class="page-title mb-0">Charge Status</h3>
                        <small class="text-muted">{{ isEditMode ? 'Edit Charge Status' : 'Add Charge Status'}}</small>
                    </div>
                </div>
            </div>
        </div>

        <div class="card mb-3 header-card shadow-sm">
            <div class="row flex-grow-1" *ngIf="userIsSchedulerChargeStatusReader()">
                <div class="col m-2 charge-status-details-body">
                    <div *showSpinner="isLoading$ | async">
                        <form [class.hidden]="isLoading$ | async" [formGroup]="chargeStatusForm" (ngSubmit)="submitForm()" class="charge-status-details-form">
                            <div class="form-group" *ngIf="!isFieldHidden('name')">
                                <label for="ChargeStatus-name" id="label-ChargeStatus-name"><span class="text-danger">*</span>Name</label>
                                <input type="text" id="ChargeStatus-name" formControlName="name" placeholder="Enter Name" class="form-control charge-status-input" [disabled]="!userIsSchedulerChargeStatusWriter()" aria-labelledby="label-name" />
                                <div *ngIf="chargeStatusForm.get('name')?.invalid && chargeStatusForm.get('name')?.touched" class="text-danger">
                                    Name is required
                                </div>
                            </div>
                            <div class="form-group" *ngIf="!isFieldHidden('description')">
                                <label for="ChargeStatus-description" id="label-ChargeStatus-description"><span class="text-danger">*</span>Description</label>
                                <textarea id="ChargeStatus-description" formControlName="description" placeholder="Enter Description" class="form-control charge-status-input" [disabled]="!userIsSchedulerChargeStatusWriter()"></textarea>
                                <div *ngIf="chargeStatusForm.get('description')?.invalid && chargeStatusForm.get('description')?.touched" class="text-danger">
                                    Description is required
                                </div>
                            </div>
                            <div class="form-group" *ngIf="!isFieldHidden('color')">
                                <label for="ChargeStatus-color" id="label-ChargeStatus-color">Color</label>
                                <div class="d-flex align-items-center gap-3">
                    <!-- Native color picker input (type="color") -->
                    <input 
                        type="color" 
                        id="ChargeStatus-color" 
                        formControlName="color" 
                        class="form-control form-control-color color-picker" 
                        [disabled]="!userIsSchedulerChargeStatusWriter()"
                        aria-labelledby="label-color"
                        title="Choose Color">
                    
                    <!-- Usually this isn't needed
                    <input 
                        type="text" 
                        [value]="chargeStatusForm.get('color')?.value || '#000000'" 
                        readonly 
                        class="form-control input-color-display"
                        style="width: 120px;">-->
                </div>
                            </div>
                            <div class="form-group" *ngIf="!isFieldHidden('sequence')">
                                <label for="ChargeStatus-sequence" id="label-ChargeStatus-sequence">Sequence</label>
                                <input type="number" id="ChargeStatus-sequence" formControlName="sequence" placeholder="Enter Sequence" class="form-control charge-status-input" [disabled]="!userIsSchedulerChargeStatusWriter()" aria-labelledby="label-sequence" />
                            </div>
                            <div class="form-group"*ngIf="!isFieldHidden('{fc.camelCaseName}')" )>
                                <label for="ChargeStatus-versionNumber" id="label-ChargeStatus-versionNumber"><span class="text-danger">*</span>Version Number</label>
                                <input type="number" id="ChargeStatus-versionNumber" formControlName="versionNumber" [disabled]="true" placeholder="Enter Version Number" class="form-control charge-status-input" />
                            </div>
                            <div class="form-check my-2"*ngIf="!isFieldHidden('{fc.camelCaseName}')" )>
                                <input type="checkbox" id="ChargeStatus-active" formControlName="active" class="form-check-input" [disabled]="!userIsSchedulerChargeStatusWriter()" />
                                <label for="ChargeStatus-active" class="form-check-label" id="label-ChargeStatus-active"><span class="text-danger">*</span>Active</label>
                            </div>
                            <div class="form-check my-2"*ngIf="!isFieldHidden('{fc.camelCaseName}')" )>
                                <input type="checkbox" id="ChargeStatus-deleted" formControlName="deleted" class="form-check-input" [disabled]="!userIsSchedulerChargeStatusWriter()" />
                                <label for="ChargeStatus-deleted" class="form-check-label" id="label-ChargeStatus-deleted"><span class="text-danger">*</span>Deleted</label>
                            </div>
                            <div class="charge-status-details-footer">
                                <button *ngIf="isEditMode" type="button" class="btn btm-sm btn-secondary" [disabled]="chargeStatusForm.pristine" (click)="loadData(true)" ngbTooltip="Reload Charge Status">Reset</button>
                                <button type="submit" class="btn btn-sm btn-primary" [disabled]="isSaving || !chargeStatusForm.valid || !chargeStatusForm.dirty || chargeStatusForm.pristine  || userIsSchedulerChargeStatusWriter() == false " ngbTooltip="Save the Charge Status changes">
                                    <span *ngIf="isSaving">
                                        <span class="spinner-border spinner-border-sm me-1" role="status" aria-hidden="true"></span>
                                        Saving...
                                    </span>
                                    <span *ngIf="!isSaving">
                                        <i class="fa-solid fa-check me-1"></i>
                                        {{ isEditMode ? 'Save Changes' : 'Add Charge Status' }}
                                    </span>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-3 header-card shadow-sm" *ngIf="isEditMode && userIsSchedulerChargeStatusReader() && (isLoading$ | async) == false">
            <div class="row flex-grow-1">
                <div class="col m-2 charge-status-details-body">

                    <ul ngbNav #nav="ngbNav" class="nav-tabs">
                      <li ngbNavItem *ngIf="chargeStatusChangeHistoryService.userIsSchedulerChargeStatusChangeHistoryReader()">
                            <button ngbNavLink>Charge Status Change Histories
                                <span class="badge bg-primary ms-2">
                                    {{ (chargeStatusData?.ChargeStatusChangeHistoriesCount$ | async) ?? '-' }}
                                </span>
                            </button>
                            <ng-template ngbNavContent>
                            <div class="d-flex flex-column gap-3 p-0">
                                <div class="flex-grow-1">
                                    <app-charge-status-change-history-table [queryParams]="{ chargeStatusId: chargeStatusData?.id }" [showAddButton]="true" [preSeededData]="{ chargeStatusId: chargeStatusData?.id }" [hiddenFields]="['chargeStatusId']"></app-charge-status-change-history-table>
                                </div>
                            </div>
                            </ng-template>
                        </li>
                      <li ngbNavItem *ngIf="eventChargeService.userIsSchedulerEventChargeReader()">
                            <button ngbNavLink>Event Charges
                                <span class="badge bg-primary ms-2">
                                    {{ (chargeStatusData?.EventChargesCount$ | async) ?? '-' }}
                                </span>
                            </button>
                            <ng-template ngbNavContent>
                            <div class="d-flex flex-column gap-3 p-0">
                                <div class="flex-grow-1">
                                    <app-event-charge-table [queryParams]="{ chargeStatusId: chargeStatusData?.id }" [showAddButton]="true" [preSeededData]="{ chargeStatusId: chargeStatusData?.id }" [hiddenFields]="['chargeStatusId']"></app-event-charge-table>
                                </div>
                            </div>
                            </ng-template>
                        </li>
                    </ul>
                     <div [ngbNavOutlet]="nav"></div>
                </div>
            </div>
        </div>
    </div>
</div>

