<div class="add-user-collection-part" *ngIf="showAddButton == true">
    <button type="button"
        class="btn btn-sm btn-add-user-collection-part me-2"
        (click)="openModal()"
        ngbTooltip="Add User Collection Part" 
        *ngIf="userIsBMCUserCollectionPartWriter() == true"
        placement="top"
        style="min-width: 75px;">Add</button>
</div>

<!-- ng-bootstrap modal -->
<ng-template #userCollectionPartModal let-modal>
   <div class="modal-header bg-dark text-light user-collection-part-modal-header">
      <h5 class="modal-title mb-0" id="userCollectionPartModalLabel" ngbTooltip="{{objectGuid}}">
      {{ isEditMode ? 'Edit User Collection Part' : 'Add User Collection Part' }}
      </h5>
      <button type="button"
              class="btn btn-sm btn-close btn-close-white"
              (click)="closeModal()">
       </button>
   </div>
   <div class="modal-body user-collection-part-modal-body">
      <form [formGroup]="userCollectionPartForm" (ngSubmit)="submitForm()">
            <div class="form-group" *ngIf="!isFieldHidden('userCollectionId')">
                <label for="UserCollectionPart-userCollectionId" id="label-UserCollectionPart-userCollectionId"><span class="text-danger">*</span>User Collection</label>
                <select id="UserCollectionPart-userCollectionId" formControlName="userCollectionId" class="form-select user-collection-part-select" [disabled]="!userIsBMCUserCollectionPartWriter()">
                    <option [ngValue]="null">Select User Collection</option>
                    <option *ngFor="let userCollection of userCollections$ | async" [ngValue]="userCollection.id">{{userCollection.name}}</option>
                </select>
                <div *ngIf="userCollectionPartForm.get('userCollectionId')?.invalid && userCollectionPartForm.get('userCollectionId')?.touched" class="text-danger">
                    User Collection is required
                </div>
            </div>
            <div class="form-group" *ngIf="!isFieldHidden('brickPartId')">
                <label for="UserCollectionPart-brickPartId" id="label-UserCollectionPart-brickPartId"><span class="text-danger">*</span>Brick Part</label>
                <select id="UserCollectionPart-brickPartId" formControlName="brickPartId" class="form-select user-collection-part-select" [disabled]="!userIsBMCUserCollectionPartWriter()">
                    <option [ngValue]="null">Select Brick Part</option>
                    <option *ngFor="let brickPart of brickParts$ | async" [ngValue]="brickPart.id">{{brickPart.name}}</option>
                </select>
                <div *ngIf="userCollectionPartForm.get('brickPartId')?.invalid && userCollectionPartForm.get('brickPartId')?.touched" class="text-danger">
                    Brick Part is required
                </div>
            </div>
            <div class="form-group" *ngIf="!isFieldHidden('brickColourId')">
                <label for="UserCollectionPart-brickColourId" id="label-UserCollectionPart-brickColourId"><span class="text-danger">*</span>Brick Colour</label>
                <select id="UserCollectionPart-brickColourId" formControlName="brickColourId" class="form-select user-collection-part-select" [disabled]="!userIsBMCUserCollectionPartWriter()">
                    <option [ngValue]="null">Select Brick Colour</option>
                    <option *ngFor="let brickColour of brickColours$ | async" [ngValue]="brickColour.id">{{brickColour.name}}</option>
                </select>
                <div *ngIf="userCollectionPartForm.get('brickColourId')?.invalid && userCollectionPartForm.get('brickColourId')?.touched" class="text-danger">
                    Brick Colour is required
                </div>
            </div>
            <div class="form-group" *ngIf="!isFieldHidden('quantityOwned')">
                <label for="UserCollectionPart-quantityOwned" id="label-UserCollectionPart-quantityOwned">Quantity Owned</label>
                <input type="number" id="UserCollectionPart-quantityOwned" formControlName="quantityOwned" placeholder="Enter Quantity Owned" class="form-control user-collection-part-input" [disabled]="!userIsBMCUserCollectionPartWriter()" aria-labelledby="label-quantityOwned" />
            </div>
            <div class="form-group" *ngIf="!isFieldHidden('quantityUsed')">
                <label for="UserCollectionPart-quantityUsed" id="label-UserCollectionPart-quantityUsed">Quantity Used</label>
                <input type="number" id="UserCollectionPart-quantityUsed" formControlName="quantityUsed" placeholder="Enter Quantity Used" class="form-control user-collection-part-input" [disabled]="!userIsBMCUserCollectionPartWriter()" aria-labelledby="label-quantityUsed" />
            </div>
            <div class="form-check my-2" *ngIf="isEditMode && !isFieldHidden('{fc.camelCaseName}')" )>
                <input type="checkbox" id="UserCollectionPart-active" formControlName="active" class="form-check-input" [disabled]="!userIsBMCUserCollectionPartWriter()" />
                <label for="UserCollectionPart-active" class="form-check-label" id="label-UserCollectionPart-active"><span class="text-danger">*</span>Active</label>
            </div>
            <div class="form-check my-2" *ngIf="isEditMode && !isFieldHidden('{fc.camelCaseName}')" )>
                <input type="checkbox" id="UserCollectionPart-deleted" formControlName="deleted" class="form-check-input" [disabled]="!userIsBMCUserCollectionPartWriter()" />
                <label for="UserCollectionPart-deleted" class="form-check-label" id="label-UserCollectionPart-deleted"><span class="text-danger">*</span>Deleted</label>
            </div>
         <div class="modal-footer user-collection-part-modal-footer">
            <button type="button" class="btn btn-sm btn-secondary" (click)="closeModal()" ngbTooltip="Cancel the User Collection Part changes and Close">Cancel</button>
            <button type="submit" class="btn btn-sm btn-primary" [disabled]="isSaving || !userCollectionPartForm.valid || userCollectionPartForm.pristine  || userIsBMCUserCollectionPartWriter() == false " ngbTooltip="Save the User Collection Part changes and Close">
                <span *ngIf="isSaving">
                    <span class="spinner-border spinner-border-sm me-1" role="status" aria-hidden="true"></span>
                    Saving...
                </span>
                <span *ngIf="!isSaving">
                    <i class="fa-solid fa-check me-1"></i>
                    {{ isEditMode ? 'Save Changes' : 'Add User Collection Part' }}
                </span>
            </button>
         </div>
      </form>
   </div>
</ng-template>
