<div class="add-incident-note-change-history" *ngIf="showAddButton == true">
    <button type="button"
        class="btn btn-sm btn-add-incident-note-change-history me-2"
        (click)="openModal()"
        ngbTooltip="Add Incident Note Change History" 
        *ngIf="userIsAlertingIncidentNoteChangeHistoryWriter() == true"
        placement="top"
        style="min-width: 75px;">Add</button>
</div>

<!-- ng-bootstrap modal -->
<ng-template #incidentNoteChangeHistoryModal let-modal>
   <div class="modal-header bg-dark text-light incident-note-change-history-modal-header">
      <h5 class="modal-title mb-0" id="incidentNoteChangeHistoryModalLabel" ngbTooltip="{{objectGuid}}">
      {{ isEditMode ? 'Edit Incident Note Change History' : 'Add Incident Note Change History' }}
      </h5>
      <button type="button"
              class="btn btn-sm btn-close btn-close-white"
              (click)="closeModal()">
       </button>
   </div>
   <div class="modal-body incident-note-change-history-modal-body">
      <form [formGroup]="incidentNoteChangeHistoryForm" (ngSubmit)="submitForm()">
            <div class="form-group" *ngIf="!isFieldHidden('incidentNoteId')">
                <label for="IncidentNoteChangeHistory-incidentNoteId" id="label-IncidentNoteChangeHistory-incidentNoteId"><span class="text-danger">*</span>Incident Note</label>
                <select id="IncidentNoteChangeHistory-incidentNoteId" formControlName="incidentNoteId" class="form-select incident-note-change-history-select" [disabled]="!userIsAlertingIncidentNoteChangeHistoryWriter()">
                    <option [ngValue]="null">Select Incident Note</option>
                    <option *ngFor="let incidentNote of incidentNotes$ | async" [ngValue]="incidentNote.id">{{incidentNote.content}}</option>
                </select>
                <div *ngIf="incidentNoteChangeHistoryForm.get('incidentNoteId')?.invalid && incidentNoteChangeHistoryForm.get('incidentNoteId')?.touched" class="text-danger">
                    Incident Note is required
                </div>
            </div>
            <div class="form-group" *ngIf="isEditMode && !isFieldHidden('{fc.camelCaseName}')" )>
                <label for="IncidentNoteChangeHistory-versionNumber" id="label-IncidentNoteChangeHistory-versionNumber"><span class="text-danger">*</span>Version Number</label>
                <input type="number" id="IncidentNoteChangeHistory-versionNumber" formControlName="versionNumber" [disabled]="true" placeholder="Enter Version Number" class="form-control incident-note-change-history-input" />
            </div>
            <div class="form-group" *ngIf="!isFieldHidden('timeStamp')">
                <label for="IncidentNoteChangeHistory-timeStamp" id="label-IncidentNoteChangeHistory-timeStamp"><span class="text-danger">*</span>Time Stamp</label>
                <input type="datetime-local" id="IncidentNoteChangeHistory-timeStamp" formControlName="timeStamp" placeholder="Enter Time Stamp" class="form-control incident-note-change-history-input" [disabled]="!userIsAlertingIncidentNoteChangeHistoryWriter()" aria-labelledby="label-timeStamp" />
                <div *ngIf="incidentNoteChangeHistoryForm.get('timeStamp')?.invalid && incidentNoteChangeHistoryForm.get('timeStamp')?.touched" class="text-danger">
                    Time Stamp is required
                </div>
            </div>
            <div class="form-group" *ngIf="!isFieldHidden('userId')">
                <label for="IncidentNoteChangeHistory-userId" id="label-IncidentNoteChangeHistory-userId"><span class="text-danger">*</span>User Id</label>
                <input type="number" id="IncidentNoteChangeHistory-userId" formControlName="userId" placeholder="Enter User Id" class="form-control incident-note-change-history-input" [disabled]="!userIsAlertingIncidentNoteChangeHistoryWriter()" aria-labelledby="label-userId" />
                <div *ngIf="incidentNoteChangeHistoryForm.get('userId')?.invalid && incidentNoteChangeHistoryForm.get('userId')?.touched" class="text-danger">
                    User Id is required
                </div>
            </div>
            <div class="form-group" *ngIf="!isFieldHidden('data')">
                <label for="IncidentNoteChangeHistory-data" id="label-IncidentNoteChangeHistory-data"><span class="text-danger">*</span>Data</label>
                <textarea id="IncidentNoteChangeHistory-data" formControlName="data" placeholder="Enter Data" class="form-control incident-note-change-history-input" [disabled]="!userIsAlertingIncidentNoteChangeHistoryWriter()"></textarea>
                <div *ngIf="incidentNoteChangeHistoryForm.get('data')?.invalid && incidentNoteChangeHistoryForm.get('data')?.touched" class="text-danger">
                    Data is required
                </div>
            </div>
         <div class="modal-footer incident-note-change-history-modal-footer">
            <button type="button" class="btn btn-sm btn-secondary" (click)="closeModal()" ngbTooltip="Cancel the Incident Note Change History changes and Close">Cancel</button>
            <button type="submit" class="btn btn-sm btn-primary" [disabled]="isSaving || !incidentNoteChangeHistoryForm.valid || incidentNoteChangeHistoryForm.pristine  || userIsAlertingIncidentNoteChangeHistoryWriter() == false " ngbTooltip="Save the Incident Note Change History changes and Close">
                <span *ngIf="isSaving">
                    <span class="spinner-border spinner-border-sm me-1" role="status" aria-hidden="true"></span>
                    Saving...
                </span>
                <span *ngIf="!isSaving">
                    <i class="fa-solid fa-check me-1"></i>
                    {{ isEditMode ? 'Save Changes' : 'Add Incident Note Change History' }}
                </span>
            </button>
         </div>
      </form>
   </div>
</ng-template>
