<div class="container-fluid p-1 m-0 module-security-role-details-container">
    <div class="p-2 detail-background">
        <div class="card mb-3 header-card shadow-sm">
            <div class="module-security-role-details-header">
                <div class="header-left">
                    <button class="btn btn-sm btn-light back-button me-2" (click)="goBack()" ngbTooltip="Go Back"  *ngIf="canGoBack()"><i class="fa-solid fa-arrow-left"></i></button>
                    <div>
                        <h3 class="page-title mb-0">Module Security Role</h3>
                        <small class="text-muted">{{ isEditMode ? 'Edit Module Security Role' : 'Add Module Security Role'}}</small>
                    </div>
                </div>
            </div>
        </div>

        <div class="card mb-3 header-card shadow-sm">
            <div class="row flex-grow-1" *ngIf="userIsSecurityModuleSecurityRoleReader()">
                <div class="col m-2 module-security-role-details-body">
                    <div *showSpinner="isLoading$ | async">
                        <form [class.hidden]="isLoading$ | async" [formGroup]="moduleSecurityRoleForm" (ngSubmit)="submitForm()" class="module-security-role-details-form">
                            <div class="form-group" *ngIf="!isFieldHidden('moduleId')">
                                <label for="ModuleSecurityRole-moduleId" id="label-ModuleSecurityRole-moduleId"><span class="text-danger">*</span>Module</label>
                                <select id="ModuleSecurityRole-moduleId" formControlName="moduleId" class="form-select module-security-role-select" [disabled]="!userIsSecurityModuleSecurityRoleWriter()">
                                    <option [ngValue]="null">Select Module</option>
                                    <option *ngFor="let module of modules$ | async" [ngValue]="module.id">{{module.name}}</option>
                                </select>
                                <div *ngIf="moduleSecurityRoleForm.get('moduleId')?.invalid && moduleSecurityRoleForm.get('moduleId')?.touched" class="text-danger">
                                    Module is required
                                </div>
                            </div>
                            <div class="form-group" *ngIf="!isFieldHidden('securityRoleId')">
                                <label for="ModuleSecurityRole-securityRoleId" id="label-ModuleSecurityRole-securityRoleId"><span class="text-danger">*</span>Security Role</label>
                                <select id="ModuleSecurityRole-securityRoleId" formControlName="securityRoleId" class="form-select module-security-role-select" [disabled]="!userIsSecurityModuleSecurityRoleWriter()">
                                    <option [ngValue]="null">Select Security Role</option>
                                    <option *ngFor="let securityRole of securityRoles$ | async" [ngValue]="securityRole.id">{{securityRole.name}}</option>
                                </select>
                                <div *ngIf="moduleSecurityRoleForm.get('securityRoleId')?.invalid && moduleSecurityRoleForm.get('securityRoleId')?.touched" class="text-danger">
                                    Security Role is required
                                </div>
                            </div>
                            <div class="form-group" *ngIf="!isFieldHidden('comments')">
                                <label for="ModuleSecurityRole-comments" id="label-ModuleSecurityRole-comments">Comments</label>
                                <textarea id="ModuleSecurityRole-comments" formControlName="comments" placeholder="Enter Comments" class="form-control module-security-role-input" [disabled]="!userIsSecurityModuleSecurityRoleWriter()"></textarea>
                            </div>
                            <div class="form-check my-2"*ngIf="!isFieldHidden('{fc.camelCaseName}')" )>
                                <input type="checkbox" id="ModuleSecurityRole-active" formControlName="active" class="form-check-input" [disabled]="!userIsSecurityModuleSecurityRoleWriter()" />
                                <label for="ModuleSecurityRole-active" class="form-check-label" id="label-ModuleSecurityRole-active"><span class="text-danger">*</span>Active</label>
                            </div>
                            <div class="form-check my-2"*ngIf="!isFieldHidden('{fc.camelCaseName}')" )>
                                <input type="checkbox" id="ModuleSecurityRole-deleted" formControlName="deleted" class="form-check-input" [disabled]="!userIsSecurityModuleSecurityRoleWriter()" />
                                <label for="ModuleSecurityRole-deleted" class="form-check-label" id="label-ModuleSecurityRole-deleted"><span class="text-danger">*</span>Deleted</label>
                            </div>
                            <div class="module-security-role-details-footer">
                                <button *ngIf="isEditMode" type="button" class="btn btm-sm btn-secondary" [disabled]="moduleSecurityRoleForm.pristine" (click)="loadData(true)" ngbTooltip="Reload Module Security Role">Reset</button>
                                <button type="submit" class="btn btn-sm btn-primary" [disabled]="isSaving || !moduleSecurityRoleForm.valid || !moduleSecurityRoleForm.dirty || moduleSecurityRoleForm.pristine  || userIsSecurityModuleSecurityRoleWriter() == false " ngbTooltip="Save the Module Security Role changes">
                                    <span *ngIf="isSaving">
                                        <span class="spinner-border spinner-border-sm me-1" role="status" aria-hidden="true"></span>
                                        Saving...
                                    </span>
                                    <span *ngIf="!isSaving">
                                        <i class="fa-solid fa-check me-1"></i>
                                        {{ isEditMode ? 'Save Changes' : 'Add Module Security Role' }}
                                    </span>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

