<div class="add-model-document" *ngIf="showAddButton == true">
    <button type="button"
        class="btn btn-sm btn-add-model-document me-2"
        (click)="openModal()"
        ngbTooltip="Add Model Document" 
        *ngIf="userIsBMCModelDocumentWriter() == true"
        placement="top"
        style="min-width: 75px;">Add</button>
</div>

<!-- ng-bootstrap modal -->
<ng-template #modelDocumentModal let-modal>
   <div class="modal-header model-document-modal-header">
      <h5 class="modal-title mb-0" id="modelDocumentModalLabel" ngbTooltip="{{objectGuid}}">
      {{ isEditMode ? 'Edit Model Document' : 'Add Model Document' }}
      </h5>
      <button type="button" class="modal-close-btn" (click)="closeModal()" aria-label="Close">
        <i class="fa fa-xmark"></i>
      </button>
   </div>
   <div class="modal-body model-document-modal-body">
      <form [formGroup]="modelDocumentForm" (ngSubmit)="submitForm()">
            <div class="form-group" *ngIf="!isFieldHidden('projectId')">
                <label for="ModelDocument-projectId" id="label-ModelDocument-projectId">Project</label>
                <select id="ModelDocument-projectId" formControlName="projectId" class="form-select model-document-select" [disabled]="!userIsBMCModelDocumentWriter()">
                    <option [ngValue]="null">Select Project</option>
                    <option *ngFor="let project of projects$ | async" [ngValue]="project.id">{{project.name}}</option>
                </select>
            </div>
            <div class="form-group" *ngIf="!isFieldHidden('name')">
                <label for="ModelDocument-name" id="label-ModelDocument-name"><span class="text-danger">*</span>Name</label>
                <input type="text" id="ModelDocument-name" formControlName="name" placeholder="Enter Name" class="form-control model-document-input" [disabled]="!userIsBMCModelDocumentWriter()" aria-labelledby="label-name" />
                <div *ngIf="modelDocumentForm.get('name')?.invalid && modelDocumentForm.get('name')?.touched" class="text-danger">
                    Name is required
                </div>
            </div>
            <div class="form-group" *ngIf="!isFieldHidden('description')">
                <label for="ModelDocument-description" id="label-ModelDocument-description">Description</label>
                <textarea id="ModelDocument-description" formControlName="description" placeholder="Enter Description" class="form-control model-document-input" [disabled]="!userIsBMCModelDocumentWriter()"></textarea>
            </div>
            <div class="form-group" *ngIf="!isFieldHidden('sourceFormat')">
                <label for="ModelDocument-sourceFormat" id="label-ModelDocument-sourceFormat"><span class="text-danger">*</span>Source Format</label>
                <input type="text" id="ModelDocument-sourceFormat" formControlName="sourceFormat" placeholder="Enter Source Format" class="form-control model-document-input" [disabled]="!userIsBMCModelDocumentWriter()" aria-labelledby="label-sourceFormat" />
                <div *ngIf="modelDocumentForm.get('sourceFormat')?.invalid && modelDocumentForm.get('sourceFormat')?.touched" class="text-danger">
                    Source Format is required
                </div>
            </div>
            <div class="form-group" *ngIf="!isFieldHidden('sourceFileName')">
                <label for="ModelDocument-sourceFileName" id="label-ModelDocument-sourceFileName">Source File Name</label>
                <input type="text" id="ModelDocument-sourceFileName" formControlName="sourceFileName" placeholder="Enter Source File Name" class="form-control model-document-input" [disabled]="!userIsBMCModelDocumentWriter()" aria-labelledby="label-sourceFileName" />
            </div>
            <div class="form-group" *ngIf="!isFieldHidden('sourceFileFileName')">
                <label for="ModelDocument-sourceFileFileName" id="label-ModelDocument-sourceFileFileName">Source File File Name</label>
                <input type="text" id="ModelDocument-sourceFileFileName" formControlName="sourceFileFileName" placeholder="Enter Source File File Name" class="form-control model-document-input" [disabled]="!userIsBMCModelDocumentWriter()" aria-labelledby="label-sourceFileFileName" />
            </div>
            <div class="form-group" *ngIf="!isFieldHidden('sourceFileSize')">
                <label for="ModelDocument-sourceFileSize" id="label-ModelDocument-sourceFileSize">Source File Size</label>
                <input type="number" id="ModelDocument-sourceFileSize" formControlName="sourceFileSize" placeholder="Enter Source File Size" class="form-control model-document-input" [disabled]="!userIsBMCModelDocumentWriter()" aria-labelledby="label-sourceFileSize" />
            </div>
            <div class="form-group" *ngIf="!isFieldHidden('sourceFileData')">
                <label for="ModelDocument-sourceFileData" id="label-ModelDocument-sourceFileData">Source File Data</label>
                <input type="text" id="ModelDocument-sourceFileData" formControlName="sourceFileData" placeholder="Enter Source File Data" class="form-control model-document-input" [disabled]="!userIsBMCModelDocumentWriter()" aria-labelledby="label-sourceFileData" />
            </div>
            <div class="form-group" *ngIf="!isFieldHidden('sourceFileMimeType')">
                <label for="ModelDocument-sourceFileMimeType" id="label-ModelDocument-sourceFileMimeType">Source File Mime Type</label>
                <input type="text" id="ModelDocument-sourceFileMimeType" formControlName="sourceFileMimeType" placeholder="Enter Source File Mime Type" class="form-control model-document-input" [disabled]="!userIsBMCModelDocumentWriter()" aria-labelledby="label-sourceFileMimeType" />
            </div>
            <div class="form-group" *ngIf="!isFieldHidden('author')">
                <label for="ModelDocument-author" id="label-ModelDocument-author">Author</label>
                <input type="text" id="ModelDocument-author" formControlName="author" placeholder="Enter Author" class="form-control model-document-input" [disabled]="!userIsBMCModelDocumentWriter()" aria-labelledby="label-author" />
            </div>
            <div class="form-group" *ngIf="!isFieldHidden('totalPartCount')">
                <label for="ModelDocument-totalPartCount" id="label-ModelDocument-totalPartCount">Total Part Count</label>
                <input type="number" id="ModelDocument-totalPartCount" formControlName="totalPartCount" placeholder="Enter Total Part Count" class="form-control model-document-input" [disabled]="!userIsBMCModelDocumentWriter()" aria-labelledby="label-totalPartCount" />
            </div>
            <div class="form-group" *ngIf="!isFieldHidden('totalStepCount')">
                <label for="ModelDocument-totalStepCount" id="label-ModelDocument-totalStepCount">Total Step Count</label>
                <input type="number" id="ModelDocument-totalStepCount" formControlName="totalStepCount" placeholder="Enter Total Step Count" class="form-control model-document-input" [disabled]="!userIsBMCModelDocumentWriter()" aria-labelledby="label-totalStepCount" />
            </div>
            <div class="form-group" *ngIf="!isFieldHidden('studioVersion')">
                <label for="ModelDocument-studioVersion" id="label-ModelDocument-studioVersion">Studio Version</label>
                <input type="text" id="ModelDocument-studioVersion" formControlName="studioVersion" placeholder="Enter Studio Version" class="form-control model-document-input" [disabled]="!userIsBMCModelDocumentWriter()" aria-labelledby="label-studioVersion" />
            </div>
            <div class="form-group" *ngIf="!isFieldHidden('instructionSettingsXml')">
                <label for="ModelDocument-instructionSettingsXml" id="label-ModelDocument-instructionSettingsXml">Instruction Settings Xml</label>
                <textarea id="ModelDocument-instructionSettingsXml" formControlName="instructionSettingsXml" placeholder="Enter Instruction Settings Xml" class="form-control model-document-input" [disabled]="!userIsBMCModelDocumentWriter()"></textarea>
            </div>
            <div class="form-group" *ngIf="!isFieldHidden('errorPartList')">
                <label for="ModelDocument-errorPartList" id="label-ModelDocument-errorPartList">Error Part List</label>
                <textarea id="ModelDocument-errorPartList" formControlName="errorPartList" placeholder="Enter Error Part List" class="form-control model-document-input" [disabled]="!userIsBMCModelDocumentWriter()"></textarea>
            </div>
            <div class="form-group" *ngIf="isEditMode && !isFieldHidden('{fc.camelCaseName}')" )>
                <label for="ModelDocument-versionNumber" id="label-ModelDocument-versionNumber"><span class="text-danger">*</span>Version Number</label>
                <input type="number" id="ModelDocument-versionNumber" formControlName="versionNumber" [disabled]="true" placeholder="Enter Version Number" class="form-control model-document-input" />
            </div>
            <div class="form-check my-2" *ngIf="isEditMode && !isFieldHidden('{fc.camelCaseName}')" )>
                <input type="checkbox" id="ModelDocument-active" formControlName="active" class="form-check-input" [disabled]="!userIsBMCModelDocumentWriter()" />
                <label for="ModelDocument-active" class="form-check-label" id="label-ModelDocument-active"><span class="text-danger">*</span>Active</label>
            </div>
            <div class="form-check my-2" *ngIf="isEditMode && !isFieldHidden('{fc.camelCaseName}')" )>
                <input type="checkbox" id="ModelDocument-deleted" formControlName="deleted" class="form-check-input" [disabled]="!userIsBMCModelDocumentWriter()" />
                <label for="ModelDocument-deleted" class="form-check-label" id="label-ModelDocument-deleted"><span class="text-danger">*</span>Deleted</label>
            </div>
         <div class="modal-footer model-document-modal-footer">
            <button type="button" class="btn btn-sm btn-secondary" (click)="closeModal()" ngbTooltip="Cancel the Model Document changes and Close">Cancel</button>
            <button type="submit" class="btn btn-sm btn-primary" [disabled]="isSaving || !modelDocumentForm.valid || modelDocumentForm.pristine  || userIsBMCModelDocumentWriter() == false " ngbTooltip="Save the Model Document changes and Close">
                <span *ngIf="isSaving">
                    <span class="spinner-border spinner-border-sm me-1" role="status" aria-hidden="true"></span>
                    Saving...
                </span>
                <span *ngIf="!isSaving">
                    <i class="fa-solid fa-check me-1"></i>
                    {{ isEditMode ? 'Save Changes' : 'Add Model Document' }}
                </span>
            </button>
         </div>
      </form>
   </div>
</ng-template>
